.clrFix:after {display: block;clear: both;content: '';}

#sub_list_catalog {position:relative; width:1100px; /*margin:0px auto; */margin-top:0px; margin-bottom:60px; border:0px;}

#product{margin:10px 0px 0px 0px;}
/*
#product .box1 { border-right: 1px dashed #AFAFAF; width: 24.5%; height: auto; min-height: 420px; margin-bottom: 10px;}
*/

#product .box1 { width: 265px; height: auto; min-height: 420px; margin-bottom: 10px; box-sizing: border-box;}
#product .box1:nth-child(4n+1) {border-left: 1px dashed #afafaf;}
#product .box1:nth-child(4n) {border-right: 1px dashed #afafaf;}
.code_group {float: left; margin-left: 20px;}
.price_group { position: relative; top: -4px; color: #000; font-size: 20px;font-weight: bold;float: right; height: 36px; line-height: 36px; margin-right: 20px;}
.price_group span { position: relative; top: 1px; vertical-align: top;font-size: 20px;}
.product_code_btn {width: 20px;height: 20px;margin-top: 8px;}
.product_code {display: inline-block;background-color: #ABD037;color: #fff;border-radius: 5px;font-weight: bold;font-size: 16px;letter-spacing: -0.02em;padding: 7px;}
.box2, .box3 {width: 100%; margin: 0 auto;}
.box3 {margin-top: 20px;}
.img_group {width: 45mm;margin: 0 auto;}
.box2 img {border: none; width:45mm; height: 45mm; margin-top: 5px;}
.box3 ul {padding: 0 10px;}
.box3 li.p_name {font-size: 15px; letter-spacing: -0.02em; text-align: left;height: auto;padding-bottom: 0;font-weight: bold;}
.box3 li.p_name b {display: block;}
.box_desc {text-align: left; margin: 14px 10px 0px 10px;}
.box_desc .opt_field select {width: 120px;height: 10px;}
.box_desc .opt_field div span {vertical-align: middle;}
.box_desc .opt_field span:last-child,
.box_desc .setting span:last-child { line-height: 120%; width: 200px;}
.box_desc .setting span.setting_value {width: 245px;}
.box_desc li {margin-bottom: 10px;}

/**
 * 옵션, 구성 리스트 높이
 * .box_desc li:not(:first-of-type)  :  한번에 조절
 * .box_desc li.opt_field     :     옵션 조절
 * .box_desc li.setting        :     구성 조절
 * --------------------------------
 */
/*.box_desc li:not(:first-of-type) {height: 80px;}*/
.box_desc li.opt_field {/*height: 20px;*/ line-height: 120%;}
.box_desc li.setting {/*height: 20px;*/}

.box_desc div span { float: left;}
.box_desc div span:first-child {width: 30%; font-weight: bold; font-size: 13px;}
.box_desc .opt_field div span:first-child, 
.box_desc .setting div span:first-child {width: 37px;}
.mini_value div span:first-child {margin-right: 7px;}

#Option_Memo { border: 1px solid #a9a9a9!important; width: 200px;}
#Set_Memo { border: 1px solid #a9a9a9!important; width: 200px;}
.setting_value input {border: 1px solid #a9a9a9;width: 200px;}

.default-btn { display: inline-block; background-color: #abd037;color: #fff; margin-top: 2px; padding: 6px;}
.default-btn:hover { color: #fff; }

@media print {
	#sub_list_catalog .depth,
	#sub_list_catalog .align {display: none;}
	#sub_list_catalog .dbn {display: none;}
}