/* Main menu wrapper */
.cbp-hsmenu-wrapper {
	position: relative;
	z-index: 99999;
}

/* Common style for all lists */
.cbp-hsmenu-wrapper ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
}

/* 100% width bar for menu */
.cbp-hsinner {
	background: #fff;
	position: relative;
	z-index: 100;
	border-bottom:4px solid #1faa35;
}

/* Main menu style */
.cbp-hsmenu-wrapper .cbp-hsmenu {
	width: 1100px;
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 0px;
	background: #fff;
}
/* 첫번째 메뉴 리스트만 별도로 정렬 */
.cbp-hsmenu-wrapper .cbp-hsmenu li:first-of-type {
	position: relative;
}
.cbp-hsmenu li:first-of-type .cbp-hssubmenu {
/*	width: 300px;
	left: -38px;*/
}
.cbp-hsmenu li:first-of-type .cbp-hssubmenu li {
	float: left;
}
/* 첫번째 메뉴 리스트만 별도로 정렬 */

.cbp-hsmenu > li {
	margin-right: 40px;
	margin-left: 40px;
	display: inline-block;
}

.cbp-hsmenu > li:first-child {
	margin-left:0px;
}

/* Main menu link style */
.cbp-hsmenu > li > a {
	color: #111;
	font-size: 17px;
	font-weight:bold;
	letter-spacing:-1px;
	line-height: 3em;
	display: inline-block;
	position: relative;
	z-index: 10000;
	outline: none;
}

.no-touch .cbp-hsmenu > li > a:hover,
.cbp-hsmenu > li.cbp-hsitem-open > a {
	color: #1faa35;
}



/* Add an arrow to the main menu link if it has a submenu (not the only child) */
.cbp-hsmenu > li > a:not(:only-child):before {
	display: inline-block;
	font-family: 'Nanum Gothic';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  font-size: 80%;
	margin-right: 3px;
	opacity: 0.4;
	vertical-align: middle;
}

.cbp-hsmenu > li.cbp-hsitem-open > a:not(:only-child):before {
  color: #111;
}

/* Add a triangle to currently open menu item link */
.cbp-hsmenu > li.cbp-hsitem-open > a:after {
	top: 100%;
	border: solid transparent;
	/*content: " ";*/
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: transparent;
	border-top-color: #ff414d;
	border-width: 15px;
	left: 50%;
	margin-left: -13px;
}

/* Submenu style */
.cbp-hssubmenu {
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	z-index: 0;
	text-align: center; /* for aligning the sub items */
	visibility: hidden;
}

.cbp-hssubmenu:before, 
.cbp-hssubmenu:after { 
	content: " "; 
	display: table; 
}
.cbp-hssubmenu:after { 
	clear: both; 
}

/* Let's allow 6 item in a row */
.cbp-hssubmenu > li {
	width: 140px;
	display: inline-block;
	vertical-align: top;
	box-shadow: -28px 0 0 -27px #666, 0 0px 0 0px #fff;
	opacity: 0;
	-webkit-transition: opacity 0.1s 0s;
	-moz-transition: opacity 0.1s 0s;
	transition: opacity 0.1s 0s;
	padding-top:5px;
	padding-bottom:5px;

}


/* The first one does not have any box shadow */
.cbp-hssubmenu > li:first-child {
	box-shadow: none;
}

.cbp-hssubmenu > li a {
	display: block;
	text-align: center;
	color: #fff;
	outline: none;
	padding: 15px 5px 10px 5px;
	font-size: 14px;;
	font-weight:bold;
}


.no-touch .cbp-hssubmenu > li a:hover,
.no-touch .cbp-hssubmenu > li a:focus {
	color: #eb347b;
}

.cbp-hssubmenu > li a img {
	border: none;
	outline: none;
	display: inline-block;
	margin: 0;
	max-width: 100%;
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.no-touch .cbp-hssubmenu > li a:hover img {
	opacity: 0.5;
}

.cbp-hssubmenu > li a span {
	display: block;
	min-height: 1.8em;
	margin-top: 20px;
}

.cbp-hsmenu > li.cbp-hsitem-open .cbp-hssubmenu {
	z-index: 1000;
	visibility: visible;
}

.cbp-hsmenu > li.cbp-hsitem-open .cbp-hssubmenu > li {
	opacity: 1;
	-webkit-transition: opacity 0.5s 0.1s;
	-moz-transition: opacity 0.5s 0.1s;
	transition: opacity 0.5s 0.1s;
}

/* Helper div for animating the background */
.cbp-hsmenubg {
	background: #363636;
	position: absolute;
	width: 100%;
	top: 100%;
	left: 0;
	z-index: 99;
	height: 0px;
	opacity:0.95
}

.no-touch .cbp-hsmenubg {
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;
}
