/* header */
#header {/* position:fixed; left:0; top:0px;height:135px; */	width:100%; margin:0px auto; list-style: none ; background:WHITE;  z-index:999}
#header_office {/* position:fixed; left:0; top:0px; */	width:100%; margin:0px auto; list-style: none ; /* background:#05a1c5; */ height:177px; z-index:999}
#header_flower {/* position:fixed; left:0; top:0px; */	width:100%; margin:0px auto; list-style: none ; background:#ef503f; height:135px; z-index:999}
#header_box {position:relative; width:1100px; height:135px;  margin:0 auto;}
#header_boxOffice {position:relative; width:1100px; height:135px;  margin:0 auto; }
#header_boxFlower {position:relative; width:1100px; height:135px;  margin:0 auto;}
#top_login { position: relative; float:right; font:bold 12px /14px 'Nanum Gothic',  Gulim, Arial, sans-serif; margin-top:16px; width:370px;}
#top_login ul li {float:right; margin:0px; border-right:1px solid #666; padding-right:9px; padding-left:9px; padding-top:0px; letter-spacing:0px;}
#top_login ul li a { color:#252525}
#top_login ul li a:hover { text-decoration:underline}
.topLogo { position:absolute; top:52px; left:0px;width:195px;height:70px;}
.topLogo a{font-size:30px;letter-spacing:-2px;color:#fff;height:50px;line-height:50px;}
.topLogo  img{width:100%;}
.clear {clear:both}  
.mall_btn {position: relative; float:right; margin-top:30px;}
.mall_btn a {display:inline-block;float:left;margin-right:3px;width:145px;height:35px;line-height:35px;border:3px solid #99a3a9;border-radius:50px;background:#008cdd;color:#ffea00;font-size:15px;}
#search_box { float:left; background:none; margin-left:395px; margin-top:25px; border:4px solid #ccc}
#search_box li {float:left;}
#search_box li .input { width:220px; height:37px;margin-right:1px; background:#fff; border:0px;font:normal 13px /14px 'Nanum Gothic', Gulim, Arial, sans-serif; text-indent:10px; color:#008cdd; line-height:29px;}
#search_view {position: absolute; width:220px; border:0px;background:#fff; top:107px;left:395px; z-index:9999; border-bottom-left-radius:10px;border-bottom-right-radius:10px;}
#search_view li { width:220px; line-height:22px; cursor:pointer; text-align:left; text-indent:11px; border-top:1px dotted #252525}
#search_view li:hover { text-decoration:underline;}

#point_box { float:right;margin-top:5px ; width:550px; text-align:right}
#point_box li {float:right; margin-left:3px;}
.pt_name { width:300px; height:33px; background:none; border:0px;font:bold 13px /14px  'Nanum Gothic', Gulim, Arial, sans-serif; text-indent:10px; color:#252525; line-height:35px; text-align:right}
.point { width:110px; text-indent:5px; height:24px; border:0px; font:bold 14px /16px 'Nanum Gothic', Gulim, Arial, sans-serif; color:#252525; line-height:25px; text-align:right; margin-top:5px; padding-right:7px;background:#999;}

.sugiBtn { position:absolute; top:7px; left:0px;}
.sugiBtn input {width:200px; height:25px; color:#333; font-weight:bold; background:#999; border:1px solid #666}

/* top_menu */
.topmenu { width:100%; text-align:center; margin:0 auto; background:#008cdd;height:40px; border-top:1px solid #33a3e4; border-bottom:1px solid #33a3e4; z-index:99999;	}
.topmenuOffice { width:100%; text-align:center; margin:0 auto; background:#05a1c5;height:40px; border-top:1px solid #04b7e0; border-bottom:1px solid #04b7e0; z-index:99999;	}
.topmenuFlower { width:100%; text-align:center; margin:0 auto; background:#ef503f;height:40px; border-top:1px solid #ef8c81; border-bottom:1px solid #ef8c81; z-index:99999;	}
#menu_box { position:relative; width:950px;padding-left:50px; margin:0 auto; z-index:999;}
/* nav menu */
#nav { position:relative; width:1050px; }
#nav li { position: relative; display: inline-block;}
#nav li.office_item {padding-left: 20px;
padding-right: 20px;}
#nav li a {  display: block; font-weight:bold; line-height:40px;  text-decoration: none; color: #fff;	border-bottom: 0px solid transparent; padding-right:13px; padding-left:13px; padding-top:0px;top:-5px;font-size:16px; z-index:9999;}
#nav li a:hover, #nav li a.hov { color: #ffea00; line-height:40px; }

/* subnav */
#nav ul { position: absolute;	display: none; margin: 0px auto; padding: 0; list-style: none; left:0px; border-radius:20px;background:#fff;width:150px; border:4px solid #ccc}	
#nav ul li { border-top: 0px;	float: left; text-align: left; width:150px; margin:0 }
#nav ul a { display: block; height: 22px; line-height: 22px; padding:3px 0px; color: #666; font-weight:bold ;text-indent:18px;	width:150px; font-size:13px;margin:0;}
#nav ul a:hover { text-decoration: none; color:#fff; width:150px; line-height: 22px; font-weight:bold; border-radius:23px; background:#666}
* html #nav ul { margin:0px; border-radius:20px;}

/** clearfix **/
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
 
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 0; }


/* 전체카테고리보기 */
.allmenu {position:absolute; width:100%;text-align:left; margin:0 auto; background:none; left:0px;}
.allbox{ position:relative; margin:0 auto; height:40px; width:1100px;}
.allboxTitle { display: block; text-decoration: none; color: #ffc00f; text-align:center;	background-color:#00285e;	width:150px;	height:40px;line-height:25px;	border-right:1px solid #ffc00f;	border-left:1px solid #ffc00f;}
.allboxTitle:hover { color:#fff}	

ul.ldd_menu{
	position:absolute;
	z-index:999;
	width:150px;
	margin:0px;
	padding:0;
	display:block;
	height:40px;
	background-color:none;
	list-style:none;
	font-family:'Nanumgothic', Arial, sans-serif;
	font-size:14px;
}
ul.ldd_menu a{
	text-decoration:none;
  font-family:'Nanumgothic', Arial, sans-serif;
}
ul.ldd_menu > li{
	float:left;
	position:relative;
}
ul.ldd_menu > li > span{
	float:left;
	color: #c2c2c2;
	font-family:'Nanumgothic', Arial, sans-serif;	
	font-weight:700;
	height:30px;
	text-align:center;
	line-height:30px;
	cursor:default;
	padding:2px 15px;
	text-shadow:0;
	border-right:1px solid #c2c2c2;
	border-left:1px solid #c2c2c2;
	z-index:9999;
	margin-top:4px; margin-bottom:20px;
}
ul.ldd_menu > li > span:hover{
  color:#ffea00
}
ul.ldd_menu .ldd_submenu{
	position:absolute;
	top:35px;
	width:150px;
	display:none;
	opacity:1;
	left:-1px;
	font-family:'Nanumgothic', Arial, sans-serif;
	font-size:12px;	
	background: none;
	text-align:left;
	z-index:999;
}

/* 전체카테고리 보기 오른쪽 뎁스표현 css */
#leftmenuBox { position:fixed; margin:0px auto; clear:both; top:175px; z-index:400; width:140px; height:400px; background:none;margin-right:560px;right:50%;  }
.leftmenu { background:none; opacity: 0.9; z-index:400; width:150px; height:280px; text-align:left; float:left; margin-bottom:10px;}
.m1 {text-align:left; padding-left:5px; font-family:'Nanum Gothic', Gulim, Arial, sans-serif; font-size:14px; font-weight:bold; color:#f03f35; line-height:25px; margin-right:27px; margin-top: 10px;border-bottom:1px solid #999}
.m2 {text-align:right; margin-right:27px; margin-top: 20px;}

/* ================================================================ 
This copyright notice must be untouched at all times.

The original version of this stylesheet and the associated (x)html
is available at http://www.cssplay.co.uk/menus/final_drop.html
Copyright (c) 2005-2008 Stu Nicholls. All rights reserved.
This stylesheet and the associated (x)html may be modified in any 
way to fit your requirements.
=================================================================== */


#navigation {width:145px;position:relative; z-index:100;margin-top:6px;float:left; padding:5px;font-size:13px; text-align:left; text-indent:5px; background:#999; border-radius:3px;}
/* hack to correct IE5.5 faulty box model */
* html #navigation {width:145px; w\idth:145px;}
/* float the list to make it horizontal and a relative positon so that you can control the dropdown menu positon */
#navigation li {width:145px;position:relative; }
/* style the links for the top level */
#navigation a, #navigation a:visited {display:block; padding-top:5px; padding-left:5px; line-height:25px;color:#fff; background:none; font-weight:normal; border-bottom:1px solid #666;width:145x; }
/* a hack so that IE5.5 faulty box model is corrected */
* html #navigation a, * html #navigation a:visited {width:145px; w\idth:145px; }

/* style the second level background */
#navigation ul ul a.drop, #navigation ul ul a.drop:visited {line-height:25px;background:#999;}
/* style the second level hover */
#navigation ul ul a.drop:hover{background:#666; color:#fff;line-height:25px;  }
#navigation ul ul :hover > a.drop {background:#666; color:#202c32;line-height:25px;}
/* style the third level background */
#navigation ul ul ul a, #navigation ul ul ul a:visited {background:none; border-bottom:1px solid #666; line-height:25px;width:135px;}
/* 3뎁스 hover */
#navigation ul ul ul a:hover {color:#fff; line-height:25px; background:#666; border-bottom:1px solid #fff; width:135px;}


/* 2뎁스 3뎁스 백그라운드*/
#navigation ul ul {visibility:hidden;position:absolute;top:0px;left:145px;  padding:5px; width:145px; background:#999; z-index:101;border-radius:3px; }
/* another hack for IE5.5 */
* html #navigation ul ul {top:-9px;t\op:-10px;}

/* position the third level flyout menu */
#navigation ul ul ul{left:140px; top:0px; width:145px;background:#999;}

/* position the third level flyout menu for a left flyout */
#navigation ul ul ul.left {left:-149px;}

/* style the table so that it takes no ppart in the layout - required for IE to work */
#navigation table {position:absolute; top:0; left:0; border-collapse:collapse;}

/* style the second level links */
#navigation ul ul a, #navigation ul ul a:visited { color:#fff; height:auto; text-indent:0px; display:block; padding:5px; text-decoration:none; font-size:13px;line-height:25px; width:145px;background:#999;width:135px}
/* yet another hack for IE5.5 */
* html #navigation ul ul a, * html #navigation ul ul a:visited {width:135px;w\idth:135px;border-bottom:1px solid #666}

/* style the top level hover */
#navigation :hover > a {background:#666;color:#fff; font-weight:bold; padding-top:5px; line-height:25px;border-bottom:1px solid #fff; width:140px}
#navigation ul ul :hover > a {background:#666;color:#fff; font-weight:bold; padding-top:5px; line-height:25px;border-bottom:1px solid #fff; width:135px}

#navigation ul ul a:hover {background:#666;color:#fff; }
/* make the second level visible when hover on first level list OR link */
#navigation ul li:hover ul,
#navigation ul a:hover ul{visibility:visible; }
/* keep the third level hidden when you hover on first level list OR link */
#navigation ul :hover ul ul{visibility:hidden;}
/* make the third level visible when you hover over second level list OR link */
#navigation ul :hover ul :hover ul{ visibility:visible}



/* footer */
#footer{ position:relative; width:100%; background:#FFF; margin: 0 auto; /* height:240px; */ border-top:4px solid #252525; padding:25px 0;overflow:hidden;}
.footer_box{ width:1100px;margin:0 auto; background:#FFF;}
#footer .cs{margin-bottom:20px;overflow:hidden;}
#footer .cs div{text-align:left;float:left;border-left:1px solid #333;width:200px;height:120px;padding:20px;color:#333;}
#footer .cs div:first-child{border-left:none;}
#footer .cs p{line-height:1.3;letter-spacing:-1px;}
#footer .cs .tit{font-size:20px;}
#footer .cs .sub_tit{font-size:13px;margin:20px 0;}
#footer .cs .s_font{font-size:12px;}
#footer .cs .cs_center{}
#footer .cs .cs_center .call a{font-size:20px;font-weight:500;color:#333;}

#footer .cs .btn_quick{width:337px;}
#footer .cs .btn_quick ul{text-align:center; width:360px; margin-right:25px;}
#footer .cs .btn_quick li{ width:173px; float:left;}
#footer .btn5 {float:center; position:relative; text-align:left; width:100%; margin-right:25px; margin-top:-24px;}
#footer .btn5 ul{float:center; width:100%;}
#footer .btn5 li { width:173px; float:left; float:left;}


.info {clear:both; width:1100px; color:#252525; font:normal 12px /20px 'Nanum Gothic', Gulim, Arial, sans-serif; text-align:left; background:#FFF; padding-top:15px; padding-left:5px; border-top:1px solid #252525;}

.info2 { float:left; }
.info3 { float:left; width:300px; font:normal 12px /14px 'Nanum Gothic', Gulim, Arial, sans-serif; top:11px;}
.info3 ul li {float:left; margin:0px; border-right:1px solid #ccc; padding:0px 5px 0px 5px;}
.copy { position: relative; clear:both; left:0px; color:#252525; font:normal 12px /20px 'Nanum Gothic', Gulim, Arial, sans-serif; text-align:left; float:left; background:#FFF; padding-left:5px; width:650px;}