/*@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);*/

@font-face{
font-family:'Nanum Gothic';
font-style:normal;
src:url(../../font/NanumGothic.eot);
src:url(../../font/NanumGothic.eot?#iefix) format('embedded-opentype'),
url(../../font/NanumGothic.woff) format('woff'),
url(../../font/NanumGothic-Regular.ttf) format('truetype');
}

@font-face{
font-family:'Nanum Gothic';
font-style:bold;
src:url(../../font/NanumGothicBold.eot);
src:url(../../font/NanumGothicBold.eot?#iefix) format('embedded-opentype'),
url(../../font/NanumGothicBold.woff) format('woff'),
url(../../font/NanumGothic-Bold.ttf) format('truetype');
}

/* Reset CSS  */
*{margin:0;padding:0;border:0;outline:0;vertical-align:top;font-family:'Nanum Gothic';}
ul,li,dl,dt,dd{list-style:none outside ;margin:0 ;padding:0 ;}
img{border:0px;}
input{vertical-align:middle;}
select{vertical-align:middle;width:170px;height:29px;border:0px;font:normal 13px /14px 'Nanum Gothic',Gulim,Arial,sans-serif;text-indent:10px;color:#252525;line-height:29px;background-color:#e1e1e1}
body{font-family:'Nanum Gothic','Gulim' 'Arial' ;font-size:100%;line-height:1;}
label{cursor:pointer;}

/* common */
body{
padding:0;
margin:0;
font-family:'Nanum Gothic',Arial,serif;
font-size:12px;
border:0px;
text-align:center;
text-decoration:none;
}
#wrap{
width:100%;
margin:0 auto;
border:0px;
}
img{border:0px;}
a{text-decoration:none;color:#008cdd}
a:link{text-decoration:none;}
a:hover{text-decoration:none;color:#000;}

.clear{clear:both;}
.clearfix:after{display:table;content:'';clear:both;}
.div{width:100%;background:none;text-align:center}
.btn{cursor:pointer;}

h1{font-size:26px;text-align:left;color:#008cdd}
h2{font-size:18px;color:black;text-align:left;}
h3{font-size:12px;color:#008cdd;text-align:left;}
.fl{float:left}
.ri{float:right}
.inputbox{border:0;width:170px;height:25px;text-indent:8px;font:normal 12px /14px 'Nanum Gothic', Gulim,Arial,Helvetica,sans-serif;background:#e1e1e1;}
.rdbox{border:0px;width:170px;height:25px;text-indent:8px;font:normal 14px /16px 'Nanum Gothic',Gulim,Arial,Helvetica,sans-serif;letter-spacing:1px;}

/* 메인롤링*/
#content{width:100%;margin:0 auto;top:100px;/* padding-top:180px;height:440px;*/ background:WHITE;text-align:center}
/* #content_office{width:100%;margin:0 auto;top:100px;padding-top:180px;height:440px;background:#05a1c5;text-align:center} */
#content_office{width:100%;margin:0 auto;height:177px;background:#05a1c5;text-align:center}
#content_flower{width:100%;margin:0 auto;top:100px;padding-top:180px;height:440px;background:#ef503f;text-align:center}
div#feature_list{width:1100px;height:380px;/* overflow:hidden;*/	position:relative;margin:25px auto;}
div#feature_list ul{position:absolute;top:0;list-style:none;	padding:0;margin:0;}
ul#tabs{right:0;z-index:2;}
ul#tabs li{border-radius:30px;width:283px;height:112px;margin-top:20px;overflow:hidden;}
ul#tabs li:first-child{margin-top:0;}
ul#tabs li img{border:none;float:left;cursor:pointer;width:100%;height:100%;}
ul#tabs li a{text-decoration:none;	display:block;outline:none;}
ul#tabs li a.current{background:url('../../images/slider/feature-tab-current.png');}
ul#tabs li a.current:hover{text-decoration:none;cursor:default;}
ul#output{left:0;width:796px;height:377px;border-radius:30px;overflow:hidden;position:relative;}
ul#output li a{text-decoration:none;}
ul#output li a img{width:100%;height:100%;}

/* main */
#banner{position:relative;clear:both;width:1100px;margin:30px auto;border:0px;height:160px;}
.bn{width:1100px;border-bottom:0px;height:160px;}
.bn ul li{position:relative;float:left;width:260px;height:160px;margin-left:20px;border-right:0px ;margin-bottom:28px;border-radius:30px;overflow:hidden;}
.bn ul li:first-child{margin-left:0;}
.bn ul li img{width:100%;height:100%;}
.bn ul li:hover img{opacity:0.6;filter:alpha(opacity:'10');}

.pic1{width:219px;height:181px;background:#000000;opacity:0;}
.pic1:hover{opacity:0.9;}
.text{color:#999; font:bold 12px /16px 'Nanum Gothic',Gulim,Arial,Helvetica,sans-serif;padding-top:65px;}
.text_b{color:#fff;font:bold 16px /23px 'Nanum Gothic',Gulim,Arial,Helvetica,sans-serif;letter-spacing:-1px}

#sub_list{position:relative;width:1100px;margin:110px auto;margin-bottom:70px;border:0px;}
#sub_detail{position:relative;width:1100px;margin:50px auto;margin-bottom:30px;border:0px;}
#sub{position:relative;width:1100px;margin:50px auto;border:0px;}

#pagetitle{position:relative;text-align:left;/* padding-top:60px;*/ color:#666;font:bold 26px /30px 'Nanum Gothic',Gulim,Arial,sans-serif;height:40px;}

#pagetitle2{position:relative;text-align:center;margin-top:90px;margin-bottom:40px;}
.noticeBox{margin-bottom:120px;text-align:center;}

/* 게이트 */
#gate{position:relative;width:879px;height:490px;margin:0 auto;top:100px;background-image:url(../../images/gate_bg.jpg);background-repeat:no-repeat;text-align:left}
.gatebox{position:relative;width:485px;height:329px;font:normal 12px /14px 'Nanum Gothic',Gulim,Arial,Helvetica,sans-serif;background:none;float:left;}
.gateform{position:relative;list-style:none;top:75px;width:330px;left:80px;text-align:center}
.gateform ul{position:relative;float:left;top:30px;}
.gateform ul li.idpw{margin-bottom:3px ;color:#fff;text-align:left;}
.gateform ul li.idpw input{background:#e1e1e1; width:220px;border:0;height:31px;line-height:31px;font:bold 14px/31px 'Nanum Gothic',Gulim,Arial,sans-serif;text-indent:10px;}
.gateform ul li.keep{float:left;color:#898989;margin-top:5px;font-size:11px;line-height:25px}
.gateform ul li.write{float:left;margin-left:15px;color:#898989;font-size:13px;line-height:25px;background:#027cc5;width:80px;height:30px;color:white;}
.gateform ul li.write .write_div{margin-top:3px;cursor:pointer;}
.gatebtn{position:relative;cursor:pointer;top:30px;}
.gate_jbtn{position:relative;cursor:pointer;top:4px;}
.gate_bt{position:relative;text-align:left;left:80px;top:120px;list-style:none;clear:both;color:#898989;line-height:17px;border-top:1px solid #acacac;padding-top:7px;width:300px;font-size:13px;}
.gate_join{position:relative;width:840px;margin:0 auto;padding-top:40px;border-top:1px solid #CCC;margin-left:20px;}
.gate_join li{float:left;height:100px;text-align:left;margin-left:60px;line-height:18px;font-size:13px;}
.gft{position:relative;clear:both;width:83%;margin:0 auto;height:140px;background:none;}
.g_info{position:relative;float:left;top:12px;font-size:25px;font-weight:bold;margin-top:15px; letter-spacing:-1px;}
.g_info .g_info_2{position:relative;float:left;font-size:12px;margin-top:20px;font:normal 12px /18px 'Nanum Gothic',Gulim,Arial,sans-serif;}
.g_info2{position:relative;float:right;top:12px;font:normal 12px /18px 'Nanum Gothic',Gulim,Arial,sans-serif;text-align:left;color:#252525;padding-left:29px;letter-spacing:-1px;}
.orange{width:1017px;text-align:center;border-top:1px solid #008cdd;border-bottom:7px solid #008cdd;top:110px;}

.search_id a{text-decoration:none;color:#555;font:12px/22px 'Nanum Gothic','Gulim',Arial,sans-serif;}
.search_id a:hover{text-decoration:underline}


/* 로그인 회원가입 마이페이지 */
.loginbox{position:relative;margin:0 auto;width:370px;top:100px;font:normal 12px /14px 'Nanum Gothic',Gulim,Arial,Helvetica,sans-serif;}
.loginform{text-align:center;list-style:none;margin-top:40px;}
.loginform ul{position:relative;text-align:right;float:left;}
.loginform ul li{margin-bottom:3px ;font:bold 12px /14px 'Nanum Gothic',Gulim,Arial,Helvetica,sans-serif;}
.loginbtn{position:relative;cursor:pointer}
.login_bt{position:relative;text-align:left;left:55px;top:30px;list-style:none;clear:both;width:238px;}
.loginkeep{text-align:left;margin-left:53px;margin-top:15px;color:#666;font-weight:normal}
.box_title{position:relative;text-align:left;top:53px;text-indent:60px;height:25px;font-weight:bold;font-size:14px }
.box{width:980px;height:200px;border:40px solid #ebebeb;font:normal 12px /20px 'Nanum Gothic',Gulim,Arial,Helvetica,sans-serif;padding:20px;}

.ta_check{position:relative;text-align:right;top:-30px;left:-42px;}

#joinpage{position:relative;clear:both;width:1017px;margin:0 auto;border:0px;top:50px;}
.joinbox{position:relative;width:980px;/* height:340px;*/ border:1px solid #ebebeb;font:normal 12px /20px 'Nanum Gothic',Gulim,Arial,Helvetica,sans-serif;padding:40px 40px 20px;margin:0 auto;top:10px;overflow:hidden;}
.jointitle{width:150px;text-indent:20px;background:#ebebeb;font-weight:bold;}
.joinform{width:980px;text-align:left;list-style:none;}
.joinform div{position:relative;float:left;width:980px;font:normal 14px /14px 'Nanum Gothic',Gulim,Arial,sans-serif;background:none;line-height:48px;border-top:1px solid #CCC;}
.joinform li{float:left;padding-left:10px;}
.joinform li input.input{background:#e1e1e1; width:220px;border:0;height:31px;line-height:31px;font:bold 13px/31px 'Nanum Gothic',Gulim,Arial,sans-serif;text-indent:8px;}
.checkbtn{font:normal 11px/18px  'Nanum Gothic',Gulim,Arial,sans-serif;width:50px;color:black;border:1px solid #666;color:#464646;border-radius:3px;cursor:pointer;padding-bottom:1px;background:#ebebeb;letter-spacing:-1px}
#joinbtnBox{position:relative;border:0px;text-align:center;background:none;cursor:pointer;margin-top:50px;}
.joinbtn{cursor:pointer;width:228px;height:57px}



/* 회원가입 */
#gatejoin{position:relative;clear:both;width:1017px;margin:0 auto;border:0px;top:50px;}
.gJtitle{width:120px;text-indent:10px;background:#ebebeb;font-weight:bold;}
.gJform{width:930px;text-align:left;list-style:none;border:1px solid #ebebeb;padding:40px;height:450px;}
.gJform div{position:relative;float:left;width:937px;font:normal 14px /14px 'Nanum Gothic',Gulim,Arial,sans-serif;background:none;line-height:48px;border-top:1px solid #CCC;}
.gJform li{float:left;padding-left:10px;}
.gJform li input.input{background:#e1e1e1; width:150px;border:0;height:31px;line-height:31px;font:bold 13px/31px 'Nanum Gothic',Gulim,Arial,sans-serif;text-indent:8px}
#gJbtnBox{position:relative;border:0px;text-align:center;background:none;cursor:pointer;margin-top:40px;}

.abox{position:relative;width:970px; border:0 ;font-size:9pt;line-height:10pt; font-family:'Nanum Gothic',serif;padding:20px;background-color:#ebebeb;height:140px;}
#jtab{background:#fff;float:left;width:1017px;line-height:normal;border-bottom:3px solid #008cdd;margin-top:30px;margin-bottom:20px;font:normal 14px /20px 'Nanum Gothic',Gulim,Arial,Helvetica,sans-serif;}
#jtab ul{padding-bottom:0px;margin:0px;padding-top:0px;list-style-type:none;}
#jtab li{background:#ebebeb;float:left;margin:0px;padding-top:9px;border-left:1px solid #d7d7d7;border-right:1px solid #d7d7d7;border-top:1px solid #d7d7d7;width:274px;height:34px;}
#jtab A{display:block;padding-left:6px; background:#ebebeb;float:left;padding-bottom:4px;color:#000;padding-top:8px;text-decoration:none}
#jtab A{float:none }
#jtab A:hover{color:#008cdd }
#jtab #current{background:#008cdd;font-weight:bold;border-left:1px solid #008cdd;border-right:1px solid #008cdd;border-top:1px solid #008cdd;}
#jtab #current A{background:#008cdd;padding-bottom:5px;color:#fff;font-weight:bold;}

.idpwbox{position:relative;width:370px;top:70px;font:normal 12px /14px Gulim,Arial,Helvetica,sans-serif;float:left;margin-left:120px;margin-bottom:200px }
.idpwform{text-align:center;list-style:none;margin-top:30px; }
.idpwform ul{position:relative;text-align:right;float:left;}
.idpwform ul li{margin-bottom:3px;font:bold 12px /14px Gulim,Arial,Helvetica,sans-serif;}
.idpwform_box{border:1px solid #ebebeb;height:180px;padding-top:40px;padding-left:50px;}
.idpwform_bt{position:relative;text-align:left;left:55px;top:30px;list-style:none;clear:both;width:238px;}

.formbtn{position:relative;margin-right:20px;cursor:pointer;z-index:100px}

/* 마이페이지 구분 */
#mypage{padding:0px;margin:0px;width:1100px;font:normal 14px /20px 'Nanum Gothic',Gulim,Arial,Helvetica,sans-serif;color:#000;voice-family:inherit}
.mypagetitle{text-align:left;height:50px;line-height:20px;margin-left:20px;margin-top:60px;padding-top:20px;}
#tab{background:#fff;float:left;width:1099px;line-height:normal;border-bottom:3px solid #666;}
#tab ul{padding-bottom:0px;margin:0px;padding-top:0px;list-style-type:none;}
#tab li{background:#fff;float:left;margin:0px;padding-top:9px;border-left:1px solid #ebebeb;border-top:1px solid #ebebeb;width:219px;height:34px;}
#tab A{display:block;padding-left:6px; background:#fff;float:left;padding-bottom:4px;color:#000;padding-top:8px;text-decoration:none}
#tab A{float:none }
#tab A:hover{color:#999 }
#tab #current{background:#666;font-weight:bold;}
#tab #current A{background:#666;padding-bottom:5px;color:#fff;font-weight:bold;}
.rdonly{border:0px;font-size:16px;font-weight:bold;text-indent:10px;}
.grade{position:relative; left:160px;top:-11px;font:normal 12px /14px 'Nanum Gothic',Gulim,Arial,sans-serif;height:20px;width:800px;}
.grade li{float:left;}
.sbtn{font:normal 11px/18px  'Nanum Gothic',Gulim,Arial,sans-serif;width:70px;border:1px solid #999;color:#464646;border-radius:2px;cursor:pointer;padding-top:0px;background:#fff;letter-spacing:-1px;margin-right:5px;box-shadow:1px 1px #ebebeb;margin-top:3px;}
.gbtn{font:normal 11px/18px  'Nanum Gothic',Gulim,Arial,sans-serif;width:70px;border:1px solid #000;border-radius:2px;cursor:pointer;padding-top:3px;letter-spacing:-1px;margin-right:5px;box-shadow:1px 1px #ebebeb;margin-top:3px;background:#666;color:#fff}
.prbtn{font:normal 12px 'Nanum Gothic',Gulim,Arial,sans-serif;width:50px;border:1px solid #999;color:#464646;margin-right:2px;border-radius:2px;cursor:pointer;padding-top:0px;background:#fff;letter-spacing:-1px;margin-top:3px;line-height:18px;}
.prbtn:hover{color:#fff;background:#999;}

.mpBox{position:relative;clear:both;width:1100px;height:auto; font:normal 12px /20px 'Nanum Gothic' Gulim,Arial,Helvetica,sans-serif;top:10px;}
.mpForm{width:1100px;text-align:left;list-style:none;}
.mpForm div{position:relative;float:left;width:1100px;font:normal 12px /14px 'Nanum Gothic' Gulim,Arial,sans-serif;border-top:1px solid #CCC;}
.mpForm div.infoBox{border-bottom:3px solid #ebebeb}
.mpForm li{float:left;}
.mptt{background:#e1e1e1;color:#464646;text-align:center;font-weight:bold;margin-top:5px;}
.mp_line{width:735px; padding-left:10px;padding-right:10px;border-right:1px solid #ccc;line-height:40px}
.mp_Pinfo{width:600px;height:95px;border-right:1px solid #CCC;padding-left:30px;padding-right:15px;padding-top:15px;}
.mp_infoName{ font:bold 14px /20px 'Nanum Gothic' Gulim,Arial,Helvetica,sans-serif;border:0px solid;width:640px;}
.mp_infoName a{text-decoration:none;color:#464646}
.mp_infoPrice{clear:both; font:bold 14px /16px 'Nanum Gothic' Gulim,Arial,Helvetica,sans-serif;color:#dc1010}
.mp_infoOption{clear:both;width:450px; font:normal 11px /20px 'Nanum Gothic' Gulim,Arial,Helvetica,sans-serif;color:#999;}
.mp_infoEa{clear:both;font:normal 11px /20px 'Nanum Gothic' Gulim,Arial,Helvetica,sans-serif;color:#000;}
.mp_Add{clear:both;font:normal 11px /20px 'Nanum Gothic' Gulim,Arial,Helvetica,sans-serif;color:#464646;background:#e1e1e1;}
.mp_Date{width:130px;height:95px;font:normal 12px /18px 'Nanum Gothic' Gulim,Arial,Helvetica,sans-serif;color:#999;padding-top:14px;padding-left:10px;padding-right:10px;text-align:center;border-right:1px solid #ccc;}
.mp_delivery{color:#464646;margin-top:10px;text-decoration:underline}

.mp_Right{font:bold 14px /20px 'Nanum Gothic' Gulim,Arial,Helvetica,sans-serif;color:#000;width:125px;padding-top:14px;padding-left:11px;text-align:center;}

.mp_left{width:180px;padding-top:20px;padding-left:0px;text-align:center; }
.mp_left li{width:180px;margin-left:8px;line-height:22px; font:normal 13px /18px 'Nanum Gothic' Gulim,Arial,Helvetica,sans-serif; }
.mp_left b{font-size:13px;}
.mp_comp{width:130px;font:bold 14px /20px 'Nanum Gothic' Gulim,Arial,Helvetica,sans-serif;color:#dc1010;padding-top:18px; padding-left:10px;text-align:center;}

.buyTt{border-right:1px solid #fff;}
.buyTd{border-left:1px solid #ebebeb;border-bottom:1px solid #ebebeb;text-align:center;vertical-align:middle;line-height:20px;}


.pageNo_box{position:relative;width:1100px;text-align:center;height:25px;top:40px; margin:0 auto;clear:both ;font-family:'Nanumgothic',Arial,sans-serif;font-size:16px;}
.pageNo_box  a{padding-left:5px;padding-right:5px;font-family:'Nanum Gothic',Gulim,Arial,Helvetica,sans-serif;font-weight:bold;color:#999;}
.pageNo_box a:hover{color:#000 }
.pageNo_box a:active{font-weight:bold;color:#000;}

.bi_sbtn{font:normal 11px/14px  'Nanum Gothic',Gulim,Arial,sans-serif;width:40px;border:1px solid #999;color:#464646;margin-right:2px;border-radius:2px;cursor:pointer;padding-top:2px;background:#fff;letter-spacing:-1px;margin-top:3px;}
.bi_sbtn:hover{font:normal 11px/14px  'Nanum Gothic',Gulim,Arial,sans-serif;width:40px;border:1px solid #999;color:#fff;margin-right:2px;border-radius:2px;cursor:pointer;padding-top:2px;background:#999;letter-spacing:-1px;margin-top:3px;}
.bi_Pbox{position:relative;height:145px;border-top:1px solid #ebebeb;border-right:1px solid #ccc; }
.bi_Pbox img{width:80px;height:80px;}
.pointBox{position:relative;width:500px;height:80px;border:5px solid #ffea00;color:#464646;background:#fff;padding-top:30px;margin-bottom:30px;clear:both;margin-left:20px}
.pointUse{position:relative;left:90px;background-image:url(../../images/point_use.jpg);background-repeat:no-repeat;width:300px;height:50px;text-align:right;text-indent:70px;font-size:18px;color:#252525;line-height:25px;}
.pointCont{border-bottom:1px solid #ccc;color:#464646;text-align:center;border-top:0px;}

/* 결제페이지 수량추가 구분 */
.orderEa{width:75px;height:95px;font:normal 14px /18px 'Nanum Gothic',Gulim,Arial,Helvetica,sans-serif;color:#666;padding-top:14px;padding-left:10px;padding-right:10px;text-align:center;border-right:1px solid #ccc;}

#orderSum{width:1100px;clear:both;background:#fff; color:#464646;font-weight:bold;padding:0px;margin:0 auto;border:0 ;text-align:center}
#orderSum ul{float:right; border:5px solid #ebebeb;;text-align:right;padding-left:10px;}
#orderSum ul li{padding-right:10px;float:right;font-size:14px;line-height:40px;}
#orderSum ul li strong{padding-right:3px;color:#252525; font-weight:bold;text-align:right;}
#orderSum ul li strong.price{text-align:right; color:#008cdd; }

/* 장바구니 구분 */
#cart{padding-top:45px;margin:0px auto;width:1100px;}
#tabCart{float:left;width:1100px;border-bottom:4px solid #ebebeb;border-top:1px solid #ebebeb;margin-top:15px;margin-bottom:20px;text-align:center}
#tabCart li{float:left;margin:0;width:320px;height:90px;color:#CCC;font-size:28px;font-weight:bold;text-align:center;padding-top:30px;}
#tabCart li.on{float:left;margin:0;width:320px;height:90px;color:#555;font-size:28px;font-weight:bold;text-align:center;padding-top:30px;}
#tabCart li p{padding-top:9px;font:normal 13px/16px 'Nanum Gothic',Gulim,Arial,sans-serif;}
.cartPrice{width:130px;height:95px;font:bold 14px /18px 'Nanum Gothic',Gulim,Arial,Helvetica,sans-serif;color:#252525;padding-top:14px;padding-left:10px;padding-right:10px;text-align:center;border-right:1px solid #ccc;}
.cartOption{font:normal 12px /16px 'Nanum Gothic',Gulim,Arial,Helvetica,sans-serif;color:#464646;margin-right:5px;line-height:40px;}
.cartBtn{position:relative;text-align:center;margin-bottom:150px;float:left;width:1100px;top:50px;}

#cartSum{width:1100px;clear:both;background:#fff; color:#464646;font-weight:bold;padding:0px;margin:0 auto;border:0 }
#cartSum ul{float:right;width:295px;border:5px solid #ebebeb;}
#cartSum ul li{width:125px;padding-left:15px;text-align:left;font-size:14px;line-height:40px;}
#cartSum ul li strong{padding-right:5px;color:#008cdd; font-weight:bold;font-size:18px;text-align:right;}
#cartSum ul li.price{text-align:right }

#sumBox{width:1030px;clear:both;background:#fff;border:5px solid #ffea00;color:#000;text-align:center;font-weight:bold;padding:10px;margin-top:40px;margin-bottom:10px;margin-left:20px;}
.sumBox_line li{font-size:18px;width:25%;text-align:center;line-height:40px;}
.sumBox_sum{color:#008cdd; font-weight:bold;font-size:18px;}
.sumBoxicon{position:relative;left:85px;top:30px}
.sumBoxicon2{position:relative;left:120px;top:30px;}
.idfix{border:0px;font-size:16px;font-weight:bold;text-indent:10px;}
.orderend{position:relative;padding:0px;float:left;width:1100px;height:220px;line-height:20px;margin-top:40px;}
.noB{border:0px;font-size:18px;font-weight:bold;letter-spacing:0px;line-height:40px;width:600px;}
.bank{margin:50px auto;font-size:15px;font-weight:bold;width:600px;color:#252525;letter-spacing:1px;}


/* 게시판 */
.boardBox{position:relative;clear:both;width:1060px;height:auto; font:normal 12px /20px 'Nanum Gothic' Gulim,Arial,Helvetica,sans-serif;top:10px;margin:0 auto}
.boardForm{width:1060px;text-align:left;list-style:none;}
.boardForm div{position:relative;float:left;width:1060px;font:normal 12px /14px 'Nanum Gothic' Gulim,Arial,sans-serif;border-top:1px solid #CCC;}
.boardForm li{float:left;}
.boardTitle{background:#e1e1e1;}
.boardTitle li{background:#e1e1e1;color:#333;text-align:center;font-weight:normal;padding-left:10px;padding-right:10px;border-right:1px solid #ccc;line-height:40px}
.boardTitle li.bTitle{background:#e1e1e1;color:#333;text-align:center;font-weight:normal;padding-left:10px;padding-right:10px;border-right:1px solid #ccc;line-height:40px;width:100px;}
.boardTitle li.bText{background:#fff;color:#333;text-align:left;padding-left:10px;padding-right:10px;border:0px;line-height:40px;width:550px;}
.boardTitle li input.input{width:540px;height:22px;text-indent:4px;font:normal 13px /14px 'Nanum Gothic', Gulim,Arial,Helvetica,sans-serif;background:#fff;border:1px solid #e1e1e1}
.boardTitle li.bTextarea{background:#ebebeb;color:#333;text-align:left;font-weight:bold;padding-left:10px;padding-right:10px;border:0px;line-height:40px;width:917px;height:260px}
.boardTitle li.bTextarea2{background:#ebebeb;color:#333;text-align:left;font-weight:bold;padding:22px;border:0px;line-height:30px;width:1017px; height:auto;}
.boardTitle li textarea{margin-top:10px;padding:8px;width:870px;height:220px;text-indent:4px;font:normal 13px /22px 'Nanum Gothic',Gulim,Arial,Helvetica,sans-serif;background:#fff;border:1px solid #e1e1e1}

.boardLine li{overflow:hidden;
white-space:nowrap;
text-overflow:ellipsis;border-bottom:1px solid #ccc;color:#464646;text-align:center;border-top:0px;padding-left:10px;padding-right:10px;border-right:1px solid #ccc;line-height:40px}
.boardLine li a{color:#464646}
.boardLine li.b_title{text-align:left;text-indent:10px;}
.boardLine li.re_title{text-align:left;text-indent:10px;}
.boardLine li.re_title img{margin-top:14px;}
.boardLine li.re_title strong{font-weight:bold;color:#C30;margin-right:5px}

.boardBtn{position:relative;clear:both;width:1060px;margin:0px auto;height:30px;padding-top:25px;}
.boardBtn01{float:right;font:bold 12px/18px  'Nanum Gothic',Gulim,Arial,sans-serif;width:70px; border-radius:3px;cursor:pointer;margin-right:5px;box-shadow:1px 1px #ebebeb;background:#666;color:#fff;height:25px;}
.boardBtn01:hover{color:#F90;}
.boardBtn02{float:right;font:bold 12px/18px  'Nanum Gothic',Gulim,Arial,sans-serif;width:70px; border-radius:3px;cursor:pointer;margin-right:5px;box-shadow:1px 1px #ebebeb;background:#999;color:#fff;height:25px;}
.boardBtn02:hover{color:#333;}
.boardBtn03{float:right;font:bold 12px/18px  'Nanum Gothic',Gulim,Arial,sans-serif;width:70px; border-radius:3px;cursor:pointer;margin-right:5px;box-shadow:1px 1px #ccc;background:#333;color:#F90;height:25px;}
.boardBtn03:hover{color:#F90;background:#666}


/* 페이징 */
.bPage_box{position:relative;width:1100px;height:25px;margin:0 auto;border:0px solid;clear:both ;font-family:'Nanumgothic',Arial,sans-serif;font-size:16px;text-align:center;}
.bPage_box ul{position:relative;width:250px;height:35px;margin:0 auto;border:0px solid;padding:3px;text-align:center;}
.bPage_box li{list-style:none;display:inline-block;width:20px;height:25px;text-align:center;margin-left:5px;}
.bPage_box li:hover,.bPage_box li.current{color:#000;}
.bPage_box li.pre{font:bold 13px/18px  'Nanum Gothic',Gulim,Arial,sans-serif; border-radius:2px;cursor:pointer;margin-right:5px;margin-left:5px;border:1px solid #999;background:#fff;color:#999;width:35px;height:17px;padding:3px}
.bPage_box li a{color:#999;}
.bPage_box li a:hover{color:#000;}
.bPage_box li.pre:hover{background:#ebebeb;color:#000}

/* 상품리스팅 관련 */
.listBox{position:relative;top:40px; width:1100px ;}
.list_title{position:relative;text-align:left;width:1100px;height:173px;padding-bottom:12px;}
.list_title a{float:left;border-right:1px solid #757575}
.listLine{position:relative;width:100%;margin:40px auto 0px;padding-bottom:8px;background-image:url(../../images/listbottom.jpg);background-repeat:no-repeat;height:18px;}

.depth{position:relative;font:bold 13px /15px 'Nanum Gothic',Gulim,Arial,sans-serif;color:#999;float:left;margin-left:0px;}
.depth li{float:left;text-indent:5px;}
.depth li a{color:#999;font-weight:normal}
.depth li a.now{color:#333;}
.high{position:relative;float:right;width:190px}
.high li{float:left;}
.highBtn{cursor:pointer;width:95px;font:bold 13px 'Nanum Gothic',Gulim,Arial,sans-serif;color:#fff;background:#666;text-align:center;height:20px;padding-top:4px;}
.highBtn.on{background:#bcbcbc;color:#000;}
.lowBtn{cursor:pointer;width:95px;font:bold 13px 'Nanum Gothic',Gulim,Arial,sans-serif;color:#fff;background:#999;text-align:center;height:20px;padding-top:4px;}
.newBtn{cursor:pointer;width:95px;font:bold 13px 'Nanum Gothic',Gulim,Arial,sans-serif;color:#fff;background:#333;text-align:center;height:20px;padding-top:4px;}
.align{position:relative;font:normal 13px /18px 'Nanum Gothic',Gulim,Arial,sans-serif;height:20px;color:#666;float:right;margin-bottom:4px}
.align li{float:left}
.align li select{width:100px;color:#666;margin-left:20px;padding-left:8px;}
.jeanBtn{position:relative;font:normal 12px /14px 'Nanum Gothic',Gulim,Arial,sans-serif;margin-top:24px;color:#666;float:right;}
.jeanBtn li{float:left;margin-left:10px;}
.jbtn{font:normal 12px/18px  'Nanum Gothic',Gulim,Arial,sans-serif;border:1px solid #000;color:#000;cursor:pointer;padding-top:3px;padding-left:20px;padding-right:20px;background:#fff;letter-spacing:-1px;box-shadow:1px 1px #ebebeb;margin-top:3px;}

.sch_cate_wrap{position:relative;width:1100px;background-color:#f2f2f2;text-align:left;border-top:1px solid #959595;border-bottom:0px solid #d4d4d4;margin-bottom:15px;height:120px;}
.sch_cate{margin-left:30px;margin-top:8px;}
.cate_text{font-size:13px;cursor:pointer;float:left;width:178px;border:0px solid;margin-top:17px;}
.cate_text a{color:#252525}
.cate_text a:hover{color:#f74420;}

#product_list{position:relative;width:1080px;height:400px; border-radius:30px;border:4px solid #ffc00f;width:1092px;text-align:center;margin:25px auto;clear:both;padding-top:20px;}
#product_list .box1{width:25%;height:330px; float:left;border:0px solid;}
#product_list .box1 input{border:1px solid red;}
#product_list div div.box2{width:100%;}
#product_list div div.box2 img{width:220px;height:220px;border:0px solid #ebebeb;margin-top:30px;}
#product_list p.topicon{position:absolute;margin-left:90px;top:-3px;background-image:url(../../images/icon_top.png);background-repeat:no-repeat;width:97px;height:46px;font-weight:bold;font-size:18px;font-family:Arial,sans-serif;color:#fff;padding-top:13px;text-indent:40px;}
#product_list p.pointicon{position:absolute;top:175px;margin-left:198px;width:50px;height:35px;font-weight:bold;font-size:17px;font-family:'Nanum Gothic' Arial,sans-serif;color:#333;background-color:#ebebeb;padding-top:12px;letter-spacing:-3px;opacity:0.85}
#product_list p.pointicon strong{font-size:26px;}
.box4{text-align:left;width:220px;height:27px;margin-left:27px;margin-top:6px;}
.box4 li.picon{text-align:left;float:left;}
.box4 li.pjean{text-align:left;margin-left:10px;float:left;margin-top:6px;border:1px solid #CCC;padding:2px;}

.bestList{position:absolute;left:25px;top:-35px;color:#252525;font-size:14px;text-align:left ;line-height:28px;font-weight:bold;}
.bestList span{font-size:23px;margin-left:20px}

.eventBanner{position:relative;width:1100px;margin-top:-73px;margin-bottom:50px;border-radius:30px;overflow:hidden;}
.eventBanner_1{position:relative;width:1100px;margin-top:-73px;margin-bottom:17px;}
#etab{position:relative;top:-1px;background:#fff; width:1099px;line-height:normal;margin-bottom:30px}
#etab ul{border-top:4px solid #c69d82;padding-bottom:0px;margin:0px;padding-top:0px;list-style-type:none;}
#etab li{background-image:url(../../images/bg-pt.png);background-repeat:no-repeat;-webkit-background-size:cover;background-size:cover;font-size:18px;float:left;margin:0px;border-right:1px solid #c69d82;border-bottom:1px solid #c69d82;width:182px;height:55px;line-height:55px;}
#etab li span{display:inline-block;font-size:13px;margin-top:-32px;}
#etab li:first-child{border-left:1px solid #c69d82;}
/*#etab li:hover{background:#ebebeb}*/
#etab A{display:block;padding-left:6px; background:none;padding-bottom:4px;color:#784024;text-decoration:none}
#etab A:hover{color:#784024;background:none }
#etab #current{/*background:#666;*/ font-weight:bold;}
#etab #current a{/*background:#666;*/ padding-bottom:5px;color:#f00;font-weight:bold;}

#product{position:relative;width:1100px;height:340px;border-top:dotted 1px #d9d9d9;margin:10px auto;clear:both;padding-top:30px;}
#product .box1{width:20%;height:340px;float:left;border-bottom:1px solid #ebebeb;margin-bottom:40px}
#product div div.box2{width:100%;}
.box2 img{width:170px;height:170px;border:1px solid #ebebeb}
#product p.topicon{position:absolute; margin-left:28px;top:0px;background-image:url(../../images/icon_top.png);background-repeat:no-repeat;width:60px;height:57px;font-weight:bold;font-size:24px;font-family:Arial,sans-serif;color:#ffffcc;padding-top:28px;}
#product p.pointicon{position:absolute;top:175px;margin-left:198px;width:50px;height:35px;font-weight:bold;font-size:17px;font-family:'Nanum Gothic' Arial,sans-serif;color:#333;background-color:#ebebeb;padding-top:12px;letter-spacing:-3px;opacity:0.85}
#product p.pointicon strong{font-size:26px;}
.box3 li.selector{
-webkit-line-clamp:2;
-webkit-box-orient:vertical;
display:-webkit-box;
overflow:hidden;
text-overflow:ellipsis;
}
.box3{width:80%;margin:0 auto}
.box3 li.brands{text-align:center;font-family:'Nanum Gothic',Arial,sans-serif;font-size:14px;color:#252525;}
.box3 li.p_name{text-align:center;font-family:'Nanum Gothic',Arial,sans-serif;font-size:14px;color:#252525;margin-top:15px;height:50px;margin-bottom:15px;/*line-height:22px;height:38px;*/}
.box3 li.price1{text-align:center;font-family:'Nanum Gothic',Arial,sans-serif;font-size:14px;color:#999;text-decoration:line-through ;font-weight:800;}
.box3 li.price2{text-align:center;font-family:'Nanum Gothic',Arial,sans-serif;font-size:14px;color:#252525;font-weight:800; margin-top:6px;}
.box3 li.price3{text-align:center;font-family:'Nanum Gothic',Arial,sans-serif;font-size:14px;color:red;font-weight:800; margin-top:6px;}
.box3 li.price4{text-align:center;font-family:'Nanum Gothic',Arial,sans-serif;font-size:14px;color:red;font-weight:800; margin-top:15px;}
.box3 li.price_button{cursor:pointer;width:95px;font:bold 13px 'Nanum Gothic',Gulim,Arial,sans-serif;color:#fff;background:red;text-align:center;height:20px;margin-top:10px;padding-top:4px;float:center; margin-left:40px;}
.box3 li.slae_button{cursor:pointer;width:95px;font:bold 13px 'Nanum Gothic',Gulim,Arial,sans-serif;color:#fff;background:blue;text-align:center;height:20px;margin-top:10px;padding-top:4px;float:center; margin-left:40px;}
.box3 .price_text{width:95px;border:1px solid black;height:20px;margin-top:-5px;float:center;}

width:90px;border:1px solid black;margin-top:5px;float:center;

.opticon{width:100px;margin:12px auto;background-color:#ebebeb;}
.opticon ul li{float:left;width:50px;height:18px;color:#fff;padding-top:3px;font-weight:bold;font-size:12px;}
.sticon{background-color:#555555}
.packicon{background-color:#707070}
.logoicon{background-color:#959595}

/* 메인상품리스팅_5개 2줄 */
#bestTitle{position:relative;color:#008cdd;width:1060px;margin:3px auto 12px;text-align:left;padding-bottom:30px;padding-top:12px;letter-spacing:0px;background-image:url(../../images/best_icon.png);background-repeat:no-repeat;background-position:left center;font-family:'Nanum Gothic',Gulim,Arial,sans-serif;text-indent:55px;}
#bestTitle_office{position:relative;color:#05a1c5;width:1060px;margin:3px auto 12px;text-align:left;padding-bottom:30px;padding-top:12px;letter-spacing:0px;background-image:url(../../images/best_icon.png);background-repeat:no-repeat;background-position:left center;font-family:'Nanum Gothic',Gulim,Arial,sans-serif;text-indent:55px;}
#bestTitle_flower{position:relative;color:#ef503f;width:1060px;margin:3px auto 12px;text-align:left;padding-bottom:30px;padding-top:12px;letter-spacing:0px;background-image:url(../../images/best_icon.png);background-repeat:no-repeat;background-position:left center;font-family:'Nanum Gothic',Gulim,Arial,sans-serif;text-indent:55px;}
.subTitle{position:relative; color:#008cdd;width:1060px;margin:0px auto;text-align:left;text-indent:55px;margin-top:-32px}
.subTitle_office{position:relative;color:#05a1c5;width:1060px;margin:0px auto;text-align:left;text-indent:50px;margin-top:-32px}
.subTitle_flower{position:relative;color:#ef503f;width:1060px;margin:0px auto;text-align:left;text-indent:50px;margin-top:-32px}

.bestBoxtitle{float:right;margin-top:-33px;margin-right:25px;}
.bestBoxtitle li{float:left;border-radius:7px;font-size:14px;font-weight:700;color:#fff;background:#008cdd;opacity:0.95;padding-left:10px;padding-right:10px;cursor:pointer;height:33px;line-height:30px;margin-left:1px;}
.bestBoxtitle li:hover{opacity:0.85;}
.bestBoxtitle_off{float:right;margin-top:-33px;margin-right:25px;}
.bestBoxtitle_off li{float:left;border-radius:7px;font-size:14px;font-weight:700;color:#fff;background:#05a1c5;opacity:0.95;padding-left:10px;padding-right:10px;cursor:pointer;height:33px;line-height:30px;margin-left:1px;}
.bestBoxtitle_off li:hover{opacity:0.85;}
.bestBoxtitle_flo{float:right;margin-top:-33px;margin-right:25px;}
.bestBoxtitle_flo li{float:left;border-radius:7px;font-size:14px;font-weight:700;color:#fff;background:#ef503f;opacity:0.95;padding-left:10px;padding-right:10px;cursor:pointer;height:33px;line-height:30px;margin-left:1px;}
.bestBoxtitle_flo li:hover{opacity:0.85;}
.bestBox{top:40px;position:relative;clear:both;margin:10px auto;border-radius:30px;border:4px solid #008cdd;width:1092px;height:780px;text-align:center;}

#productBest{position:relative;width:1080px;height:330px;margin:40px auto;clear:both;}
#productBest div.box1{width:20%; float:left;height:385px;padding-top:7px;}
#productBest div div.box2{width:100%;}
#productBest div div.box2 img{width:170px;height:170px;}
#productBest p.pointicon{position:absolute;top:125px;margin-left:145px;width:50px;height:35px;letter-spacing:-3px;font-weight:bold;font-size:16px;font-family:'Nanum Gothic' Arial,sans-serif;color:#333;background-color:#f1f1f1;padding-top:12px;opacity:0.85 }
#productBest p.pointicon strong{font-size:26px;}
#productBest div div.box3{width:80%;margin:0 auto}
#productBest div div.box3 li.brands{text-align:center;font-family:'Nanum Gothic',Arial,sans-serif;font-size:14px;color:#252525; }
#productBest div div.box3 li.p_name{text-align:center;font-family:'Nanum Gothic',Arial,sans-serif;font-size:14px;color:#252525;margin-top:20px;margin-bottom:5px;line-height:22px;height:38px;padding:0px 0 10px 0}
#productBest div div.box3 li.p_name a:hover{color:#F60;}
#productBest div div.box3 li.selector{overflow:hidden;width:170px;
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical;
	display:-webkit-box;
	text-overflow:ellipsis;
}
#productBest div div.box3 li.price1{text-align:center;font-family:'Nanum Gothic',Arial,sans-serif;font-size:14px;color:#999;text-decoration:line-through;font-weight:800;}
#productBest div div.box3 li.price2{text-align:center;font-family:'Nanum Gothic',Arial,sans-serif;font-size:14px;color:#252525;font-weight:800; margin-top:8px;}

/* 상품상세페이지 관련 */
.depth2{position:relative;font:normal 14px /15px 'Nanum Gothic',Gulim,Arial,sans-serif;height:30px;color:#252525;float:left;margin-top:50px;margin-left:20px;padding-top:10px;}
.depth2 li{float:left;}

#detail{width:1100px;height:640px;margin:0 auto;clear:both;}
#detail .pimg{width:500px;height:610px; float:left;margin-top:40px;margin-left:20px;}
.bimg{width:500px;height:500px;}
.simg{clear:both;height:80px;margin-top:20px;text-align:center;padding-left:90px;}
.simg li{width:72px;height:72px ;float:left;border:1px solid #ebebeb;margin-right:8px;}
#detail p.pointicon{position:absolute;top:545px;left:440px;width:80px;height:55px;font-size:22px;font-weight:bold;font-family:'Nanumgothic',Arial,sans-serif;color:#333;background-color:#f1f1f1;padding-top:20px;letter-spacing:-3px;opacity:0.85}
#detail p.pointicon strong{font-size:38px;}
#detail .d1{width:540px;height:450px; float:right;margin-top:22px;}
.d2{width:480px;height:420px;margin-left:60px;text-align:left ;font-size:14px;line-height:17px;}
.d2 li.brands{text-align:left;font-family:'Nanumgothic',Arial,sans-serif;font-size:16px;color:#000;font-weight:bold;}
.d2 li.p_name{text-align:left;font-family:'Nanumgothic',Arial,sans-serif;font-size:23px;color:#000;font-weight:bold;line-height:28px;padding:3px 0 8px 0;border-bottom:1px solid #464646;letter-spacing:-1px;}
.d2 li.p_margin{text-align:left;font-family:'Nanumgothic',Arial,sans-serif;font-size:13px;color:#000;font-weight:bold;line-height:40px;padding:3px 0 3px 0;letter-spacing:-1px;height:40px;background:#ccc }
.d2 li.p_margin li{float:left;margin-left:35px;}
.d2 li.p_title1{position:relative;clear:both;text-align:left;font-family:'Nanum Gothic',Gulim,Arial,sans-serif;font-size:13px;line-height:30px;color:#252525;top:20px; width:480px;float:left;text-indent:20px;}
.d2 li.p_title1 ul{width:480px;clear:both;}
.d2 li.p_title1 ul li{float:left;width:130px;}
.d2 li.p_info{position:relative;width:300px;height:350px;float:left;top:32px;left:40px;font-size:14px;line-height:19px; border:0px solid;}
.d2 li.price1{color:#000;text-decoration:line-through  }
.d2 li.price2{color:#000;font-weight:bold;font-size:14px;}
.d2 li input.pack{width:100px;color:#C00;letter-spacing:0px;font-weight:bold}
.ea{border:1px solid #ccc;width:50px;height:20px;font:normal 12px /14px 'Nanum Gothic',Gulim,Arial,Helvetica,sans-serif;text-align:right;padding-right:5px;}
.d2 li.p_title1 li.sum{text-align:left;font-family:'Nanumgothic',Arial,sans-serif;font-size:19px;color:#008cdd;font-weight:bold;width:300px;margin-top:10px;}
.d2 li.p_naver{position:absolute;width:143px;height:29px;top:175px;right:5px;}
.f74420{position:relative;clear:both;width:490px;height:200px;padding-top:15px;border-top:1px solid #ebebeb;float:right;top:35px;}
.f74420 li{float:left;margin-left:10px;}
#detail2{width:1100px;height:auto;padding-top:10px;margin:30px auto;clear:both;}
.d_title{text-align:center;color:#252525;background:#fff;width:150px;height:28px;line-height:30px;border-top:1px solid #252525;border-left:1px solid #252525;border-right:1px solid #252525;}
.d_title a{color:#252525;}
.d_title a:hover{text-decoration:none;color:#959595;}
.d_info{margin-bottom:50px;margin-top:0px;width:1100px;text-align:center;padding-top:70px;}
#detail3{width:1100px;height:1050px;margin:0px auto;clear:both;}
.d_bottom{position:relative;width:980px;height:300px;border:0px;font:normal 12px /20px 'Nanum Gothic',Gulim,Arial,Helvetica,sans-serif;margin:0 auto;top:30px;float:left}
.dbt{width:1100px;text-align:left;list-style:none;/* height:400px;*/ }
.dbti{text-indent:20px;line-height:30px;color:#008cdd;border-bottom:1px solid #ebebeb;font-weight:bold;}
.dbt li{float:left;padding-left:20px;color:#464646;}
.dbt_title{width:160px;background:#ebebeb;border-bottom:1px solid #fff;border-right:1px solid #ebebeb;line-height:67px;letter-spacing:-1px;}
.dbt_cont{width:870px;background:#fff;border-bottom:1px solid #ebebeb;line-height:18px;height:60px;padding-top:7px}
.d3{clear:both;float:right;margin-top:60px;margin-left:60px;width:470px;height:60px;}
.d3 li{float:left;margin-left:6px;}
.backCate{clear:both;line-height:37px;width:535px;text-align:right;padding-right:5px;}

#cont{position:relative;float:left;text-align:left;border:0px;left:0px;font:normal 12px /20px 'Nanum Gothic',Gulim,Arial,Helvetica,sans-serif;width:980px;margin-top:50px;color:#636363;}

/* ##### 개인정보 취급방침 ##### */
.pri_wrap{width:980px;font-size:12px;color:#636363;line-height:1.5;text-align:left;margin-bottom:80px;}
.pri_title{font-weight:bold;font-size:14px;color:#333;}
.pri_title_m{font-weight:bold;color:#333;line-height:3;}
.pri_wrap a{font-weight:bold;line-height:2;}
.depth_01{padding-left:16px;padding-right:20px;padding-top:5px;}
.depth_02{list-style:circle;padding-left:16px;padding-right:20px;padding-top:5px;}

/* ##### 이벤트_빅찬스 ##### */
.event_upto{position:relative;float:left;text-align:left;border:0px;left:0px;margin-top:-17px;}
.upto_area{position:relative;width:1100px;}
.upto_title{position:relative;width:1100px;margin:0px auto 20px;text-align:left;color:#252525;padding-bottom:8px;padding-top:33px;text-indent:70px;letter-spacing:-1px;background-image:url(../../images/mtitle_line.jpg);background-repeat:no-repeat;font-family:'Nanum Gothic',Gulim,Arial,sans-serif}
.upto_more{float:right;text-align:right;font:bold 18px/20px 'Nanum Gothic',Arial,Helvetica,sans-serif;margin-right:5px;}

/* ##### 주문결제 리본/카드신청 ##### */
.ribon_wrap{position:absolute;margin-right:500px;LEFT:30%;TOP:20%;font-family:'Nanum Gothic',Arial,Helvetica,sans-serif;font-size:14px;}
.ribon_form{width:400px;height:436px;border:6px solid #666;;font-family:'Nanum Gothic',Arial,Helvetica,sans-serif;background-color:#666;text-align:left;z-index:999;-moz-box-shadow:2px 4px 15px #999;
-webkit-box-shadow:2px 4px 15px #999;box-shadow:2px 4px 8px #999;}
.ribon_con{position:relative;margin:0px;padding:0px;}
.ribon_con div.title{text-align:left;text-indent:30px;padding-top:20px;color:#F96;font:bold 26px /30px 'Nanum Gothic',Gulim,Arial,sans-serif;height:50px;background-color:#666 }
.ribontitle_gate{width:120px;text-indent:9px;background:#e1e1e1;font-weight:bold;font-family:'Nanum Gothic',Arial,Helvetica,sans-serif}
.ribon_inputbox{background-color:#fff;border:1px solid #ccc;height:22px;width:220px;text-indent:8px;}
.ribon_Tarea{background-color:#fff;border:1px solid #ccc;width:204px;margin-top:10px;margin-bottom:10px;padding:8px;}
.ribonform_gate{width:400px;text-align:left;list-style:none;}
.ribonform_gate div{position:relative;float:left;width:400px;font:normal 14px /16px 'Nanum Gothic',Arial,Helvetica,sans-serif;background:none;line-height:37px;border-top:1px solid #CCC;background:#f1f1f1}
.ribonform_gate div.btn{width:100%;text-align:center;padding-top:20px;background:#666;height:55px;}
.ribonform_gate li{float:left;padding-left:10px;}

/* 자주하는 질문 */
nav{position:relative;margin-bottom:30px;margin-top:30px;}
nav ul{overflow:hidden;padding-bottom:10px;border-bottom:5px solid #bbb;}
nav li{float:left;margin-right:45px;}
nav li a{color:#666;font-weight:bold;font:bold 16px /20px 'Nanum Gothic',Gulim,Arial,Helvetica,sans-serif;}
nav li a:hover,nav li a:focus,
nav li a.current{color:#000;}
nav #indicator{position:absolute;left:15px;bottom:5px;width:12px;height:7px;background-image:url('../../images/notch.png');}
#QNA_TEXT section{display:none;padding-left:20px;}
#QNA_TEXT p.que{color:#C30;font-size:14px;font-weight:bold;margin-top:25px;margin-bottom:0.5em;}
#QNA_TEXT p{margin-bottom:1em;max-width:60em;text-align:left;color:#333;font:normal 13px /20px 'Nanum Gothic',Gulim,Arial,Helvetica,sans-serif;}

/* idpw찾기 */
#idpwSch{position:relative;width:1000px;height:600px;margin:0 auto;top:100px;text-align:left;}
#idpwSch div.topLogo{position:relative; height:35px;width:1000px;margin:0 auto;vertical-align:bottom;background-image:url(../../images/gate_logo.jpg);background-position:right bottom;background-size:auto 35px;background-repeat:no-repeat}
#idpwSch div span{font-size:26px;line-height:30px;font-weight:bold;color:#555555;padding-top:}
#idpwSch div.topLogo img{height:35px;float:right}
.idpwSchBox{position:relative;width:1000px;height:440px;font:normal 13px /16px 'Nanum Gothic',Gulim,Arial,Helvetica,sans-serif;background:#fff;float:left;border-top:4px solid #555555;border-bottom:1px solid #555555}
.idpwSchBox p{line-height:20px;margin-top:10px;width:700px;font-size:12px;}
.idpwSchform{position:relative;list-style:none;width:1000px;text-align:center;height:440px}
.idpwSchform div.result{position:relative;margin:0 auto;width:600px;text-align:center;margin-top:60px;background:#ebebeb;padding-top:60px;padding-bottom:60px;line-height:30px;font-size:18px;}
.idpwSchform div.result b{color:#C00}
.idpwSchform div.pwsearch{position:relative;margin:0 auto;width:490px;height:125px;text-align:center;margin-top:40px;padding-top:20px;}
.idpwSchform div.gubun{position:relative;float:left;width:490px;height:180px;text-align:center;margin-top:40px;}
.idpwSchform div.gubun li.radio{height:40px;font-size:16px;color:#C00;margin-bottom:10px;}
.idpwSchform ul{position:relative;float:left;margin-top:20px;margin-left:70px;}
.idpwSchform ul li.idpw{margin-bottom:3px ;color:#252525;text-align:right;}
.idpwSchform ul li.idpw input{background:#e1e1e1; width:220px;border:0;height:31px;line-height:31px;font:bold 14px/31px 'Nanum Gothic',Gulim,Arial,sans-serif;text-indent:10px;}
.idpwSchform ul li.keep{text-align:left;color:#898989;font-size:11px;line-height:25px}
.idpwSchbtn{position:relative;clear:both;width:1000px;margin:0px auto;height:60px;padding-top:30px;}
.idpwSchbtn a{width:228px;height:57px;}

#idpwSch .gft{position:relative;clear:both;width:1000px;margin:0 auto;height:140px;background:none;border-bottom:4px solid #555555;padding-bottom:10px;}
#idpwSch .g_info{position:relative;float:left;}
#idpwSch .g_info2{position:relative;float:left;font:normal 12px /18px 'Nanum Gothic',Gulim,Arial,sans-serif;text-align:left;color:#666;padding-left:45px;width:780px;letter-spacing:0px;}

.laypops table{font-family:NanumGothic;font-size:12px;font-weight:normal;}
.laypops .laypops_doc th{background-color:#b7b7b7;border-bottom:dotted 1px #ccc}
.laypops .laypops_doc td{border-bottom:dotted 1px #ccc;padding:2px 10px}
.laypops .laypops_tit th{background:#F90;font-size:16px;font-weight:normal;color:#fff;text-align:center;height:40px;line-height:40px;width:100%;}

.laypops_new table{font-family:NanumGothic;font-size:12px;font-weight:normal;}
.laypops_new .laypops_doc th{background-color:#b7b7b7;border-bottom:dotted 1px #ccc}
.laypops_new .laypops_doc td{border-bottom:dotted 1px #ccc;padding:2px 10px;vertical-align:middle;}
.laypops_new .laypops_tit th{background:#027cc5;font-size:16px;font-weight:normal;color:#fff;text-align:center;height:40px;line-height:40px;width:100%;}

.ondp{display:table-row}
.offdp{display:none}

/*공통*/
.txt_red{color:#F00}
.txt_org{color:#F63}
.txt_green{color:#090}
.txt_blue{color:#06F}
.doc_type{font-size:13px;line-height:22px;}
.int_type{border:1px solid #707070;font-size:12px;color:#555;height:25px;}
.into_type{width:70px;height:25px;border:1px solid #707070; text-align:center;line-height:25px;font-size:12px;}
.inp_type{width:70px;text-align:right;line-height:25px;font-size:12px;font-weight:bold;border:1px solid #707070}
.box_type{padding:2px 5px;height:22px;border:1px solid #707070;background-color:#d7d7d7;FONT:bold 12px Dotum;color:#052b3c;}

.btn_my_up{text-indent:1.31px;border:1px solid #eeb44f;display:inline-block;color:#ffffff;font-size:12px;font-weight:bold;font-style:normal;height:25px;line-height:25px;width:70px;text-decoration:none;text-align:center;
	background:-webkit-gradient( linear,left top,left bottom,color-stop(0.05,#ffc477),color-stop(1,#fb9e25) );
	background:-moz-linear-gradient( center top,#ffc477 5%,#fb9e25 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477',endColorstr='#fb9e25');
	background-color:#ffc477;
	-webkit-border-top-left-radius:4px;
	-moz-border-radius-topleft:4px;
	border-top-left-radius:4px;
	-webkit-border-top-right-radius:4px;
	-moz-border-radius-topright:4px;
	border-top-right-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	-moz-border-radius-bottomright:4px;
	border-bottom-right-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-bottomleft:4px;
	border-bottom-left-radius:4px;
}

.btn_my_up.

.btn_my_up:hover{
	background:-webkit-gradient( linear,left top,left bottom,color-stop(0.05,#fb9e25),color-stop(1,#ffc477) );
	background:-moz-linear-gradient( center top,#fb9e25 5%,#ffc477 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25',endColorstr='#ffc477');
	background-color:#fb9e25;
}
.btn_my_up:active{position:relative;top:1px;}



/* 사이드배너추가 */
.side_bn_left{position:absolute;top:0;left:-135px;}
.side_bn_left > div{text-align:right;margin-bottom:20px;overflow:hidden;}

.side_bn_left .bn01{}
/* 컨텐츠 사이드 배너 푸터랑 자리교체 */
.side_bn_left #btn_quick{width:120px;border:1px solid #eee;border-radius:10px;}
.side_bn_left #btn_quick ul.quick{position:static;padding:10px;margin-top:-10px;overflow:hidden;}
.side_bn_left #btn_quick li{float:left;margin-top:10px;}
.side_bn_left #btn_quick li a{display:block;text-align:center;width:50px;padding:35px 0 0;color:#333;font-size:12px;}
/*.side_bn_left #btn_quick li:first-child a{margin-top:0;border:none;}*/
.side_bn_left #btn_quick li.question a{background:url('../../images/icon/icon_question.png') no-repeat top center / 30px;}
.side_bn_left #btn_quick li.qna a{background:url('../../images/icon/icon_qna.png') no-repeat top center / 30px;}
.side_bn_left #btn_quick li.shipping a{background:url('../../images/icon/icon_shipping.png') no-repeat top center / 30px;}
.side_bn_left #btn_quick li.coupon a{background:url('../../images/icon/icon_coupon.png') no-repeat top center / 30px;}
.side_bn_left #btn_quick li img{width:30px;height:30px;}
