/* header */

#header {position:fixed; left:0; top:0px;	width:100%; margin:0px auto; list-style: none ; background:#fff; z-index:999; border:0px solid;}
#header_eventbn {position:relative; width:100%; height:83px;  margin:0 auto;}
#header_box {position:relative; width:1100px; margin:0 auto; padding-bottom: 20px; }

#top_login { position: relative; float:right; font:normal 12px; margin-top:8px; width:470px;}
#top_login ul li {float:right; margin:0px; border-right:1px solid #666; padding-right:9px; padding-left:9px; padding-top:0px; letter-spacing:0px;}
#top_login ul li a { color:#333}
#top_login ul li a:hover { text-decoration:underline}
.topLogo {float: left;margin-top: 33px;margin-right: 53px;}

/* 가격검색 */
.price_src {position: relative; float: left; margin-left: -4px; margin-top:42px;}
.price_src a {float:left;}
.price_src_title {text-align:left; margin-bottom:5px; font:normal 12px 'Nanum Gothic'; color:#990008;}

.price_src_pop {position:absolute; left:0px; top: 54px; background-color:#fff; border:2px solid #1faa35; z-index:999999; text-align:left; color:#3e3d3d; line-height:18px; padding-bottom:10px;}
.pop_price_text {margin-left:10px; margin-right: 10px; margin-top:10px; border-bottom:1px solid #ccc; padding-bottom:7px;}
.pop_price_select {margin-left:10px; margin-right: 10px; margin-top:10px;}
.pop_price_select .select_btn {float: left; width: 168px;}
.pop_price_select .search_btn { background-color: #1faa35; color: #fff; text-align: center; float: right; width: 52px; height: 25px; line-height: 25px;}
.pop_price_select .search_btn:hover {color: #fff}
.pop_price_cate { width: 226px; margin-left:10px; margin-right: 10px; margin-top:10px; background-color:#eaeaea; padding: 10px;}
.pop_price_cate li {display:inline-block;letter-spacing:-1px; color: #000000; width: 100px; height: 30px; }
.pop_price_x { position: absolute; bottom: 16px; right: -63px;width: 23px; height: 23px; margin-bottom: -10px; cursor: pointer;}
.pop_price_cate_tit { padding-bottom: 10px;font-weight: 800; margin-top: 10px;}
.order_price {background-color: #fff;font-size: 14px;color: #835c41;border: 2px solid #835c41;font-weight:bold ;width: 270px;height: 35px;line-height: 35px;
-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;}

.order_price:hover{color:#2ca843 !important;border:2px solid #2ca843 !important;}
.order_price.on{color:#2ca843 !important;border:2px solid #2ca843 !important;}
.logo-product { font-size: 15px; font-weight: bold; text-align: center; float: left; margin-top: 61px; margin-left: 10px;}
.logo-product a, .logo-product a:hover {color: #fff;}

/* 가격검색 */

#search_wrap { float:left; margin-top:42px;}

#search_hit {text-align:left; margin-bottom:5px; font:normal 11px 'Nanum Gothic'; color:#899096; letter-spacing:1px;}
#search_hit .hit { display: inline-block; font-family: Gulim; font-size: 11px; text-align: center; background-color: #1faa35; color: #ffffff; width: 24px;height: 14px; line-height: 15px;}
.name_search {float: left; margin-right: 4px;}
#search_box { float: left; width:455px; height:32px;}
.search_input {border: 1px solid #a9a9a9; border-right: none; width: 270px; height: 33px;}
#search_box li {float:left;}
#search_box li .input {width: 100%; height:30px; background:#fff; font:normal 13px Gulim; text-indent:10px; color:#767676; margin-top:2px; margin-right:10px;}
#search_box .btn_li {background-color: #835c41;width: 40px;height: 35px;}
#search_box .btn_li img {margin-top: 0.5em;}
#search_view {position: absolute; width:280px; border:0px;background:#fff; top:123px;left:460px; z-index:9999; border-bottom-left-radius:10px;border-bottom-right-radius:10px;}
#search_view li { width:280px; line-height:22px; cursor:pointer; text-align:left; text-indent:11px; border-top:1px dotted #252525}
#search_view li:hover { text-decoration:underline;}

#point_box { float:left; margin-top:5px; width:570px; text-align:left; border:0rpx solid;}
.pt_name { width:940px; background:none; border:0px; font-size:13px; color:#333; text-align:left;  margin-top:3px;  border:0px solid;}

#src_word_box {position: absolute; margin-top:-1px; width:393px; height:130px; border:1px solid; border-color:#a9a9a9; background-color:#fff; z-index:99999; }
#src_word_text {text-align:left; width:350px; height:80px; margin-left:10px; margin-top:10px;}
.src_text {font:normal 12px nanumgthic; color:#7b7b7b; line-height:22px; cursor:pointer;}
.src_text:hover {color:#aacc44;}

/* top_menu */
.topmenu { width:100%; text-align:center; margin:0 auto; background:#fff; height:45px; z-index:99999;	margin-top:0px; border:0px solid; 		box-shadow: 0 5px 5px rgba(34,25,25,0.2);	-moz-box-shadow: 0 5px 5px rgba(34,25,25,0.2);	-webkit-box-shadow:  0 5px 5px rgba(34,25,25,0.2);}
#menu_box { position:relative; width:1100px; height:45px; margin:0 auto; margin-bottom:-45px; z-index:999; background-image:url(../images/bg_top.jpg); background-repeat:no-repeat; padding:0px; margin-:0px;}
/* nav menu */
#nav { position:relative; left:0px; top:4px; width:1100px;}
#nav li { position: relative; float: left; display: block; margin-right:13px; margin-left:13px; margin-bottom:-2px;}
#nav li a {display: block; font-weight:bold; line-height:35px;  text-decoration: none; color: #3e3d3d; top:0px; font-size:15px; z-index:9999; letter-spacing:-1px; padding-bottom:5px; }
#nav li a:hover, #nav li a.hov { color: #aacc44; line-height:35px;}


/* subnav */

/* subnav */
#nav ul { position:fixed;	display:none; margin:0px auto; padding:0; padding-left:400px; list-style:none; left:0px;  background-color:rgba(228,228,228,0.9); width:100%; height:37px;}	
#nav ul li { border-top: 0px;	float: left; text-align: left; margin:0; float:left; border:0px solid; }
#nav ul a { display: block; height: 22px; line-height: 26px; padding:5px 0px; color: #666; font-weight:bold ; text-indent:18px;	padding-right:18px; font-size:13px;}
#nav ul a:hover {line-height: 26px; color:#aacc44;}
* html #nav ul { margin:0px; border-radius:20px;}

/** clearfix **/
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
 
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 0; }



/* footer */

#notice {position:relative; width:100%; min-width: 1190px; background:#f5f5f5; margin: 0px auto; height:237px; padding-top:37px;clear:both;}
#notice_wrap {width: 1100px;height:200px; margin: 0 auto;}

.notice_cs {margin-left:18px; margin-top:10px; font:normalr 11px 돋움체; color:#696367; line-height:18px;}
.notice_cs li {padding-bottom:5px; border-bottom:1px dotted; width:282px; margin-bottom:7px; text-indent:5px; }
.notice_cs_btn {position:absolute; left:485px; top:25px;}


.footer_company {position:relative; width:100%; margin: 0 auto; height:54px; border-top:1px solid; border-color:#1faa35; clear:both; }
.footer_wrap {width: 1100px; margin: 0 auto; font:normal 12px 돋움체; color:#727272;}
.company_info {margin-top:22px; width:1100px;}
.company_info li{float:left; margin-right: 12px; padding-right: 12px; border-right: 1px solid #cbcbcb;}
.company_info li:last-child {border-right: none;}
.company_info a{color:#727272;}

.company_logo {margin-top:22px; }
.company_logo li{float:left; margin-right:20px; }

.footer_cescrow {background-color: #ededed; width:100%; border-bottom:1px solid #e5e5e5;height:135px; padding-bottom:8px; padding-top:8px;}

.footer_wrap div {margin-top: 22px;}
.footer_wrap h2 {font-family: dotum;font-size: 12px;font-weight: normal;color: #727272; float: left; padding-right: 32px; }

.footer_brand {position:relative; width:100%; background:#ededed; margin: 0 auto; height:104px; border-top:1px solid; border-bottom:1px solid; border-color:#e5e5e5; clear:both; }
.brand_info {width: 960px; float: left;}
.brand_info li {float:left; width: 121px; height: 30px; margin-bottom: 20px; padding-right: 18px;}
.brand_info li:nth-child(7n) {padding-right: 0;}
.brand_info li img {vertical-align: middle;}
.brand_info li:nth-child(2) img {margin-top: -10px;}

.footer_cominfo {position:relative;width:100%;clear:both;/* top:15px; */border-top: 2px solid #e5e5e5;padding-top: 15px;padding-bottom: 50px;}
.more_list, .more_list:hover {color: #8b7a7c;}
.more_list {position: absolute;top: 32px;right: 21px;}
.new_mark { display: inline-block; background-color: #8b7a7c;color: #fff; text-align: center; font-weight: bold; width: 16px; height: 15px; line-height: 15px; margin-left: 5px; }
.dir_arrow {position: absolute;right: 211px;top: 30px;}
.dir_arrow a { display: inline-block; border: 1px solid #8b7a7c; text-align: center; color: #8b7a7c;width: 15px;height: 15px; line-height: 15px;}

.escrow {float: left; border-right: 1px solid #e5e5e5; margin-right: 40px; padding-right: 40px;}
.escrow .safety_account { margin-top: 0; margin-bottom: 10px; padding-right: 25px;float: left;}
.escrow a { margin-top: 20px; float: left;}
.escrow p {display: block; clear: both; text-align: left; }

.safety_list {float: left;}
.safety_list li {float: left; margin-top: 34px; padding-left: 14px; padding-right: 50px;}
.safety_list li:last-child {padding-right: 0;}

.footer_wrap.copy_group div {margin-top: 0;}
.footer_wrap p { font-family: dotum; font-size: 12px; line-height: 1.5; color: #727272; text-align: left;}
.footer_logo { margin-right: 24px; float: left;}
.footer_logo img { padding-top:7px;}

#footer {
	text-align:center;
	position:relative;
	clear:both;
	width:100%;
	height:100%;
	background: #3a3a3a;
}

#footer_box {
	width:1100px;
	margin: 0 auto;
	background:#3a3a3a;
    height:360px;
}

.footer_list {
	clear:both;
	position: relative;
	list-style-type:none;
	text-decoration: none;
	width:1100px;
	margin: 0 auto;
	top:50px;
	font:normal 12px /20px Gulim, Arial, Helvetica, sans-serif;
	background: #3a3a3a;
}

.footer_menu {
    text-decoration:none;
	text-align:left;
	float:left;	
	margin-right:70px;
	margin-left:5px;	
	top:40px;	
	background: #3a3a3a;				 	
}

.footer_sub {
	margin-left:2px;
	color:#b7b7b7;
	text-decoration:none;
	text-align:left;
	margin-bottom:25px;
	letter-spacing:0px;	
	background: #3a3a3a;	
	border-bottom:1px #555 solid; 	   		
}

#footer_bottom {
	clear:both;
    position: relative;		
	width:100%; 	
	list-style-type:none;
	color:#7d7d7d; 
	background:#3a3a3a;
	font:normal 12px /19px Gulim, Arial, Helvetica, sans-serif;
	border-top:1px #555 solid;
	top:40px;

}
#footer_bottom a {	
	color:#b7b7b7; 
	font:normal 12px /23px Gulim, Arial, Helvetica, sans-serif;
	background:#3a3a3a;
}

a.top_btn:hover,
a.top_btn:active,
a.top_btn:focus {color:#1faa35;}