@charset "utf-8";
@font-face {
    font-family: 'NotoSansKR';
    font-weight: 100;
    font-style: thin;
    src: url('notokr-thin.eot');
    src: url('notokr-thin.eot?#iefix') format('embedded-opentype'),
         url('notokr-thin.woff2') format('woff2'),
         url('notokr-thin.woff') format('woff'),
         url('notokr-thin.ttf') format('truetype'),
         url('notokr-thin.svg#notokr-thin') format('svg');
}
@font-face {
    font-family: 'NotoSansKR';
    font-weight: 200;
    font-style: light;
    src: url('notokr-light.eot');
    src: url('notokr-light.eot?#iefix') format('embedded-opentype'),
         url('notokr-light.woff2') format('woff2'),
         url('notokr-light.woff') format('woff'),
         url('notokr-light.ttf') format('truetype'),
         url('notokr-light.svg#notokr-light') format('svg');
}
@font-face {
    font-family: 'NotoSansKR';
    font-weight: 300;
    font-style: demi;
    src: url('notokr-demilight.eot');
    src: url('notokr-demilight.eot?#iefix') format('embedded-opentype'),
         url('notokr-demilight.woff2') format('woff2'),
         url('notokr-demilight.woff') format('woff'),
         url('notokr-demilight.ttf') format('truetype'),
         url('notokr-demilight.svg#notokr-demilight') format('svg');
}
@font-face {
    font-family: 'NotoSansKR';
    font-weight: 400;
    font-style: regular;
    src: url('notokr-regular.eot');
    src: url('notokr-regular.eot?#iefix') format('embedded-opentype'),
         url('notokr-regular.woff2') format('woff2'),
         url('notokr-regular.woff') format('woff'),
         url('notokr-regular.ttf') format('truetype'),
         url('notokr-regular.svg#notokr-regular') format('svg');
}
@font-face {
    font-family: 'NotoSansKR';
    font-weight: 500;
    font-style: medium;
    src: url('notokr-medium.eot');
    src: url('notokr-medium.eot?#iefix') format('embedded-opentype'),
         url('notokr-medium.woff2') format('woff2'),
         url('notokr-medium.woff') format('woff'),
         url('notokr-medium.ttf') format('truetype'),
         url('notokr-medium.svg#notokr-medium') format('svg');
}
@font-face {
    font-family: 'NotoSansKR';
    font-weight: 600;
    font-style: bold;
    src: url('notokr-bold.eot');
    src: url('notokr-bold.eot?#iefix') format('embedded-opentype'),
         url('notokr-bold.woff2') format('woff2'),
         url('notokr-bold.woff') format('woff'),
         url('notokr-bold.ttf') format('truetype'),
         url('notokr-bold.svg#notokr-bold') format('svg');
}
@font-face {
    font-family: 'NotoSansKR';
    font-weight: 700;
    font-style: black;
    src: url('notokr-black.eot');
    src: url('notokr-black.eot?#iefix') format('embedded-opentype'),
         url('notokr-black.woff2') format('woff2'),
         url('notokr-black.woff') format('woff'),
         url('notokr-black.ttf') format('truetype'),
         url('notokr-black.svg#notokr-black') format('svg');
}
