.txt-info {color: #17a2b8;}

.fz-16 {font-size: 16px;}
.fz-20 {font-size: 20px;}
.pd-lr-15 {padding-left: 15px;padding-right: 15px;}
.pd-tb-20 {padding-top: 20px;padding-bottom: 20px;}
.pt-20 {padding-top: 20px;}
.pb-20 {padding-bottom: 20px;}
.p-30 {padding: 30px;}
.mt-20 {margin-top: 20px;}
.mb-20 {margin-bottom: 20px;}
.mt--2 {margin-top: -2px;}
.mt--4 {margin-top: -4px;}

.bg-teal {background-color: #00b297;color: #fff;}
.bg-primary {background-color: #0866C6;color: #fff; }
.bg-dark {background-color: ##343a40;color: #fff;}

.ic-new {position: absolute;z-index: 777;display: inline-block;vertical-align: middle;background-color: #dc3545;border-radius: 50%;width: 8px;height: 8px;}

/**
 * S: breadcrumb 
 */
.breadcrumb {font-size: 12px;background-color: #dee2e6;}
.breadcrumb a:not(.active) {color: #868e96;}
.breadcrumb a.active {color: #495057;}
/* E: breadcrumb */

/**
 * S: table 
 */
/* 부트스트랩 overwrite */
.table-hover>tbody>tr:hover {background-color: #30acc0;color: #fff;}
.table-hover>tbody>tr {transition: all .15s ease-in-out;}
.table {font-size: 14px;border: none;}
.table thead tr {border-bottom: 1px solid #dee2e6;}
.table thead tr th {border-bottom: none;}
.table th:last-child,
.table td:last-child {border-right: none; }
.table-round {border: 1px solid #dee2e6;border-radius: 4px;}
.table th {text-align: left;}
.table .center {float:center; text-align:center;}


.table-center th,
.table-center td {text-align: center;}
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {vertical-align: middle;}
.table td.confirm-data {font-size: 15px;}
.table td.confirm-data.not-yet {color: #d91a8b;}
.table td.confirm-data span{display: inline-block;vertical-align: middle;}
/* table-title 고정 형태 */
.fixed-table {overflow-x: hidden;}
.fixed-table .total_div{font-size: 15px; color:#3b5a85; font-weight:bold;}
.fixed-table .table-caption {font-size: 21px;background-color: #3b5a85;color: #fff;border: 1px solid #dee2e6;border-radius: 3px;padding: 10px;}
.fixed-table .fix-head-table {border-bottom: 1px solid #dee2e6;}
.fixed-table .fix-head-table th {font-family: "NotoKR-md";font-size: 15px;font-weight: normal;}
.fixed-table .fix-head-table td {border-top: none;}
.fixed-table .scroll-body {min-width: calc(100% + 17px);max-height: 590px;overflow-y: scroll;*/
/*.fixed-table .scroll-body {max-height: 650px; overflow-y: scroll;*/
scrollbar-highlight-color:#FFFFFF; 
scrollbar-3dlight-color:#B58E63; 
scrollbar-face-color:#F2ECE6; 
scrollbar-shadow-color:#B58E63; 
scrollbar-darkshadow-color:white; 
scrollbar-track-color:#FFFFFF; 
scrollbar-arrow-color:#B58E63;

}
.fixed-table .scroll-body table {margin-bottom: 20px;}
.fixed-table .scroll-body .table tr:first-child td {border-top: none; }
.fixed-table .fix-head-table .menu{background-color: #e9ecef; width:5%;}
.fixed-table .fix-head-table .span_div {float:left; margin-left:17px; margin-top:10px;}
.fixed-table .fix-head-table .span_div2 {float:left; margin-left:17px;}
.fixed-table .fix-head-table .select_style{width: 180px; height:40px; border:1px solid #ccc}

/* table-header 칼러 */
.table-primary tr th {background-color: #0866C6;color: #fff; float:right;}
.table-color.table-primary tbody tr td {background-color: #d0e6fd;color: #043364;}
.table-success tr th {background-color: #23bf08;color: #fff;}
.table-color.table-success tbody tr td {background-color: #d1fdc9;color: #115d04;}
.table-warning tr th {background-color: #f49917;color: #fff;}
.table-color.table-warning tbody tr td {background-color: #fdefda;color: #9e6007;}
.table-danger tr th {background-color: #dc3545;color: #fff;}
.table-color.table-danger tbody tr td {background-color: #fae3e5;color: #921925;}
.table-info tr th {background-color: #17a2b8;color: #fff;}
.table-color.table-info tbody tr td {background-color: #beeff7;color: #beeff7;}
.table-teal tr th {background-color: #00b297;color: #fff;}
.table-color.table-teal tbody tr td {background-color: #7fffec;color: #004c40;}
.table-pink tr th {background-color: #e83e8c;color: #fff;}
.table-color.table-pink tbody tr td {background-color: #fdebf3;color: #ac145a;}
.table-orange tr th {background-color: #f27510;color: #fff;}
.table-color.table-orange tbody tr td {background-color: #fde5d1;color: #944708;}
.table-dark tr th {background-color: #343a40;color: #fff;}
.table-color.table-dark tbody tr td {background-color: #dee2e6;color: #060708;}
.table-light tr th {background-color: #ced4da;color: #343a40;}
.table-color.table-light tbody tr td {background-color: #e9ecef;color: #94a1ae;}

/* pagination */
.page-index {margin-top: 20px;}
.page-index {width: 100%;text-align: center;}
.page-teal .page-link {background-color: #e9ecef;color: #333;border-color: none;}
.page-teal .page-link:hover {background-color: #ced4da;color: #343a40;}
.page-teal .active .page-link {background-color: #17a2b8;color: #fff;}
.page-teal .active .page-link:hover {background-color: #17a2b8;color: #fff;}
.page-teal .page-link.disabled {color: #adb5bd;}

/* 상세 구성 */
.table td ._from,
.table td ._to {display: inline-block;vertical-align: middle;background-color: #f49917;color: #fff;padding: 0 4px;}
.table td .hurry {display: inline-block;vertical-align: middle;background-color: #E43737;color: #fff;padding: 0 4px;margin-right: 4px;}
.table td strong {position: relative; display: inline-block; background-color: #2aabd2; color: #fff; font-family: "NotoKR-bd";font-weight: normal;font-size: 15px;padding-left: 8px;padding-right: 8px;}
.table td strong:before,
.table td strong:after {position: absolute; top: -1px;font-size: 14px;transition: all .3s ease-in-out;}
.table td strong:before {content: '[';left: 2px;}
.table td strong:after {content: ']';right: 2px;}
.table tr:hover strong:before {left: 0px;}
.table tr:hover strong:after {right: 0px;}

/* E: table */

/**
 * S: 버튼 
 */
.btn.btn-primary{float:center; margin-left:10px; margin-top:10px;}
.btn {position: relative; width:150px;}
.btn.active {-webkit-box-shadow: none;box-shadow: none;}
.btn.active:active {-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);box-shadow: inset 0 3px 5px rgba(0,0,0,.125);}
.btn.disabled {pointer-events: none;cursor: not-allowed;}

.btn-trans {transition: all .2s cubic-bezier(0.7, -0.01, 0.15, 1.01);}
.btn-trans .ic-deco {transition: all .2s cubic-bezier(0.7, -0.01, 0.15, 1.01);}



.btn .btn-deco {display: inline-block;vertical-align: middle;font-size: 1em;line-height: 1.25;border-radius: 3px;text-align: center;white-space: nowrap;user-select: none;}
.btn .btn-deco:first-child {margin-right: 4px;}
.btn .btn-deco:last-child {margin-left: 4px;}

.btn .edge-deco {background-color: rgba(0,0,0,.2);width: 34px;height: 32px;line-height: 32px;padding: 0;}
.btn:hover .edge-deco {background-color: rgba(0,0,0,.4);border-color: #3b3f44;}
.btn .edge-deco {position: absolute;top: 0;}
.btn .edge-deco:first-child {left: 0;}
.btn .edge-deco:last-child {right: 0;}

.btn-default {background-color: #727b84;background-image: none;border-color: #6c757d;color: #fff;text-shadow: none;}
.btn-default:hover,
.btn-default:focus,
.btn-default:active {background-color: #868e96;border-color: #868e96;color: #fff;}
.btn-default.hover,
.btn-default.active {background-color: #868e96;border-color: #868e96;color: #fff;}
.btn-default.hover:hover,
.btn-default.active:hover {background-color: #727b84;background-image: none;border-color: #6c757d;}

.btn-teal,
.btn-teal:hover,
.btn-teal:focus {background-image: -webkit-linear-gradient(top, #05a78e 0%, #009981 100%);border-color: #009981;color: #fff;}
.btn-teal:active {color: #fff;}
.btn-teal.active {background-color: #008c77;border-color: #006656;color: #fff;}

.btn-light {color: #111;background-color: #f8f9fa;border-color: #f8f9fa;}
.btn-light.active {background-color: #e2e6ea;border-color: #dae0e5;-webkit-box-shadow: none; box-shadow: none;}

.btn-dark {background-color: #343a40;border-color: #343a40;color: #fff; float:right; margin-left:10px; margin-top:10px;}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {color: #fff;}
.btn-dark.active {background-color: #23272b;border-color: #23272b;color: #fff;}

.btn-empty-primary {border: 1px solid #265a88 ;}
.btn-empty-primary:hover,
.btn-empty-primary:focus,
.btn-empty-primary:active {background-color: #265a88 ;color: #fff;}
.btn-empty-primary.active {background-color: #265a88 ;border: 1px solid #265a88 ;color: #fff;}

.btn-secondary {background-color: #fff;border-color: #868e96;color: #868e96;}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {background-color: #adb4bb;color: #fff;}
.btn-secondary.active {background-color: #868e96;border-color: #868e96;color: #fff;}

.btn-empty-success {color: #23BF08;border-color: #23BF08;}
.btn-empty-success:hover,
.btn-empty-success:focus,
.btn-empty-success:active {background-color: #3fcf26;color: #fff;}
.btn-empty-success.active {background-color: #23BF08;color: #fff;}

.btn-empty-warning {color: #eb9316 ;border-color: #eb9316 ;}
.btn-empty-warning:hover,
.btn-empty-warning:focus,
.btn-empty-warning:active {background-color: #ffa72a ;color: #fff;}
.btn-empty-warning.active {background-color: #e38d13 ;color: #fff;}

.btn-blue {background-color: #0866C6;background-image: none;border-color: #0866C6;color: #fff;}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active {background-color: #0753a1;border-color: #064d95;color: #fff;}
.btn-orange {background-color: #f49917;border-color: #f49917;color: #fff;}
.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active {background-color: #da850a;border-color: #ce7d0a;color: #fff;}
.btn-green {background-color: #23bf08;border-color: #23BF08;color: #fff;}
.btn-green:hover,
.btn-green:focus,
.btn-green:active {background-color: #1c9a06;border-color: #1c9a06;color: #fff;}
.btn-red {background-color: #dc3545;border-color: #dc3545;color: #fff;}
.btn-red:hover,
.btn-red:focus,
.btn-red:active {background-color: #c82333;border-color: #bd2130;color: #fff;}

.btn-round {border-radius: 20px;}

/* E: 버튼 */

/**
 * S: Form Elements 
 */
textarea.form-control {font-size: 14px;line-height: 1.25;color: #495057;padding: .65em .75em;}

/* input - checkbox */
.chk-box {position: relative;line-height: 1;margin-bottom: 0; vertical-align: middle;}
.chk-box input[type="checkbox"] {opacity: 0;margin: 0 5px 0 0;}
.chk-box span {display: inline-block;vertical-align: middle;font-size: 13px;color: #868ba1;}
.chk-box span:before,
.chk-box span:after {position: absolute;}
.chk-box span:before {content: '';width: 16px;height: 16px;background-color: #fff;border: 1px solid #adb5bd;border-radius: 2px;top: 1px;left: 0;}
.chk-box span:after {top: 1px;left: 0px;width: 16px;height: 16px;content: '\f14a';font-family: 'Font Awesome\ 5 Free';font-size: 16px;text-align: center;color: #fff;background-color: #0866c6;line-height: 17px;border-radius: 2px;display: none;}
.chk-box input[type="checkbox"]:checked + span:after {display: block;}

.chk-primary span:after {color: #0866c6;background-color: #fff; }
.chk-success span:after {color: #23bf08;background-color: #fff;}
.chk-pink span:after {color: #e83e8c;background-color: #fff;}
.chk-info span:after {color: #00b297;background-color: #fff;}

/* input - radio */
.radio-box {position: relative;line-height: 1;margin: 0;}
.radio-box input[type="radio"] {opacity: 0;margin: 0;}
.radio-box span {display: inline-block;vertical-align: middle;font-size: 13px;font-weight: normal;color: #868ba1;padding-left: 6px;}
.radio-box span:before,
.radio-box span:after {position: absolute;content: '';}
.radio-box span:before {width: 16px;height: 16px;background-color: #fff;border: 1px solid #adb5bd;border-radius: 50%;top: 2px;left: 0;}
.radio-box span:after {width: 6px;height: 6px;background-color: #fff;border-radius: 50%;top: 7px;left: 5px;display: none;}
.radio-box input[type="radio"]:checked + span:before {background-color: #0866c6;border: none;}
.radio-box input[type="radio"]:checked + span:after {display: block;}

/* custom select  */
.sel-box {position: relative;background-repeat: no-repeat;background-position: 50% center;border: 1px solid #ccc;width: 50%;height: 40px;}
.sel-box:after {position: absolute;top: 35%;right: 10px;content: '\f107';font-family: 'Font Awesome\ 5 Free';font-size: 13px;font-weight: 900;line-height: 1;}
.sel-box .txt {position: absolute;font-size: 14px;color: #333;top: 8px;left: 12px;letter-spacing: 1px;}
.sel-box select {width: 50%;height: 40px;opacity: 0;filter: alpha(opacity=0);}
.sel-box select.select_width{width: 10%;}

.sel-beige {border: 1px solid #e9dddd;}
.sel-beige .txt,
.sel-beige:after {color: #a97228;}
.sel-white {background-color: #eee;border: 1px solid #ddd;}
.sel-white .txt,
.sel-white:after {color: #333;}
.sel-black {border: 1px solid #111;background-color: #333;}
.sel-black .txt,
.sel-black:after {color: #fff;}
.sel-blue {background-color: #0866C6;border-color: transparent;}
.sel-blue .txt,
.sel-blue:after {color: #fff;}
.sel-pink {background-color: #e83e8c;border-color: transparent;}
.sel-pink .txt,
.sel-pink:after {color: #fff;}

.file-browser {position: relative;display: block;font-size: 14px;height: 38px;}
.file-browser .file-ipt {width: 85px;height: 100%;float: right;opacity: 0;}
.file-browser .ipt-view {position: absolute;top: 0;left: 0;right: 0;z-index: 10;font-family: "NoroKR";font-weight: normal;font-size: 13px;padding: 8px 16px;height: 37px;line-height: 1.5;background-color: #fff;color: #495057;pointer-events: none;user-select: none;border: 1px solid rgba(0,0,0,0.15);border-radius: 3px;}
.file-browser .placeholder {font-size: 13px;}
.file-browser .ctr {position: absolute;top: -1px;bottom: -1px;  right: -1px;background-color: #e9ecef;color: #495057;border: 1px solid rgba(0,0,0,0.15);border-radius: 3px; color: #495057;line-height: 1.5;padding: 8px 16px;}
.file-browser .ctr-primary {background-color: #0866C6;color: #fff;}
.file-browser .ctr-black {background-color: #343a40;color: #fff;}

/* E: Form Elements */