@font-face {
    font-family: 'Hemi Head';
    font-weight: bold;
    font-style: italic;
    src: url(./HemiHead.eot);
    src: url(./HemiHead.eot?#iefix) format('embedded-opentype'),
        url(./HemiHead.woff2) format('woff2'),
        url(./HemiHead.woff) format('woff'),
        url(./HemiHead.ttf) format('truetype'),
        url(./HemiHead.svg#HemiHead) format('svg');
}

