.header {position: fixed;left: 0;right: 0;top: 0;z-index: 3000;background-color: #fff;height: 60px;line-height: 60px;-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16);box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16);}
.header h1 {display: inline-block;vertical-align: middle;width: 230px;padding: 0 20px;}
.header .header-nav {display: inline-block;vertical-align: middle;}
.header .welcome {display: inline-block;vertical-align: middle;}
.header .welcome span {display: inline-block;vertical-align: middle;}
.header .welcome .user-id {font-size: 14px;color: #868e96;transition: all .2s ease-in-out;}
.header .welcome .user-id:hover {color: #343a40;}
.header .welcome sub {display: inline-block;vertical-align: middle;line-height: 1;bottom: 0;}
.header .welcome .ic-deco {font-size: 21px;color: #808ca0;}
.header .welcome .img-box {position: relative;top:-4px;height: 60px;}