.left-nav {position: fixed;top: 60px;bottom: 0;left: 0;background-color: #1D2939;width: 230px;padding: 0 10px;overflow-y: scroll;}
.left-nav .mCustomScrollBox {padding-bottom: 60px;}
.left-nav .category {color: #828282;margin-top: 20px;}
.left-nav .category h2 {display: block;font-size: 12px;font-family: "NotoKR-md";letter-spacing: 0.125em;padding-left: 15px;padding-right: 15px;margin-bottom: 10px;}

.left-nav .menu-item {position: relative;display: flex;align-items: center;justify-content:flex-start;font-size: 14px;text-align: left;color: rgb(173, 181, 189);margin-right: auto;transition: all .3s ease-in-out ;}
.left-nav .menu-item:hover,
.left-nav .menu-item:focus,
.left-nav .menu-item:active {color: #fff;}
.left-nav .menu-item:active {background-color: #18222f;}
.left-nav .menu-item.on {background-color: #00b297;color: #fff;}
.left-nav .menu-item .img-box {width: 20px;height: 20px;}
.left-nav .menu-item .img-box img {text-align: center;height: auto;}
.left-nav .menu-item .ic-arrow {font-size: 12px;transition: all .2s ease-in-out;}
.left-nav .menu-item.on .ic-arrow {transform: rotate(450deg);}
.left-nav .menu-item .txt {position: relative;display: inline-block;vertical-align: middle;margin-left: 5px;margin-right: auto;white-space: nowrap;}
.left-nav .menu-item .menu-icon {font-size: 16px;text-align: left;width: 20px;}
.left-nav .menu-item .ic-new {top: 20%;left: 26px;margin-top: -4px;}

.left-nav .info-summary li {position: relative;margin-bottom: 10px;padding-left: 15px;padding-right: 15px;}
.left-nav .info-summary .tit {font-size: 14px;margin-bottom: 6px;}
.left-nav .info-summary .cont {font-size: 20px;color: #fff;}
.left-nav .info-summary .graph {position: absolute;top: 24px;right: 10px;}

.left-nav .depth-1 li {position: relative;}
.left-nav .depth-2 {padding-left: 27px;}
.left-nav .depth-2 a {position: relative;}
.left-nav .depth-2 a:hover,
.left-nav .depth-2 a:focus,
.left-nav .depth-2 a:active {color: #17a2b8;}
.left-nav .depth-2 a:before {content: '';position: absolute;top: 50%;left: -5px;background-color: rgb(173, 181, 189);margin-top: -.5px;width: 5px;height: 1px;transition: all .2s ease-in-out;}
.left-nav .depth-2 a.active {color: #17a2b8;}
.left-nav .depth-2 a:hover:before,
.left-nav .depth-2 a.active:before {width: 20px;left: -15px;background-color: #17a2b8;}