.main {background-color: #e9ecef;margin-top: 60px;margin-left: 230px;}

.main-panel {margin-left: 30px;margin-right: 30px;}
.main-panel .page-content {background-color: #fff;margin-top: 30px;padding: 30px 60px;-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.21);box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.21);}

.main-panel .page-search {background-color:white;margin-top: 30px; width:80%; min-width:400px; height:30%; padding: 30px 60px;-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.21);box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.21);}
.main-panel .page-search .Palal{width:100%; height:35px; background-color:#F6F6F6; padding: 7px; font-size:15px; float:left; text-align:center; }
.main-panel .page-search .date_td{width:250px;}
.main-panel .page-search div{width:20px;float:left; padding:5px;}
.main-panel .page-search .textBox{width:100%; min-width:100px; height:35px; font-size:12px; float:left;}
.main-panel .page-search .datepicker-here{width:45%; min-width:100px; height:35px; font-size:12px; float:left;}
.search_button {float:right; width:100px; height:40px; background-color:#4C4C4C; border: 1px solid #4C4C4C;  color:white; margin-top:-20px; margin-left:10px;}
.search_button_td_in {margin-right:10px; float:right; width:100px; height:40px; background-color:#4C4C4C; border: 1px solid #4C4C4C;  color:white; }

.exel_button {float:right; width:100px; height:40px; background-color:#5D9657; border: 1px solid #4C4C4C;  color:white; margin-top:-20px; :10px; }
.exel_button_td_in {padding:10px; margin-right:10px; float:right; width:100px; height:40px; background-color:#4C4C4C; border: 1px solid #4C4C4C;  color:white; }


.main-panel .page-title {margin-top: 30px;}
.main-panel .page-title h2 {font-family: "NotoKR-md";font-size: 1.5em;color: #343a40;margin-bottom: 5px;}
.main-panel .page-title p {font-size: 1em;color: #868ba1;line-height: 1.5;}
.textBox{width:100%; min-width:100px; height:35px; font-size:12px; float:left;}