h1, h2, h3, h4, h5, h6, p, div, ul, ol, li, dl, dt, dd, table {margin: 0;padding: 0;}
label {margin-bottom: 0;}
li {list-style: none;}
a,
a:hover,
a:focus,
a:active {color: #000;}

a {display: inline-block;}
textarea {resize: none;}
a, button, label, select, input {touch-action: manipulation;}


.ic-deco {display: inline-block;vertical-align: middle;}

.img-box {display: inline-block;vertical-align: middle;}
.img-box > img {display: inline-block;height: 100%;}

.cut-eli {display: inline-block;vertical-align: middle;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}

.input-block {width: 100%;padding-left: 5px;padding-right: 5px;}

table th {font-weight: normal;font-family: "NotoKR-bd";text-align: center;}
.table {margin-bottom: 0;}