@charset "utf-8";
@import url(./fonts/Gotham/Gotham.css);

/* layout */
.wrapper,.header_wrap,.container_wrap,.footer_wrap{position:relative;width:100%;height:100%;}
.wrapper,.header_wrap,.container_wrap,.footer_wrap_gate{position:relative;width:100%;}

/* header */
.header_wrap:before{content:'';display:block;position:absolute;top:78px;left:0;width:100%;height:1px;}
.header .logo_wrap{width:100%;padding:15px 10px;overflow:hidden;}
.header .logo_wrap a{}
.header .logo_wrap a.sub_logo{float:right;margin-top:10px;}
.header .logo_wrap .main_logo.media {display: none;}

.header{position:relative;}
.header .hd_cont{clear:both;position:relative;width:100%;height:47px;padding:0 10px;}
.header .hd_cont .btn_burger{display:none;float:left;text-align:center;width:50px;height:100%;line-height:47px;border-left:1px solid #d2d2d2;border-right:1px solid #d2d2d2;cursor:pointer;background:url('/front/img/common/burger.png') no-repeat center;
-webkit-transition:background .2s ease-in-out;
-moz-transition:background .2s ease-in-out;
-o-transition:background .2s ease-in-out;
transition:background .2s ease-in-out;
}
.header .hd_cont .btn_burger.close{background:url('/front/img/common/icon_close.png') no-repeat center;}

/* 로그인, 회원가입 */
.header .login{float:right;/*padding-top:15px;*/}
.header .login li{float:left;/*padding-top:15px;*/}
.header .login a{display:inline-block;text-align:center;font-weight: 300;font-family: 'Gotham',sans-serif;font-weight: 300;}
.header .login span {float:left;margin-left: 9px;margin-right: 9px;}

/* 마이페이지 - 로그인, 장바구니 아이콘 */
.header .user_wrap{float:right;padding-top:23px;}
.header .user_wrap.mobile {display: none;padding-top:11px;}
.header .user_wrap > li{float:left;position:relative;margin-left:20px;}
.header .user_wrap a{display:block;text-align:center;}
.header .user_wrap a.cart{position:relative;margin-top: -7px;}
.header .user_wrap a.cart .amount{position:absolute;top:-1px;right:0;display:block;text-align:center;width:15px;height:15px;line-height:100%;padding-top:2px;font-size:9px;border-radius:50%;color:#fff;}

/* 검색버튼 */
.sch_box .search_cont{width:24px;height:27px;position:relative;overflow:hidden;float:right;}
.sch_box .search_cont .ip_txt{width:100%;margin-left:100%;border-bottom:1px solid #D92F2A;transition:all .5s;}
.sch_box .search_cont.active{width:122px;}
.sch_box .search_cont.active .ip_txt{height:27px;margin-left:0;}
.sch_box .search_cont .text{width:88%;height:100%;outline:none;border:1px solid #fff;line-height:20px;font-size:11px;}

.sch_box .btn_search{position:absolute;top:0;right:0;}
.sch_box .btn_search #sub_wrap{width:24px;height:24px;display:block;position:absolute;top:0;right:0;padding:0;margin:0;border:0;outline:0;text-align:center;cursor:pointer;color:#fff;text-indent:-9999px;z-index:10;background:transparent;}
.sch_box .btn_search .icon{display:inline-block;width:24px;height:24px;background:url('/front/img/header/icon_search.png') no-repeat top center / 100%;}

/* 마이페이지 */
/*.mypage_box{position:relative;}*/
.mypage{cursor:pointer;}
.mypage_mini{display:none;position: fixed;margin-top:6px;width:140px;height:auto;margin-left:-62px;padding:10px;border:1px solid #d2d2d2;font-size:13px;font-weight:500;color:#555;background:#fff;}
.mypage_mini li{height:40px;line-height:40px;}
.mypage_mini li:nth-child(2){border-top:1px solid #d2d2d2;border-bottom:1px solid #d2d2d2;}
.mypage_mini.active{display:block;}

.mypage_box_branch{float:right;line-height:1;padding:5px 10px;border-radius:20px;background:#3990fd;color:#fff !important;}

/* gnb */
.header .w_align{width:1200px;margin:0 auto;}
.header .hd_cont{height:auto;}
.header .hd_nav{height:70px;border-top:1px solid #d2d2d2;}
.hd_nav .menu > li{float:left;width:150px;padding-left:9px;font-family:'Gotham',sans-serif;font-weight:500;}
.gnb_wrap{}
.gnb_wrap a.main_logo{float:left;line-height: 70px;margin-right:91px;}
.gnb_wrap a.main_logo img {width: 100%;}
.gnb_wrap .menu{}
.gnb_wrap .menu li{position:relative;}
.gnb_wrap .menu li a{display:block;font-weight:400;font-size:16px;line-height:70px;}
.gnb_wrap .menu li.active a,
.gnb_wrap .menu li a:hover{color:#1428a0;}

.lnb_wrap{position:absolute;top:100%;left:0;width:100%;z-index:99999;background:#fff;
display:none;
/*-webkit-transition: all 1s;*/
/*-moz-transition: all 1s;*/
/*-ms-transition: all 1s;*/
/*-o-transition: all 1s;*/
/*transition: all 1s;*/
/*visibility: hidden;*/
/*opacity: 0;*/
/*height:0;*/
}
.lnb_wrap.active{/* visibility:visible;opacity:1;height:auto; */display:block;border-top:1px solid #d2d2d2;border-bottom:1px solid #bfbfbf;}

.lnb_wrap .menu{padding:18px 0 18px 211px;height:100%;overflow:hidden;background:#fff;
display:table-cell;
display:-webkit-flex;
display:-moz-flex;
display:-ms-flexbox;
display:-o-flex;
display:flex;
}
.lnb_wrap .menu > li{min-height:100%;padding:13px 9px;border-left:1px solid #f7f7f7;}
.lnb_wrap .menu li:first-child{border:none;}
.lnb_wrap .menu .list{height:100%;}

.lnb_wrap .list li{margin-top:10px;cursor:pointer;}
.lnb_wrap .list li:first-child{margin-top:0;cursor:pointer;}
.lnb_wrap .list li a,


.lnb_wrap .lnb_tit:hover{color:#1428a0;}



.lnb_wrap .btn_back{position:absolute;top:8px;left:0;width:30px;height:50px;background:url('/front/img/common/icon_lnb_arrow.png') no-repeat center;display:none;cursor:pointer;z-index:99999;}

/* 헤더 전꺼
	.header .hd_nav{position:absolute;top:100%;left:0;width:100%;height:0;background:#fff;z-index:-1;border:1px solid #e1e1e1;overflow:hidden;visibility:hidden;
	-webkit-transition:height .2s ease-in-out;
	-moz-transition:height .2s ease-in-out;
	-o-transition:height .2s ease-in-out;
	transition:height .2s ;
	}
	.header .hd_nav.active{height:auto;visibility:visible;z-index:9;}
	.header .hd_nav .gnb_wrap{float:left;width:200px;margin:-1px;padding:17px 20px;border:1px solid #d2d2d2;}
	.header .hd_nav .gnb{}
	.header .hd_nav .gnb li{}
	.header .hd_nav .gnb li a{display:block;font-weight:300;font-size:16px;background:url('/front/img/common/icon_nav_arrow.png') no-repeat center right;height:50px;line-height:50px;padding-right:20px;}
	.header .hd_nav .gnb li.active a,.header .hd_nav .gnb li a:hover{color:#1428a0;font-weight:700;}

	.header .hd_nav .lnb_wrap{position:relative;float:right;width:calc(100% - 200px);height:auto;}
	.header .hd_nav .lnb_wrap .lnb .list{position:absolute;top:0;left:61px;width:100%;height:100%;padding:17px 0;background:#fff;
	opacity:0;
	visibility:hidden;
	-moz-transition:opacity 0.5s 0.01s ease-in-out, left 0.5s 0.1s ease-out, visibility 0.1s 0.1s linear;
	-webkit-transition:opacity 0.5s 0.01s ease-in-out, left 0.5s 0.1s ease-out, visibility 0.1s 0.1s linear;
	-o-transition:opacity 0.5s 0.01s ease-in-out, left 0.5s 0.1s ease-out, visibility 0.1s 0.1s linear;
	transition:opacity 0.5s 0.01s ease-in-out, left 0.5s 0.1s ease-out, visibility 0.1s 0.1s linear;
	}
	.header .hd_nav .lnb_wrap .lnb .list.active{
	opacity:1;left:0;height:100%;visibility:visible;
	}
	.header .hd_nav .list li{float:left;margin-left:50px;line-height:100%;}
	.header .hd_nav .list li .lnb_tit a{font-weight:700;font-size:16px;margin-bottom:23px;}
	.header .hd_nav .list li a{display:block;margin-top:16px;font-size:13px;}
	.btn_back{position:absolute;top:0;left:0;width:50px;height:50px;background:url('/front/img/common/icon_lnb_arrow.png') no-repeat center;display:none;cursor:pointer;}

 */


/* footer */
.footer_wrap{letter-spacing:-0.5px;color:#aaa;border-top:1px solid #f1f1f1;overflow:hidden;background: #24282E;}
.footer_wrap .footer{position:relative;width: 100%;background:#11141C}
.footer_wrap .footer .footer-row{width:1200px;margin: 0 auto;padding:1.75rem 0;}
.footer_wrap .footer .footer-row .ft_nav{font-size: 1.333rem;}
.footer_wrap .footer .footer-row .ft_nav a{font-family: 'Noto Sans KR',sans-serif;font-weight:500;color:#ddd;margin-left:30px;}
.footer_wrap .footer .footer-row .ft_nav a:first-child{margin-left:0;}

.footer cite{}

/* ft_sc */
.footer_col_wrap{width:1200px; margin:0 auto;padding-top:3.667rem;padding-bottom:2.75rem;}
.footer_col_wrap .footer-col{display: inline-block;}
.footer_col_wrap .footer-col:nth-of-type(1){margin-right: 26.75rem;}
.footer_col_wrap .footer-col .center{font-size: 1.833rem;color:#ddd;font-family: 'Gotham',sans-serif;display: inline-block;margin-bottom: 1.25rem;}
.footer_col_wrap .footer-col .center_number{font-size: 3.667rem;font-family: 'Gotham',sans-serif;color:#fff;}
.footer_col_wrap .footer-col .footer-detail{font-size: 1.167rem;}
.footer_col_wrap .footer-col .footer-sns {margin-bottom: 2.5rem;}
.footer_col_wrap .footer-col .footer-sns a{margin-right: 3.167rem;}
.footer_col_wrap .footer-col .footer-company{margin-bottom: 1.667rem;}
.footer_col_wrap .footer-col .footer-company a{color:#fff;font-size: 1.167rem;}
.footer_col_wrap .footer-col li:first-child{margin-left:0;}

/* container */
.container_wrap{border-top:1px solid #d2d2d2;}

/* etc */
.etc_page{}
.etc_page .iframe_terms{height:100%;margin:50px 0;}
.etc_page .page_tit{font-size:30px;padding:0;}
.etc_page .bottom_wrap .list_wrap{height:100%;}
.etc_page .bottom_wrap .list_wrap div{background:#fff;margin:20px auto;padding:50px;padding-top:0;}
.etc_page .bottom_wrap div dl{padding-top:50px;font-size:15px;overflow:hidden;}
.etc_page .bottom_wrap div dt{color:#1428a0;font-weight:500;}

/* qna */
.qna_page{}
.qna_page .qna_cate a{display:inline-block;font-size:20px;color:#ccc;margin:0 0 5px 30px;}
.qna_page .qna_cate a:first-child{margin-left:0;}
.qna_page .qna_cate a.active{color:#1428a0;}
.qna_page .qna_cont dl{}
.qna_page .qna_cont dl dt{}


.branch_page{}
.branch_page .branch_cate a{display:inline-block;font-size:20px;color:#ccc;margin:0 0 5px 60px;}
.branch_page .branch_cate a:first-child{}
.branch_page .branch_cate a.active{color:#1428a0;}
.branch_page .branch_cont dl{}
.branch_page .branch_cont dl dt{}
.branch_page .branch_cont table{width:100%; }
.branch_page .branch_cont table td{width:100%; border:1px solid #d2d2d2; text-align:center;}
.branch_page .branch_cont table .title{background:#3990fd; height:30px; width:33%; color:white; text-align:center;}
.branch_page .branch_cont table .top_title{border-top:1px solid white; border-left:1px solid white; border-right:1px solid white;   font-size:20px;}




/* privacy */
.privacy_page .privacy_cont p{margin-top:20px;}

.iframe_terms{width:100%;height:100%;background:#fff;}

/* 퀵배너 */
.quick_bn{position:fixed;top:50%;right:-70px;transform:translateY(-50%);border-radius:10px 0 0 10px;background:#13509d;
-webkit-transition:right .5s ease;
-moz-transition:right .5s ease;
-ms-transition:right .5s ease;
-o-transition:right .5s ease;
transition:right .5s ease;
padding-left:25px;}
.quick_bn li{position:relative;text-align:center;display:table;width:70px;height:70px;}
.quick_bn li:before{content:'';display:inline-block;position:absolute;top:0;left:50%;width:20px;height:1px;margin-left:-10px;background:#eee;}
.quick_bn li img{width:40%;margin-bottom:5px;}
.quick_bn li:first-child:before{display:none;}
.quick_bn a{display:table-cell;vertical-align:middle;color:#fff;font-size:14px;}

.quick_bn .btn_quick{cursor:pointer;position:absolute;top:50%;left:0;width:25px;height:100%;transform:translateY(-50%);}
.quick_bn .btn_quick i{display:block;width:12px;height:100%;margin:0 auto;background:url('/front/img/common/icon_quick.png') no-repeat left center;}
.quick_bn.active{right:0;opacity:1;}
.quick_bn.active .btn_quick i{background-position:right center;}
.header .hd_cont .btn_burger2{display:none; float:right;}


@media screen and (max-width:1300px){
	.header .w_align{width:100%;}
	
	.logo_wrap,.header .hd_cont{width:100%;padding-left:10px;padding-right:10px;}
	.header .hd_cont{height:47px;border-top:1px solid #d2d2d2;}
	.header .hd_cont .btn_burger{display:block;}
	.header .hd_cont .btn_burger2{display:block; float:right;}
	.header .logo_wrap .main_logo.media {display: inline-block;}

	.header .user_wrap {}
	.header .user_wrap.mobile {display: block;}
	.header .user_wrap.pc {display: none;}

	.hd_nav{}
	.hd_nav .main_logo{display: none;}
	.hd_nav .menu > li{float:none;width:100%;padding-left:0;}
	.header .hd_nav{position:absolute;top:100%;left:0;width:100%;height:0;background:#fff;z-index:-1;border:1px solid #e1e1e1;overflow:hidden;visibility:hidden;
	-webkit-transition:height .2s ease-in-out;
	-moz-transition:height .2s ease-in-out;
	-o-transition:height .2s ease-in-out;
	transition:height .2s ;
	}
	.hd_nav.active{height:auto;visibility:visible;z-index:9;}

	.header .gnb_wrap{float:left;width:200px;margin:-1px;padding:17px 20px;border:1px solid #d2d2d2;}
	.gnb_wrap .menu li a{display:block;font-weight:300;font-size:16px;background:url('/front/img/common/icon_nav_arrow.png') no-repeat center right;height:50px;line-height:50px;padding-right:20px;}

	.lnb_wrap{position:relative;left:1px;float:left;width:calc(100% - 200px);height:100%;border:none;display:block;opacity:1;}
	.lnb_wrap.active{border:none;height:100%;}

	.lnb_wrap .list{position:absolute;top:0;left:61px;width:100%;height:100%;padding:17px 0;background:#fff;
	opacity:0;
	visibility:hidden;
	-moz-transition:opacity 0.5s 0.1s ease-in-out, left 0.5s 0.1s ease-out, visibility 0.5s 0.1s linear;
	-webkit-transition:opacity 0.5s 0.1s ease-in-out, left 0.5s 0.1s ease-out, visibility 0.5s 0.1s linear;
	-o-transition:opacity 0.5s 0.1s ease-in-out, left 0.5s 0.1s ease-out, visibility 0.5s 0.1s linear;
	transition:opacity 0.5s 0.1s ease-in-out, left 0.5s 0.1s ease-out, visibility 0.5s 0.1s linear;
	}
	.lnb_wrap .menu{width:auto;}
	.lnb_wrap .menu .list.active{opacity:1;left:0;visibility:visible;overflow:hidden;overflow-y:auto;}
	.lnb_wrap .list li{float:left;margin:0;margin-left:50px;line-height:50px;}
	.lnb_wrap .list li:first-child{margin-left:50px;}
	.lnb_wrap .list li a{display:block;margin-top:16px;}

	/* 온라인구매몰 */
	.footer_wrap .footer .footer-row {width: 100%;text-align: center;}
	.footer_col_wrap {width:100%;text-align: center;}
	.footer_col_wrap .footer-col{display: block;}
	.footer_col_wrap .footer-col:nth-of-type(1){margin-right: 0;margin-bottom: 4.167rem;}
	.ft_box{width:100%;padding:0 10px;}
}
@media screen and (max-width:940px){

	.footer,.footer_col_wrap{float:none;width:100%;}
	.footer_col_wrap .footer-col li{margin-top:20px;}

	.m_quick_menu{right:-80px;}
	.m_quick_menu .btn_quick{display:block;}
}
@media screen and (max-width:740px){
	.header .hd_cont .btn_burger{display:block}

/*	.footer_col_wrap .footer-col li{text-align:left;}*/

	.etc_page .bottom_wrap .list_wrap div{padding:10px;padding-top:0;}
	.qna_page .top_wrap .list_wrap{height:100px;overflow:hidden;}
	.qna_page .qna_cate{width:100%;height:50px;white-space:nowrap;overflow-x:scroll;overflow-y:hidden;-webkit-overflow-scrolling:touch;scroll-behavior:smooth;}
	.qna_page .qna_cate a{font-size:15px;margin-left:20px;}
}
@media screen and (max-width:640px){
	.header_wrap:before{top:60px;}

	.logo_wrap a.main_logo{height:30px;line-height:30px;}
	.logo_wrap a.sub_logo{height:15px;line-height:30px;margin-top:0;}
	
	.searchWrap.active{width:175px;}
	.searchWrap .text{width:85%;}

	.header .gnb_wrap{width:100%;border:none;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	visibility: visible;
	opacity: 1;
	}
	
	.header .gnb_wrap.active{visibility:hidden;opacity:0;width:0;padding:0;display:block;}
	.gnb_wrap .menu li a{display:block;font-weight:300;font-size:16px;background:url('/front/img/common/icon_nav_arrow.png') no-repeat center right;height:50px;line-height:50px;padding-right:20px; }
	.lnb_wrap{width:0%;}
	.lnb_wrap .list li{float:none;line-height:30px;margin-bottom:16px;}
	.lnb_wrap .list li a:hover{border-bottom:1px solid #fff;}
	.lnb_wrap.active{border:none;width:100%;}
	.lnb_wrap.active .btn_back{display:block;}

	.lnb_wrap .menu{height:400px;}

	.mypage_mini{margin-left:-81px;}
	.footer,.footer_col_wrap{float:none;}
	.footer_col_wrap .footer-col .detail p:first-child{margin:5px 10px 0 0;}

}
@media screen and (max-width:480px){
	.header .w_align .kakao_link{margin-top:-100px;}
/*	.footer_col_wrap .footer-col li{width:40%;margin:0;}*/
/*	.footer_col_wrap .footer-col li:first-child{width:60%;}*/
}
