/* nanumgothic */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/*Noto Sans KR*/
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body,html,div,form,label,input,button,a,p,table,tr,th,td,textarea,dl,dt,dd,ul,li{margin:0;padding:0;line-height:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;letter-spacing:-1px;font-family:'Noto Sans KR','Nanum Gothic',sans-serif;color:#333;}
a{text-decoration:none;}
address,cite,em{font-style:normal;}
input[type="checkbox"]{display:none;}
input[type="checkbox"] + label span{display:inline-block;width:15px;height:15px;margin:-2px 5px 0 0;vertical-align:middle;border:1px solid #c3c3c3;cursor:pointer;}
input[type="checkbox"]:checked + label span{background:url('/front/img/chk_on.png') no-repeat left top/100%;}
ul,li{list-style:none;}
.hide{width:1px;height:1px;overflow:hidden;visibility:hidden;line-height:0;font-size:0;position:absolute;left:-999px;}
a[href^=tel]{color:inherit;text-decoration:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}/* 사파리 밑줄제거 */

.login_wrap input::-webkit-input-placeholder,
.login_wrap textarea::-webkit-input-placeholder{color:#666;font-size:15px;}/* Chrome/Opera/Safari */
.login_wrap input::-moz-placeholder,
.login_wrap textarea::-moz-placeholder{color:#666;font-size:15px;}/* Firefox 19+ */
.login_wrap input:-ms-input-placeholder,
.login_wrap textarea:-ms-input-placeholder{color:#666;font-size:15px;}/* IE 10+ */
.login_wrap input:-moz-placeholder,
.login_wrap textarea:-moz-placeholder{color:#666;font-size:15px;}/* Firefox 18- */

.login_wrap{position:relative;width:100%;margin:0 auto;overflow:hidden; margin-top:30px;}
.login_wrap h1{text-align:center;width:1200px;margin:0 auto 5%;}
.login_wrap h1 img{width:100%;max-width:700px;}
@media screen and (max-width: 1200px){
	.login_wrap h1{width:100%;}
}
.login_wrap .login_form{width:100%;max-width:640px;margin:0 auto;padding:0 10px;}
.login_wrap .login_form .login_box{float:left;width:75%;}
.login_wrap .login_form .login_box input{border:1px solid #e7e7e7;background:#eee;width:100%;height:50px;padding-left:3%;margin-top:1%;}
.login_wrap .login_form .login_box input#get_login_id{margin-top:0;}
.login_wrap .login_form .login_box .hide{width:0;height:0;overflow:hidden;visibility:hidden;line-height:0;font-size:0;position:absolute;left:-999px;}
.login_wrap .login_form .login_btn{float:right;width:24%;}

.login_wrap .login_form .login_btn .button{text-align:center;color:#fff;border:none;background:#0e4194;width:100%;height:50px;font-size:15px;-webkit-appearance:none;/* 사파리버튼리셋 */}
.login_wrap .login_form .delibery_btn{float:center;}
.login_wrap .login_form .delibery_btn .button{text-align:center;color:#fff;border:none;background:#0e4194;width:100%;height:100px;font-size:50px;-webkit-appearance:none; cursor:pointer;/* 사파리버튼리셋 */}
.login_wrap .login_form .save_id{clear:both;position:relative;padding:20px 0 30px;border-bottom:1px solid #333;}
.login_wrap .login_form .save_id label{font-size:17px;color:#333;}
.login_wrap .login_form .find_wrap{text-align:center;margin:35px 0;color:#c3c3c3;}
.login_wrap .login_form .find_wrap p{color:#666;font-size:15px;margin-bottom:10px;}
.login_wrap .login_form .find_wrap a{color:#333;font-size:15px;text-decoration:none;}
.login_wrap .cs_wrap p{text-align:center;font-size:12px;color:#333;text-decoration:none;}
/*.login_wrap .cs_wrap p:first-child{font-size:15px;margin-bottom:25px;}*/


@media screen and (max-width:740px){
	.login_wrap{position:relative;max-width:640px;margin:0 auto;overflow:hidden;}
}

/* popup */
.popup_wrap{left:0px;top:0px;width:100%;height:100%;position:absolute;z-index:999;background:rgba(0,0,0,0.5);display:none;}
.popup_wrap button{cursor:pointer;border:none;background:none;}
.popup_wrap .point{color:blue;text-indent:-14px;line-height:1.2;padding-left:15px;font-size:13px;}
.popup_wrap input{width:177px;height:29px;line-height:29px;padding-left:5px;border:1px solid #c3c3c3;}
.popup_wrap select{width:177px;height:29px;line-height:29px;padding-left:5px;border:1px solid #c3c3c3;}
.popup_wrap input[type="number"]{text-align:center;padding-left:0;}
.popup_wrap input[type="checkbox"]{border:1px solid #c3c3c3;background:none;}
.popup_wrap button,.popup_wrap input{vertical-align:middle;}
.popup_wrap label{margin-top:5px;font-size:13px;display:block;}

.popup_wrap .box{background-color:#fff;border:solid 3px #027cc5;border-top:none;position:absolute;left:50%;z-index:10000;;width:95%;max-width:600px;height:auto;top:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);}
.popup_wrap h2{position:relative;margin:0;padding:20px 10px;background:#027cc5;color:#fff;font-size:15px;}
.popup_wrap #close_x{font-weight:800;position:absolute;top:0;right:0;padding:15px 10px;font-size:25px;color:#fff;z-index:99991;}

/* 회원가입 */
.join_wrap dl{width:100%;padding:15px 10px;border-bottom:1px solid #eee;}
.join_wrap dt{text-align:left;font-weight:400;letter-spacing:-1px;margin-bottom:10px;}
.join_wrap .btn_join{padding:8px;background:#555;color:#fff;margin-left:5px;}
.join_wrap .num_short{width:50px;}
.join_wrap .num_long{width:100%;margin-top:5px;}
.join_wrap .term{padding-left:10px;}
.join_wrap .term h3{margin-top:0;font-size:15px;font-weight:400;}
.join_wrap form{height:450px;overflow-y:scroll;}
.join_wrap .term .term_cont{font-size:13px;height:100px;padding:5px;overflow-y:scroll;border:1px solid #c3c3c3;}
.join_wrap .term .term_cont p{margin-bottom:15px;line-height:1.3;}

/* 아이디&비번찾기 */
.popup_wrap .find_info{text-indent:-6px;margin-left:6px;padding:10px;}
.popup_wrap .find_info li{font-size:14px;line-height:1.3;margin-top:5px;}
.popup_wrap .find_box{}
.popup_wrap .find_box .find_cont{text-align:center;padding:10px 10px 0;}
.popup_wrap .find_box .find_cont:first-child{margin-top:0;}
.popup_wrap .find_box .find_cont label{display:inline-block;text-align:right;width:81px;margin-right:10px;vertical-align:middle;}
.popup_wrap .find_box .find_cont input{margin-top:10px;}
.popup_wrap .find_box .find_cont input[type="radio"]{width:auto;height:auto;}
#find_id .find_cont > label{width:auto;text-align:left;}
#find_id label{width:100px;}
#find_pw label{width:100px;}

.login_wrap .btn_wrap{margin:30px 0;text-align:center;}
.login_wrap .btn_wrap a{display:inline-block;background:#eee;color:#333;border:1px solid #c3c3c3;width:127px;padding:10px 0;text-decoration:none;}
.login_wrap .btn_wrap a.btn_agree{background:#027cc5;border:1px solid #027cc5;color:#fff;}
.login_wrap .btn_wrap a.btn_agree_button{background:#555;border:1px solid #027cc5;color:#fff;}


.popup_wrap .end_box{left:50%;}
.popup_wrap .end_box span{color:#027cc5;}
.popup_wrap .end_box p{text-align:center;padding:50px 0 0;line-height:1.5;}
.popup_wrap .end_box p.end_box_info{padding-top:20px;line-height:1.3;font-size:13px;color:#555;}

.popup_cont{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);z-index:1;}
.popup_cont > a{display:block;}
.popup_cont img{width:100%;}
.popup_cont .btn_close{background:#333;padding:10px;text-align:right;}
.popup_cont .btn_close button{background:none;border:none;color:#fff;margin-left:10px;}


/* 레이어 팝업 */
.popup_layer{display:none;position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.5);z-index:1005;}
.popup_layer.on{display:block;}
.popup_layer .group{position:absolute;top:50%;left:50%;min-width:300px;width:500px;max-width:500px;height:90%;background:#fff;
-webkit-transform:translate(-50%,-50%);
-moz-transform:translate(-50%,-50%);
-ms-transform:translate(-50%,-50%);
-o-transform:translate(-50%,-50%);
transform:translate(-50%,-50%);
overflow:hidden;
}
.popup_layer h2{text-align:center;width:100%;margin:0;padding:13.5px 0;background:#1428a0;font-size:16px;color:#fff;z-index:999;}
.popup_layer .cont_box{height:calc(100% - 50px);padding:20px 10px; font-family: 'NanumBarunGothic', 'serif'; line-height:200%; overflow-y:auto; }
.popup_layer .pop_close{position:absolute;top:0;right:0;float:right;width:35px;height:42px;background: url('/front/img/common/icon_close_popup.png') no-repeat left center / 25px;z-index:9999;border:none;}
.popup_layer .pop_close span{display:none;}/* 삭제! */

/* etc */
.etc_page dl{padding-top:20px;font-size:15px;overflow:hidden;}
.etc_page dt{color:#1428a0;font-weight:500;line-height:1.2;margin-bottom:10px;}
.etc_page dd p{line-height:1.2;color:#555;}

/* qna */
.qna_page .qna_cate{width:100%;height:43px;white-space:nowrap;overflow-x:auto;overflow-y:hidden;-webkit-overflow-scrolling:touch;scroll-behavior:smooth;}
.qna_page .qna_cate a{display:inline-block;font-size:18px;color:#ccc;margin-left:30px;}
.qna_page .qna_cate a:first-child{margin-left:0;}
.qna_page .qna_cate a.active{color:#1428a0;}


.write{text-align:center;width:100px;margin:15px 0;color:#898989;font-size:15px;padding:10px;background:#0e4194;color:white;}
.write .write_div{cursor:pointer;color:white;}
.iframe_terms{width:100%;}

.div2 {text-align:center;line-height:20px;font-size:12px;margin:30px auto;color:blue;}
.div4 {text-align:center;line-height:20px;font-size:16px;margin:30px auto;color:blue;}
/*  */
.div3{ position:absolute; font-size:12px; line-height:20px;font-size:19px;margin:-45px; margin-left:120px; auto;color:blue;font-weight:bold;}
.chk_all{margin-left:20px; font-size:15px;font-style:inherit;font-weight:bold;}

/* footer */
.footer_wrap{margin-top:50px;padding:20px 0;letter-spacing:-0.5px;color:#aaa;border-top:1px solid #f1f1f1;overflow:hidden;}
.ft_box{width:1200px;margin:0 auto;}
.footer{float:left;width:calc(100% - 550px);}
.footer .ft_nav{margin-bottom:18px;font-size:13px;}
.footer .ft_nav a{font-weight:700;color:#555;margin-left:30px;}
.footer .ft_nav a:first-child{margin-left:0;}
/*.footer address span:after{content:'|';padding-left:2px;margin-right:2px;}*/
.footer address{font-size:13px;line-height:25px;}
.footer address span:last-child:after{display:none;}
.footer cite{}

/* ft_sc */
.ft_sc_wrap{float:right;/* padding:6px 0; */}
.ft_sc_wrap .info_cont{width:100%;overflow:hidden;}
.ft_sc_wrap .info_cont li{float:left;/* text-align:right;margin-left:20px; */}
.ft_sc_wrap .info_cont li:first-child{margin-left:0;}
.ft_sc_wrap .info_cont h3{font-size:14px;font-weight:500;color:#000;}
.ft_sc_wrap .info_cont .detail{display:;/* margin-top:21px; */}
.ft_sc_wrap .info_cont .detail p{line-height:15px;font-size:12px;}
.ft_sc_wrap .info_cont .detail p:first-child{margin:21px 0 28px;}
.ft_sc_wrap .info_cont .detail.sc_wrap{margin-top:5px;}
.ft_sc_wrap .info_cont .detail p.call{text-align:left;float:left;line-height:17px;margin:0 0 5px;margin-right:10px;}
.ft_sc_wrap .info_cont .detail p.call span{font-size:15px;color:#999;text-decoration:none;}


/*********** media *************/
@media screen and (max-width:1300px){
	.ft_box{width:100%;padding:0 10px;}
}
@media screen and (max-width:940px){
	.footer,.ft_sc_wrap{float:none;width:100%;}
	.ft_sc_wrap .info_cont li{margin-top:20px;}
}
@media screen and (max-width:740px){
	.qna_page .qna_cate{height:30px;}
}
@media screen and (max-width:640px){
	.footer,.ft_sc_wrap{float:none;}
	.footer address{line-height:18px;}
	.ft_sc_wrap .info_cont .detail p:first-child{margin:5px 10px 0 0;}
	.popup_layer .group{width:300px;}
}
@media screen and (max-width:375px){
	.footer .ft_nav a{margin-left:6px;}
}
@media screen and (max-width:360px){
	.login_wrap .login_form .login_box input{height:40px;}
	.login_wrap .login_form .login_btn .button{height:82px;}
	.login_wrap .login_form .save_id input[type="checkbox"] + label:before{width:15px;height:15px;line-height:15px;}
	.login_wrap .login_form .save_id label{font-size:12px;}
}
@media screen and (max-width:320px){
	#popup01{width:87%;margin-left:-43%;}
	#popup01 .btn_close{width:100%;}
}


/* 검색버튼 */
.sch_box .search_cont{width:24px;height:25px;position:relative;overflow:hidden;float:right;}
.sch_box .search_cont .ip_txt{width:100%;margin-left:100%;border-bottom:1px solid #ccc;transition:all .5s;}
.sch_box .search_cont.active{width:155px;}
.sch_box .search_cont.active .ip_txt{height:25px;margin-left:0;}
.sch_box .search_cont .text{width:88%;height:100%;outline:none;border:1px solid #fff;line-height:20px;font-size:11px;}

.sch_box .btn_search{position:absolute;top:0;right:0;}
.sch_box .btn_search #sub_wrap{width:24px;height:24px;display:block;position:absolute;top:0;right:0;padding:0;margin:0;border:0;outline:0;text-align:center;cursor:pointer;color:#fff;text-indent:-9999px;z-index:10;background:transparent;}
.sch_box .btn_search .icon{display:inline-block;width:24px;height:24px;background:url('http://baemin.samsungbizmall.com/front/img/common/icon_search.svg') no-repeat top center / 76%;}

/* 마이페이지 */
/* 배송조회 */
.delivery_page{}
.delivery_page .top_wrap .list_wrap{text-align:center;}

.delivery_page .sch_wrap{display:inline-block;*display:inline;zoom:1;}
.delivery_page .select_box{float:left;border:none;border-bottom:1px solid #e6e5e5;width:135px;height:40px;font-size:18px;}
.delivery_page .select_box label{padding-top:0.4vw;}
.delivery_page .sch_cont{float:left;}
.delivery_page #ip_sch{border:none;border-bottom:1px solid #e6e5e5;width:400px;height:40px;margin:0 20px;}
.delivery_page .ip_btn_wrap{float:left;}
.delivery_page .ip_btn{width:125px;height:40px;background:#4d4d4d;color:#fff;font-size:16px;}

.delivery_page .sch_info{display:inline-block;*display:inline;zoom:1;margin:20px 0;}
.delivery_page .sch_info p{float:left;font-size:12px;color:#777;margin-left:5px;}
.delivery_page .sch_info p:nth-child(1){margin:0;}