@charset "utf-8";

/* popup */
.popup_wrap{left:0px;top:0px;width:100%;height:100%;position:absolute;z-index:10000;background:rgba(0,0,0,0.5);display:none;}
.popup_wrap button{cursor:pointer;border:none;background:none;}
.popup_wrap .point{color:blue;text-indent:-14px;line-height:1.2;padding-left:15px;font-size:13px;}
.popup_wrap input{width:177px;height:29px;line-height:29px;padding-left:5px;border:1px solid #c3c3c3;}
.popup_wrap select{width:177px;height:29px;line-height:29px;padding-left:5px;border:1px solid #c3c3c3;}
.popup_wrap input[type="number"]{text-align:center;padding-left:0;}
.popup_wrap input[type="checkbox"]{display:none;border:1px solid #c3c3c3;background:none;}
.popup_wrap button,.popup_wrap input{vertical-align:middle;}
.popup_wrap label{margin-top:5px;font-size:13px;display:block;}

.popup_wrap .box{background-color:#fff;border:solid 3px #027cc5;border-top:none;position:absolute;left:50%;z-index:10000;;width:95%;max-width:600px;height:auto;top:107px;transform:translateX(-50%);-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%);}
.popup_wrap h2{position:relative;margin:0;padding:20px 10px;background:#027cc5;color:#fff;font-size:15px;}
.popup_wrap #close_x{font-weight:800;position:absolute;top:0;right:0;padding:15px 10px;font-size:25px;color:#fff;z-index:99991;outline:none;}

/* 회원가입 */
.join_wrap dl{width:100%;padding:15px 10px;border-bottom:1px solid #eee;overflow:hidden;}
.join_wrap dt{float:left;text-align:left;width:100px;margin-top:8px;font-weight:400;letter-spacing:-1px;}
.join_wrap dd{float:left;width:calc(100% - 110px);}
.join_wrap .btn_join{float:none;margin-top:0;padding:0;background:#555;color:#fff;margin-left:5px;}
.join_wrap .num_short{width:50px;}
.join_wrap .num_long{width:100%;margin-top:5px;}
.join_wrap .term{padding-left:10px;}
.join_wrap .term h3{margin-top:0;font-size:15px;font-weight:400;}
.join_wrap form{height:510px;overflow-y:scroll;}
.join_wrap .term .term_cont{font-size:13px;height:100px;padding:5px;overflow:hidden;overflow-y:scroll;border:1px solid #c3c3c3;}
.join_wrap .term .term_cont p{margin-bottom:15px;line-height:1.3;}
.join_wrap .chk_all{padding-left:10px;}

/* 찾기 */
.popup_wrap .find_info{text-indent:-6px;margin-left:6px;padding:10px;}
.popup_wrap .find_info li{font-size:14px;line-height:1.3;margin-top:5px;}
.popup_wrap .find_box{}
.popup_wrap .find_box .find_cont{text-align:center;padding:10px 10px 0;}
.popup_wrap .find_box .find_cont:first-child{margin-top:0;}
.popup_wrap .find_box .find_cont label{display:inline-block;text-align:right;width:85px;margin-right:10px;vertical-align:middle;}
.popup_wrap .find_box .find_cont input{margin-top:10px;}
.popup_wrap .find_box .find_cont input[type="radio"]{width:auto;height:auto;}
#find_pw label{width:60px;}

/* 로그인 */
.login_wrap{margin:0 auto;overflow:hidden;}
.login_wrap .login_form{width:100%;max-width:640px;margin:0 auto;padding:0 10px;}
.login_wrap .login_form .login_box{position:relative;overflow:hidden;}
.login_wrap .login_form .login_box .hide{width:0;height:0;overflow:hidden;visibility:hidden;line-height:0;font-size:0;position:absolute;left:-999px;}
.login_wrap .login_form .login_box .ip_login{float:left;width:calc(100% - 120px);height:50px;padding-left:3%;border:1px solid #e7e7e7;background:#fff;}
.login_wrap .login_form .login_box #online_pw{margin-top:10px;}
.login_wrap .login_form .login_box .btn_login{position:absolute;top:0;right:0;border:none;width:110px;height:100%;font-size:15px;color:#fff;background:#0e4194;-webkit-appearance:none;/* 사파리버튼리셋 */}
.login_wrap .login_form .find_wrap{clear:both;margin:35px 0;}
.login_wrap .login_form .find_wrap p{color:#666;font-size:15px;margin-bottom:10px;}
.login_wrap .login_form .find_wrap a{color:#333;font-size:15px;text-decoration:none;}
.login_wrap .login_form .find_wrap a+a:before{content:'|';text-align:center;margin:0 5px;color:#c3c3c3;}

.login_wrap input::-webkit-input-placeholder,
.login_wrap textarea::-webkit-input-placeholder{color:#666;font-size:15px;}/* Chrome/Opera/Safari */
.login_wrap input::-moz-placeholder,
.login_wrap textarea::-moz-placeholder{color:#666;font-size:15px;}/* Firefox 19+ */
.login_wrap input:-ms-input-placeholder,
.login_wrap textarea:-ms-input-placeholder{color:#666;font-size:15px;}/* IE 10+ */
.login_wrap input:-moz-placeholder,
.login_wrap textarea:-moz-placeholder{color:#666;font-size:15px;}/* Firefox 18- */

.popup_wrap .find_box .find_cont .chk_label{width:auto;}


.popup_wrap .btn_wrap{margin-bottom:50px;}
.popup_wrap .btn_wrap a{display:inline-block;width:120px;height:40px;padding-top:9px;font-size:15px;color:#fff;background:#555;border:1px solid #c3c3c3;}
.popup_wrap .btn_wrap a.btn_agree{background:#1428a0;}

@media screen and (max-width: 600px){
.popup_wrap .box{max-width:99%;}
.join_wrap dt{width:65px;}
.join_wrap dd{width:calc(100% - 65px);padding-left:10px;}
.popup_wrap input{margin-bottom:5px;}
.join_wrap .btn_join{margin-left:0;}
}

@media screen and (max-width:375px){
	.login_wrap .login_form .login_box .ip_login{width:calc(100% - 100px);height:40px;}
	.login_wrap .login_form .login_box .btn_login{width:90px;}
}
