@charset "utf-8";
/*@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);*/
/*@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);*/
@import url(./fonts/NotoSansKR/NotoSansKR.css);

/* reset */
html{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;
-ms-content-zooming: none;
-ms-touch-action: pan-x pan-y;
}
*,*:before,*:after{-webkit-box-sizing:inherit;-moz-box-sizing:inherit;box-sizing:inherit;}
html,body,h1,h2,h3,h4,h5,h6,
div,ul,ol,li,dl,dt,dd,p,address,
form,input,label,textarea,
a,cite,b,em,span,strong,img,strike,
table,colgroup,thead,tbody,tfoot,tr,th,td,iframe{margin:0;padding:0;}
html,body{font-size:12px;font-family:'NotoSansKR',sans-serif;font-weight:400;color:#333;letter-spacing:-0.5px;}
h1,h2,h3,h4,h5,h6{font-weight:500;}
img,select,label,input[type="button"],button{border:none;background:none;}
a:link,a:visited,a:focus{text-decoration:none;color:#333;}
ul,ol,dl{list-style-type:none;}
.menu{text-align:center;}
address,cite,em{font-style:normal;}
select,input,img,input,button,label{vertical-align:middle;margin:0;padding:0;}
.hide,legend{width:1px;height:1px;overflow:hidden;visibility:hidden;line-height:0;font-size:0;position:absolute;left:-999px;}
strike{color:#aaa;font-size:12px;font-family:'NotoSansKR',sans-serif;}
strong{font-weight:400;}
iframe{display:block;}
/*span,strong,b{vertical-align:top;}*/
a,button{cursor:pointer;}
html.fix,body.fix{overflow:hidden;}
b{font-weight:500;}

/* ios reset */
a[href^="tel"]{color:inherit;text-decoration:none;}
textarea,
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="search"]{-webkit-appearance:none;border-radius:0;}


/* br */
.sbr,.mbr,.tbr{display:none;}


/* form */
label{display:inline-block;}
input[type="text"],
input[type="password"]{padding:0 10px;border:1px solid #ddd;}

input.wid_80{width:80px;}
input.wid_115{width:115px;}
input.wid_257{width:257px;}
input.wid_l{width:520px;display:block;}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{color:#666;}/* Chrome/Opera/Safari */
input::-moz-placeholder,
textarea::-moz-placeholder{color:#666;}/* Firefox 19+ */
input:-ms-input-placeholder,
textarea:-ms-input-placeholder{color:#666;}/* IE 10+ */
input:-moz-placeholder,
textarea:-moz-placeholder{color:#666;}/* Firefox 18- */


/* 입력폼 */
textarea{display:inline-block;vertical-align:middle;resize:none;width:100%;padding:5px;letter-spacing:0;font-family:'NotoSansKR',sans-serif;font-size:12px;color:#222;box-shadow:none;
-webkit-appearance:none;
-moz-appearance:none;
-ms-appearance:none;
-o-appearance:none;
appearance:none;
}


/* placeholder */
input[type="text"]::-webkit-input-placeholder{color:#666;}/* Chrome/Opera/Safari */
input[type="text"]::-ms-input-placeholder{color:#666;}/* IE 10+ */
input[type="text"]::-moz-placeholder{color:#666;}/* Firefox 19+ */
input[type="text"]::-moz-placeholder{color:#666;}/* Firefox 18- */
input[type="password"]::-webkit-input-placeholder{color:#666;}/* Chrome/Opera/Safari */
input[type="password"]::-ms-input-placeholder{color:#666;}/* IE 10+ */
input[type="password"]::-moz-placeholder{color:#666;}/* Firefox 19+ */
input[type="password"]::-moz-placeholder{color:#666;}/* Firefox 18- */


/* btn */
.btn_wrap{clear:both;text-align:center;margin:60px 0 0;overflow:hidden;}
.btn{display:inline-block;border:1px solid #333;border-radius:30px;color:#333;background:#fff;height:55px;margin-left:9px;padding:0 10px;font-weight:500;}
.btn:first-child{margin-left:0;}
.btn_b{width:285px;padding-top:10px;font-size:22px;}
.btn_m{min-width:80px;padding:0 13px;font-size:15px;}
.btn_s{height:38px;line-height:38px;}
.btn_agree, a.btn_agree{border-color:#1428a0;color:#1428a0;}

.btn02{text-align:center;display:inline-block;width:100px;margin-left:10px;padding:5px 10px;font-size:16px;font-weight:500;color:#fff;}
.btn02:first-child{margin-left:0;}
.btn02_agree{background:#1428a0;}
.btn02_cancel{background:#4d4d4d;}


/* checkbox */
.chk_box{display:none;}
.chk_box+label:before{content:'';display:inline-block;width:20px;height:20px;background:#fff url('/front/img/common/check_gray.png') no-repeat center / 65%;border-radius:100%;border:1px solid #ddd;}
.chk_box:checked+label:before{content:'';display:inline-block;background:#1428a0 url('/front/img/common/check_white.png') no-repeat center / 65%;border:none;}


/* radio */
.radio_box{display:none;}
.radio_box+label{display:block;height:30px;line-height:30px;padding-left:45px;font-weight:400;background:url('/front/img/icon/btn_radio.png') no-repeat;color:#595959;}
.radio_box:checked+label{background-position:0 -30px;}


/* paging */
.paging_wrap{position:relative;text-align:center;width:99.9%;margin:50px 0;overflow:hidden;}
.paging_wrap .paging{display:inline-block;*display:inline;zoom:1;}
.paging_wrap a{display:block;float:left;width:33px;height:33px;margin-left:3px;font-size:16px;}
.paging_wrap a.active{color:#1428a0;font-weight:500;}
.paging_wrap a:not(.btn_paging){line-height:34px;}
.paging_wrap a.prev{height:33px;background:url('/front/img/common/icon_paging_prev.png') no-repeat center;margin:0;}
.paging_wrap a.next{height:33px;background:url('/front/img/common/icon_paging_next.png') no-repeat center;}


/* tab */
.tab_wrap{width:100%;height:50px;border-bottom:1px solid #111;}
.tab_wrap a{display:block;float:left;text-align:center;min-width:150px;height:50px;line-height:50px;margin-left:-1px;padding:0 25px;font-size:14px;color:#111;background:#fff;border:1px solid #111;}
.tab_wrap a:first-child{margin-left:0;}
.tab_wrap a.active{background:#1428a0;color:#fff;border-bottom:1px solid #1428a0;}




/* selectbox */
.select_box{display:inline-block;vertical-align:middle;position:relative;border:1px solid #e6e5e5;background:#fff;padding-right:25px;font-size:14px;color:#666;}
.select_box:before{content:'';position:absolute;top:50%;right:10px;width:10px;height:8px;margin-top:-4px;background:url('/front/img/common/icon_select_all.png') no-repeat;background-position:bottom center;}
.select_box.active:before{content:'';background-position:top center;}
.select_box label{width:100%;padding-left:10px;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow:hidden;white-space:nowrap;word-wrap:normal !important;display:block;}
.select_box select{width:100%;height:100%;padding:0 5px;opacity:0;position:absolute;top:0;left:0;z-index:10;
-webkit-appearance:none;
-moz-appearance:none;
appearance:none;}
select::-ms-expand{display:none;}
/*.select_box option{font-size:14px;color:#666;}*/
.select02{border:none;border-bottom:1px solid #e6e5e5;}


/* 인풋 */
.sch_txt{height:30px;margin:0 5px;border-bottom:1px solid #ddd;}


/* table 세로 */
table{width:100%;table-layout:fixed;}
.t_type01{border-top:2px solid #1428a0;margin-top:20px;}
.t_type01 thead th{/* height:60px;line-height:60px; */padding:20px 1px;font-size:14px;font-weight:500;border-bottom:1px solid #707070;}
.t_type01 tbody td{text-align:center;padding:15px 1px;/* height:50px;line-height:50px; */font-size:14px;color:#888;border-bottom:1px solid #ddd;}
.t_type01 tbody td.tit{text-align:left;color:#000;}
.t_type01 .num{color:#000;}
.t_type01 tbody td a{display:block;margin:0;}

.t_type01 .num{width:11%;}
.t_type01 .tit{width:auto;}
.t_type01 .yes{width:10%;}
.t_type01 .name{width:10%;}
.t_type01 .date{width:10%;}
.t_type01 .see{width:10%;}


/* table 가로 */
.t_type_row{border-top:2px solid #1428a0;}
.t_type_row thead th{text-align:left;padding:35px 30px;font-size:20px;font-weight:500;background:#f9f9f9;}
.t_type_row thead th span{float:right;font-size:15px;font-weight:400;}
.t_type_row td{font-size:15px;color:#555;padding:0 30px;}
.t_type_row dl{float:left;}
.t_type_row dt{float:left;}
.t_type_row dd{float:left;position:relative;margin-left:20px;padding-left:20px;}
.t_type_row dd:nth-child(2){margin-right:50px;}
.t_type_row dd:before{content:'';display:inline-block;height:12px;position:absolute;top:50%;left:0;margin-top:-6px;border-left:1px solid #bbb;}
.t_type_row .date{float:right;}

.t_type_row .first td{height:35px;/* line-height:35px; */padding:0 30px;border-top:1px solid #f1f1f1;border-bottom:1px solid #f1f1f1;}

.t_type_row .view_cont{padding:30px;}
.t_type_row .view_cont div{min-height:300px;height:100%;}
.t_type_row .view_cont.answer{border-top:1px solid #bbb;background:#fbfbfb;}
.t_type_row .view_cont.answer div{min-height:50px;}
.t_type_row .view_cont.answer dl{display:flex;}
.t_type_row .view_cont.answer dt{font-weight:600;}
.t_type_row .view_cont.answer dd{word-wrap:break-word;width:calc(100% - 30px);margin:0;}
.t_type_row .view_cont.answer dd:before{display:none;}

.t_type_row td.pg_line{height:45px;/* line-height:45px; */border-top:2px solid #333;border-bottom:2px solid #333;background:#ececec;}
.t_type_row tr:last-child td{border-top:none;}


/* point_color */
.c_red{color:#ff3838;}
.c_red02{color:#c84242;}
.c_blue{color:#2032a4;}

.block_m{display:none;}

.popup_wrap .end_box{left:50%;}
.popup_wrap .end_box span{color:#027cc5;}
.popup_wrap .end_box p{text-align:center;padding:50px 0 0;line-height:1.5;}
.popup_wrap .end_box p.end_box_info{padding-top:20px;line-height:1.3;font-size:13px;color:#555;}

.popup_cont{position:absolute;top:127px;left:65%;transform:translateX(-50%);z-index:1;}
.popup_cont > a{display:block;}
.popup_cont img{width:100%;min-width:300px;max-width:700px;}
.popup_cont .btn_close{background:#555;padding:10px;text-align:right;}
.popup_cont .btn_close button{color:#fff;margin-left:10px;}


/* 레이어 팝업 */
.popup_layer{display:none;position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.5);z-index:1005;}
.popup_layer.on{display:block;}
.popup_layer .group{position:absolute;top:50%;left:50%;min-width:300px;width:50%;max-width:500px;height:90%;background:#fff;
-webkit-transform:translate(-50%,-50%);
-moz-transform:translate(-50%,-50%);
-ms-transform:translate(-50%,-50%);
-o-transform:translate(-50%,-50%);
transform:translate(-50%,-50%);
overflow:hidden;
}
.popup_layer h2{text-align:center;width:100%;margin:0;padding:13.5px 0;background:#1428a0;font-size:16px;color:#fff;z-index:999;}
.popup_layer .cont_box{height:calc(100% - 50px);padding:20px 10px;overflow-y:auto;}
.popup_layer .pop_close,.popup_layer .btn_close{position:absolute;top:0;right:0;float:right;width:35px;height:50px;background: url('/front/img/common/icon_close_popup.png') no-repeat left center / 18px;z-index:9999;border:none;outline:none;}
.popup_layer .pop_close span,.popup_layer .btn_close span{display:none;}/* 삭제! */


/* 리스트마크 */
.mark span{display:inline-block;text-align:center;position:absolute;top:5px;left:5px;width:64px;height:46px;line-height:18px;padding-top:5px;color:#fff;font-size:14px;background:#1428a0;}
.mark .online{border:1px solid #1428a0;color:#1428a0;background:#fff;}

.soldout span{text-align:center;position:absolute;top:5px;left:5px;width:98%;height:98%;padding-top:5px;color:#fff;font-size:14px; opacity:0.6; background-color:black;}
.soldout .online{border:1px solid #1428a0;color:white;background:black; font-size:30px;}
.soldout .online label{margin-top:40%;font-weight:bold;}

/* 정렬 */
.row{display: -ms-flexbox;display: -webkit-flex;display: flex;}


/* 결과없음표시 */
.result_none{text-align:center;height:300px !important;line-height:300px !important;font-size:15px;}


/***************************************
	media
****************************************/
@media screen and (max-width:1250px){
	.tab_list{width:100%;height:100%;padding:0 10px;}
}
@media screen and (max-width:900px){
	/* checkbox */
	.chk_box+label{width:22px;height:22px;line-height:22px;margin-top:2px;background-size:19px;}
	input.wid_l{width:100%;}

}
@media screen and (max-width:640px){
	input[type="text"], input[type="password"]{padding:0 5px;}

	.btn_b{min-width:150px;width:auto;height:auto;padding:10px 2%;font-size:15px;}
	.btn_wrap{margin-top:30px; /*height:5px;*/}

	.t_type01 td.tit a{width:190px;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow:hidden;white-space:nowrap;word-wrap:normal !important;display:block;}
	.t_type01 .yes{width:24%;}

	.t_type_row thead th{font-size:15px;padding:10px;}
	.t_type_row td,
	.t_type_row .first td{padding:0 10px;}
	.t_type_row dd{margin-left:10px;padding-left:10px;}
	.t_type_row .view_cont{padding:10px;}
	.t_type_row dd:nth-child(2){margin-right:10px;}
	.t_type_row td.pg_line dd:nth-child(2){margin-right:0;width:130px;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow:hidden;white-space:nowrap;word-wrap:normal !important;display:block;}

}
@media screen and (max-width:360px){
	.tab_wrap a{min-width:auto;padding:0 10px;}
	.btn_wrap{margin-top:30px; /*height:5px;*/}
	.btn_b{min-width:130px;}

	.t_type01 thead th{padding:15px 1px;}
	.t_type01 tbody td{padding:10px 1px;font-size:12px;}

	.paging_wrap a{font-size:13px;}

}

/*320(브라우저 가로폭)*/
@media screen and (max-width: 320px){
	#popup01{width:87%;margin-left:10%;}
	#popup01 .btn_close{width:100%;}
}
