﻿@charset "utf-8";
@import url(./fonts/Gotham/Gotham.css);
@import url(./fonts/HemiHead/HemiHead.css);

.term_cont{font-size:13px; height:100px;padding:5px;overflow-y:scroll;border:1px solid #c3c3c3;}
.term_cont p{margin-bottom:15px;line-height:1.3;}
input[type="checkbox"]{display:none;}
input[type="checkbox"] + label span{display:inline-block;width:15px;height:15px;margin:-2px 5px 0 0;vertical-align:middle;border:1px solid #c3c3c3;cursor:pointer;}
input[type="checkbox"]:checked + label span{background:url('/front/img/chk_on.png') no-repeat left top/100%;}

/* main */
/* container-main */
.main{}
.main .main_btn {display: inline-block;padding:1.167rem 3.917rem;}
.main .main_btn.black {background: #000;color:#fff;font-family:'Gotham',sans-serif;font-weight: 300;}
.main .search_category_tit2{margin-top:100px;  text-align:center;font-size:30px;margin:50px 0 0;}
.main .list_tit{width:100%;margin:30px 0 5px;color:#e05363;}
.main .list_tit h3{text-align:center;font-size:30px;font-weight:600;}
.main .list_tit h3:before{margin-right:10px;}
.main .list_tit h3:after{margin-left:10px;}

.sale_end {color:#e05363;}


.category_text{color:#111; font-size:20px; font-weight:600; margin-left:20px; margin-top:20px;}
.main .top_wrap{}
.main .bottom_wrap{clear:both;padding:20px 0 100px;overflow:hidden;/* background:#f5f5f5;*/}

/* 비주얼 */
.main .top_wrap{width:1200px;margin:0 auto;}
.top_wrap .visual_wrap{clear:both;margin-bottom: 0;/* margin-bottom:45px !important;height:275px;*/}
.top_wrap .visual_wrap .main_banner{width:1200px; height:574px;float: left;}
.top_wrap .visual_wrap .main_banner a{width:100%;height:100%;}
.top_wrap .visual_wrap .main_banner img{width:100%; height:100%;max-width: 1200px;max-height: 574px;}

.top_wrap .bx-controls{}

/* 10.24  메인 - 구매몰 리스트 */
.mall_button_wrap{clear:both; height: 200px;margin-bottom:17px;background-color:#f2f2f2;}
.mall_button_wrap .mall_list{position:relative; float: left;width:200px;height:200px;}
.mall_button_wrap .mall_list .m_mall_link{display:block;width:100%;height:100%;}
.mall_button_wrap .mall_list .m_mall_panel{position:relative;text-align:center;}
.mall_button_wrap .mall_list .m_mall_panel .m_mall_img{margin: 1.938em 2.875em 1em;}
.mall_button_wrap .mall_list .m_mall_panel .m_mall_text{font-size:1.5em;font-weight:500;}

/* 메인탭배너 */
.main_tab_banner{margin:20px auto !important;/* height:300px; */overflow:hidden;}
.main_tab_banner .helpper{/* height:50px;border-bottom:1px solid #111; */overflow:hidden;}
.main_tab_banner .tab_wrap{/* height:70px;overflow-x:auto; */border:none;height:auto;overflow:hidden;}
/*.main_tab_banner .tab{width:200%;}*/
.main_tab_banner .tab_wrap a{margin:0 1px 1px 0;}
.main_tab_banner .detail_cont{padding:10px 0 0;}
.main_tab_banner .detail_cont a{display:block;}
.main_tab_banner .detail_cont img{width:100%;height:auto;}


/* sub */
.sub{background:#fff;}
.sub_bg{background:#f6f6f6;width:100%; min-height:500px; padding:80px 0;}
.page_tit{position:relative;width:1200px;margin:15px auto 10px;}
.page_tit h2{text-align:left;width:100%;font-size:30px;color:#111;overflow:hidden;}

/* 경로 */
.location_wrap{width:1200px;line-height:100%;margin:18px auto 20px;padding:0 10px;font-size:16px;overflow:hidden;}
.location_wrap span{color:#333;line-height:25px;}
.location_wrap span a{color:#aaa;}
.location_wrap i{display:inline-block;width:8px;height:12px;margin:0 5px 0 7px;background:url('/front/img/common/icon_location.jpg') no-repeat center;}


/* 상세페이지 */
.detail_page{width:1200px;margin:0 auto;}
.detail_page,.product_wrap{overflow:hidden;min-height:400px; }
.product_wrap{padding:0 10px;}

.product_wrap > div{float:left;width:calc(50% - 5px);margin-left:10px;}
.product_wrap > div:first-child{margin-left:0;}
.product_wrap .img_cont{text-align:center;height:325px; position:relative;/* height:402px;*/}
.product_wrap .img_cont img{width:auto;height:100%;}
.product_wrap .product_cont{}

	.product_wrap .img_cont .soldout_detail_2 span{text-align:center;position:absolute;top:5px;left:5px;width:100%;height:170%;padding-top:5px;color:#fff;font-size:14px; opacity:0.6; background-color:black;}
	.product_wrap .img_cont .soldout_detail_2 .online{border:1px solid #1428a0;color:white;background:black; font-size:30px;}
	.product_wrap .img_cont .soldout_detail_2 .online label{text-align:center; margin-top:40%;font-weight:bold;margin-top:30%;}


.product_wrap .sml_wrap{}
.product_wrap .sml_wrap{text-align:center;}
.product_wrap .sml_wrap li{*display:inline-block;display:inline;zoom:1;}
.product_wrap .product_cont{}

.product_wrap .product_option{padding:12px 60px;background:#f7f7f7;border-bottom:2px solid #d8d8d8;}
.product_wrap .product_option .tit{color:#111;font-size:25px;margin-bottom:17px;line-height:33px;
/* 한 줄 자르기 */
display:inline-block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;
/* 여러 줄 자르기 추가스타일 */
white-space:normal;line-height:1.2;height:2.4em;text-align:left;word-wrap:break-word;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
.product_wrap .product_option dl{clear:both;color:#111;font-size:14px;line-height:34px;/* margin-bottom:9.5px;*/overflow:hidden;}
.product_wrap .product_option .select_box{width:250px;} /* 김동현이 250px로 변경 (옵션길이가 긴항목이 있어서....)
/* .product_wrap .product_option .select_box{width:250px;} */
.product_wrap .product_option dt{float:left;font-size:16px;width:175px;}
.product_wrap .product_option dd{float:left;}
.product_wrap .product_option .price dd{color:#999;font-size:16px;}
.product_wrap .product_option .price dd b{font-size:18px;}
.product_wrap .product_option .sale_price dd{font-size:18px;}
.product_wrap .product_option .sale_price dd span{color:#888;font-size:12px;}
.product_wrap .product_option .sale_price dd b{font-size:20px;color:#111;vertical-align:top;}
.product_wrap .product_option .sale_price dd{}
.product_wrap .product_option .shipping dd{}
.product_wrap .product_option .option_wrap dd .option_cont{}
.product_wrap .product_option .option_wrap dd .option_cont{font-size:14px;}
.product_wrap .total_price dl{margin:10px 0;padding:0 50px 0 60px;overflow:hidden;}
.product_wrap .total_price dt{float:left;font-size:16px;}
.product_wrap .total_price dd{float:right;font-size:20px;}
.product_wrap .total_price dd b{font-size:25px;line-height:28px;font-weight:900;}
.product_wrap .total_txt dd{float:none;text-align:left;}
.product_wrap .total_txt dd b{font-size:15px;font-weight:600;}

/* 상세2
.detail_page02 .product_wrap .img_cont{height:325px;} */


/* 상세페이지-탭 */
.detail_info_wrap{overflow:hidden;margin-top:80px;}
.detail_info_wrap .tab_wrap a{min-width:153px;}
.detail_info_wrap .tab_cont{min-height:500px;}
/* 탭-상품상세 */
.detail_cont{text-align:center;padding:50px 0 150px;}
.detail_cont img{width:auto;}
.detail_cont .btn_go_qna{position:absolute;bottom:70px;left:50%;transform:translateX(-50%);margin:0;}
/* 탭-배송교환안내 */
.delivery_cont{margin-bottom:50px;}
.delivery_cont .dbt{overflow:hidden;width:100%;text-align:left;list-style:none;margin-top:50px;}
.delivery_cont .dbti{text-indent:20px;line-height:30px;color:#008cdd;border-bottom:1px solid #ebebeb;font-weight:bold;}
.delivery_cont .dbt li{float:left;padding:20px;color:#464646;}
.delivery_cont .dbt_title{width:160px;background:#ebebeb;border-bottom:1px solid #fff;border-right:1px solid #ebebeb;letter-spacing:-1px;}
.delivery_cont .dbt li.dbt_title +
.delivery_cont .dbt li.dbt_cont{height:100%;}
.delivery_cont .dbt_cont{width:calc(100% - 160px);background:#fff;border-bottom:1px solid #ebebeb;line-height:18px;padding-top:7px;}
/* 탭-Q&A */
.qna_cont{position:relative;background:#F7F7F7;padding:93px 18px 18px 18px;}
.qna_cont .btn_write{text-align:center;position:absolute;top:40px;right:18px;width:101px;height:29px;font-size:16px;color:#fff;background:#1428A0;border-radius:30px;}
/* qna 리스트 */
.qna_view{border-top:2px solid #1428A0;background:#fff;}
.qna_view > div{padding:20px 30px;border-bottom:1px solid #E8E9EC;}
.qna_view .question_none{text-align:center;padding:100px 0;font-size:15px;}
.qna_view .info_box{position:relative;font-size:12px;}
.qna_view .info_box span{display:inline-block;}
.qna_view .info_box .state{text-align:center;height:23px;padding:2px 8px 0 8px;background:#888888;color:#fff;font-size:13px;border-radius:15px;}
.qna_view .info_box .name{color:#333333;margin:0 10px;}
.qna_view .info_box .date{color:#888888;}
.qna_view .info_box .btn_change{text-align:center;position:absolute;top:0;right:0;width:48px;height:23px;padding-top:1px;font-size:13px;color:#1428A0;border:1px solid #1428A0;border-radius:15px;}
.qna_view .title_box{height:16px;margin-top:15px;font-size:13px;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;width:auto;overflow:hidden;}
.qna_view .question_cont.active .title_box{height:auto;text-overflow:clip;white-space:normal;word-wrap:break-word;}

.qna_view .question_cont{cursor:pointer;}
.qna_view .question_cont .title_box.lock,
.qna_view .anwser_cont .title_box.lock{padding-left:23px;background:url('/front/img/common/secret@2x.png') no-repeat 0 0 / 13px 17px;}
.qna_view .anwser_cont{/* height:0;padding:0;border:none; */height:auto;padding:20px 30px 20px 55px;border-bottom:1px solid #E8E9EC;background:#FAFAFA url('/front/img/common/reply@2x.png') no-repeat 30px 20px / 15px 14px;overflow:hidden;}
.qna_view .anwser_cont.active{height:auto;padding:20px 30px 20px 55px;border-bottom:1px solid #E8E9EC;}
.qna_view .anwser_cont .info_box .state{background:#1428A0;}

.qna_view .paging_wrap{margin:0;padding:20px 0;background:#fff;}
/* qna 쓰기 */
.qna_write{border-top:2px solid #1428A0;background:#fff;}
.qna_write h2{text-align:center;font-size:20px;height:60px;padding-top:20px;border-bottom:1px solid #dddddd;}
.qna_write .cont{padding:5px 32px 20px;}
.chioce_cont{margin:4px 0 10px;}
.chioce_cont_ch_div{margin-top:3px; float:right;}
.chioce_cont_ch_div .chioce_cont_ch{position:relative; float:left; margin-top:-5px;}
.chioce_cont_ch_div .chioce_cont_text{position:relative; float:left; color:red; font-size:15px; margin-left:3px; margin-top:-9px;}
.chioce_cont_ch_div .chioce_cont_text2{position:relative; float:left; color:black; font-size:12px; margin-left:5px; margin-top:-5px;}
.ch_box{}
.ch_box{display:none;width:52px;height:60px;font-size:11px;font-weight:400;color:#333333;}
.ch_box+label{text-align:center;width:52px;margin-right:5px;padding:33px 0 10px;border:1px solid #dddddd;}
#ch01+label{background:url('/front/img/common/product@2x.png') no-repeat center 10px / 20px 20px;}
#ch02+label{background:url('/front/img/common/delivery@2x.png') no-repeat center 13px / 20px 17px;}
#ch03+label{background:url('/front/img/common/return@2x.png') no-repeat center 10px / 20px 20px;}
#ch04+label{background:url('/front/img/common/etc@2x.png') no-repeat center 17px / 18px 3px;}
.ch_box:checked+label{color:#fff;border:1px solid #1428A0;}
#ch01:checked+label{background:#1428A0 url('/front/img/common/product_w@2x.png') no-repeat center 10px / 20px 20px;}
#ch02:checked+label{background:#1428A0 url('/front/img/common/delivery_w@2x.png') no-repeat center 13px / 20px 17px;}
#ch03:checked+label{background:#1428A0 url('/front/img/common/return_w@2x.png') no-repeat center 10px / 20px 20px;}
#ch04:checked+label{background:#1428A0 url('/front/img/common/etc_w@2x.png') no-repeat center 17px / 18px 3px;}
.q_write_box{}
.q_write_box textarea{height:157px;padding:20px;border-color:#dddddd;}

/* 할부안내 */
.card_info{padding:50px 10px;font-size:15px;}
.card_info p{margin-bottom:5px;}
.card_info ol > li{text-indent:-15px;margin-left:17px;}
.card_info ol > li:last-child{text-indent:0;margin:10px 0 0;}
.card_info ul > li{text-indent:-19px;margin-left:18px;}
.card_info li > p{text-indent:-8px;margin-left:8px;}
.card_info table{text-align:center;border:1px solid #ddd;border-top:none;}
.card_info table th{padding:10px;font-weight:400;border-top:1px solid #ddd;}
.card_info table td{padding:10px;border-top:1px solid #ddd;border-left:1px solid #ddd;}

.ex_info{padding:50px 10px;font-size:15px;}
.ex_info p{margin-bottom:5px;}
.ex_info ol > li{text-indent:-15px;margin-left:17px;}
.ex_info ol > li:last-child{text-indent:0;margin:10px 0 0;}
.ex_info ul > li{text-indent:-19px;margin-left:18px;}
.ex_info li > p{text-indent:-8px;margin-left:8px;}
.ex_info table{text-align:center;border:1px solid #ddd;}
.ex_info table th{padding:10px;font-weight:400;}
.ex_info table td{padding:10px;border-top:1px solid #ddd;border-left:1px solid #ddd;}


/* 수량 */
.amount_wrap .amount_cont{background:#fff;border:1px solid #e6e5e5;}
.amount_wrap .amount_cont .input_amount{text-align:center;width:35px;height:25px;margin:0;padding:0 5px;border:none;border-left:1px solid #e6e5e5;border-right:1px solid #e6e5e5;}
.amount_wrap .amount_cont button{width:29px;height:26px;color:#bbb;font-size:20px;}
.amount_wrap .amount_cont .minus span{display:inline-block;width:10px;height:2px;background:#bbb;vertical-align:middle;}
.amount_wrap .amount_cont .plus{color:#1428a0;}

@media screen and (max-width:1200px){
	.main .top_wrap,.main .list_tit h3{width:100%;}
	.main .search_category_tit2{padding:0 10px;font-size:20px;}
	.top_wrap .visual_bn{width:100%;}

	.detail_page{width:100%;}
	.product_wrap{padding:0 10px;}
	.product_wrap > div{float:none;width:100%;margin-left:0;}
	.product_wrap .img_cont{margin-bottom:10vw;}
	.product_wrap .img_cont .soldout_detail_2 span{text-align:center;position:absolute;top:5px;left:5px;width:100%;height:98%;padding-top:5px;color:#fff;font-size:14px; opacity:0.6; background-color:black;}
	.product_wrap .img_cont .soldout_detail_2 .online{border:1px solid #1428a0;color:white;background:black; font-size:30px;}
	.product_wrap .img_cont .soldout_detail_2 .online label{text-align:center; margin-top:40%;font-weight:bold;}


	.delivery_cont .dbti{text-indent:10px;}
	.delivery_cont .dbt li{padding:10px;}
	.delivery_cont .dbt_title{width:100px;}
	.delivery_cont .dbt_cont{width:calc(100% - 100px);}
	
	/* 공통 배너 */
	.top_wrap .visual_wrap .slide a {text-align:inherit;}

	/* 메인 배너 */
	.top_wrap .visual_wrap .main_banner{width:100%;height:auto;max-width:100%;max-height:100%;}
	.top_wrap .visual_wrap .main_banner img{max-width:100%;max-height:100%;}

	/* 사이드 배너 */
	.top_wrap .visual_wrap .side_banner{width:50%;height:auto;float:left;}
	.top_wrap .visual_wrap .m_side_banner {width:100%;height:auto;text-align:inherit !important;}
	.top_wrap .visual_wrap .m_side_banner .banner_img_1{width:calc(100% / 4.7);width:-webkit-calc(100%/4.7);width:-moz-calc(100%/4.7);margin:0.813em 1.777em 0.883em 2.089em;}
	.top_wrap .visual_wrap .m_side_banner .banner_img_2{width:calc(100% / 4);width:-webkit-calc(100%/4);width:-moz-calc(100%/4);margin:1em 1.663em 1.9em 2.433em;}
	.top_wrap .visual_wrap .m_side_banner p{display:inline-block;font-size:1.667em;padding-top:1.625em;}
	
	/* 메인 버튼 리스트 */
	.mall_button_wrap{height:100%;}
	.mall_button_wrap .mall_list{width:16.6%;height:100%;}
	.mall_button_wrap .mall_list .m_mall_panel .m_mall_img{width:calc(100%/1.85);width:-webkit-calc(100%/1.85);width:-moz-calc(100%/1.85);}
	.mall_button_wrap .mall_list .m_mall_panel .m_mall_text{margin-left:0.5em;padding-bottom: 0.750em;}
}

@media screen and (max-width:900px){
	.list_box .best_sale{position:relative;}
	.detail_cont img{width:100%;}
	.main_tab_banner .tab_wrap a{min-width:calc((100%/3) - 1px);}

}
@media screen and (max-width:740px){
	.list_box .best_sale{position:relative;}
	/* 메인 배너 */
	.top_wrap .visual_wrap .main_banner img{height:100%;background-color:transparent;}
	.top_wrap .visual_wrap .main_banner .bn_main_m{display:block;}
	.top_wrap .visual_wrap .main_banner .bn_main_w{display:none;}

	/* 사이드 배너 */
	.top_wrap .visual_wrap .side_banner{border:1px solid #BEC8E1;}

	.detail_info_wrap .tab_wrap{overflow-y:hidden;overflow-x:auto;}
	.detail_info_wrap .tab_wrap .tab{width:1000%;}
}
@media screen and (max-width:640px){
	.list_box .best_sale{position:relative;}
	.detail_page{width:100%;}
	.product_wrap{padding:0 10px;}
	.product_wrap > div{float:none;width:100%;margin-left:0;}
	.product_wrap .product_option{padding:11px 3%;}
	.product_wrap .btn_b{width:48%;}
	.product_wrap .product_option dt{width:75px;height:32px;line-height:32px;}
	.product_wrap .total_price dl{padding:0 3%;}
	.product_wrap .select_box .btn_select{width:150px;}
	.product_wrap .img_cont,
	.product_wrap .img_cont img{width:100%;height:auto;}

	/* 사이드 배너 */
	.top_wrap .visual_wrap .m_side_banner .banner_img_1{margin:0.5em 1.356em 0.595em;}
	.top_wrap .visual_wrap .m_side_banner .banner_img_2{margin:1em 0.917em 0.9em 1.578em;}
	.top_wrap .visual_wrap .m_side_banner p {font-size:1.167em; padding-top:0;}
	/* 메인 버튼 리스트 */
	.mall_button_wrap .mall_list{width:33.3%;}
	.mall_button_wrap .mall_list .m_mall_panel .m_mall_text{font-size:1.167em;}
}

@media screen and (max-width:480px){
	.list_box .best_sale{position:relative;}
	.main_tab_banner .tab_wrap a{min-width:calc((100%/2) - 1px);}
	.tab_wrap a{height:40px;line-height:40px;}

	.product_wrap .product_option .tit{font-size:20px;}
	.product_wrap .product_option dl,.product_wrap .product_option dt{font-size:13px;}
	.product_wrap .btn_wrap{margin-top:30px;}

	.qna_view > div{padding:10px;}
	.qna_write .cont{padding:4px 10px 10px;}
	.qna_view .sbr{display:block;}
	.qna_view .info_box .name{margin-left:0;margin-top:10px;}

}

@media screen and (max-width:479px){
	/* 사이드 배너 */
	.list_box .best_sale{position:relative;}
	.top_wrap .visual_wrap .m_side_banner p {font-size:0.833em;}
	.top_wrap .visual_wrap .m_side_banner .banner_img_2{margin:1em 0.917em 0.65em 1.578em;}
}

/* 리스트 페이지 */
.list_page{}
/* list 공통 */
.list_wrap{position:relative;width:1200px;margin:0 auto;/* padding:0 10px;*/overflow:hidden;}
/*.list_wrap .list_box{margin-top:50px;}*/
.list_wrap ul{height:100%;margin:-5.8% 0 0 -50px;padding:0 10px;overflow:hidden;}
.list_wrap ul li{float:left;position:relative;width:-webkit-calc((100% / 3) - 50px);width:-moz-calc((100% / 3) - 50px);width:calc((100% / 3) - 50px);margin:5.8% 0 0 50px;overflow:hidden;}
.list_wrap ul li a{display:block;letter-spacing:-1px;}
.list_wrap ul li .product_img{position:relative;height:0;padding-bottom:63%;background:#fff;overflow:hidden;}
.list_wrap ul li .product_img img{/* width:100%;*/height:100%;position:absolute;top:0;left:50%;transform:translateX(-50%);}
.list_wrap ul li .product_info dl{position:relative;min-height:140px;padding:10px 10px 55px;background:#f6f6f6;}
.list_wrap ul li .product_info .name{font-size:16px;font-weight:300;color:#4e4e4e;
overflow:hidden;
text-overflow:ellipsis;
display:block;/* Fallback for non-webkit */
display:-webkit-box;
-webkit-line-clamp:2;
-webkit-box-orient:vertical;
line-height:18px;
height:40px;/* Fallback for non-webkit */
font-weight:bold;
color:black;
}
.list_wrap ul li .product_info .price{font-size:18px;font-family:'NanumSquare',sans-serif;/* margin-top:5px;*/}
.list_wrap ul li .product_info .price span b{line-height:100%;font-size:16px;font-weight:700;color:#000;font-family:'Noto Sans KR',sans-serif;}
.list_wrap ul li .product_info .price span strike{color:#797979;}
.list_wrap ul li .product_info .price span .percent{float:right;margin-top:2px;font-size:14px;font-weight:700;color:#fa6a01;}
.list_wrap ul li .mark b{font-size:20px;}
.list_wrap ul li .product_info .test span{display:inline-block;margin-top:2px;font-size:12px;}
.list_wrap ul li .product_info .test span:last-child{color:#1428a0;}

/* 삼성비투비 주문가능몰 전용 */
.list_wrap ul li .product_info.ss_order_mall .price{position:absolute;bottom:0;left:0;width:100%;padding:0 10px 10px;}
.list_wrap ul li .product_info.ss_order_mall .test{line-height:15px;}

/* 섹션 */
.section_wrap {position:relative;width:1200px;margin:0 auto;}
.section_wrap.first {margin-top:15.833rem;}
/* 첫번째 섹션 - 남/녀 */
.section_wrap.first .section_banner{position:relative;display: inline-flex;flex-direction: column;}
.section_wrap.first .section_banner:nth-of-type(1){margin-right:2.235rem;}
.section_wrap.first .section_banner .main_link{display: inline-flex;flex-direction: column;}
.section_wrap.first .section_banner .main_link > img {display: inline-flex;}
.section_wrap.first .section_banner .main_link .content {display: inline-flex;padding:2.5rem 0 0.333rem 0;}
.section_wrap.first .section_banner .main_link .content a {display: flex;width:100%;}
.section_wrap.first .section_banner .main_link .content img {align-self: flex-end;}
.section_wrap.first .section_banner .main_link .content .content_txt {flex-grow: 1;}
.section_wrap.first .section_banner .main_link .content .content_txt h3 {font-weight: 400;font-size: 2.5rem;font-family: 'Gotham',sans-serif;}
.section_wrap.first .section_banner .main_link .content .content_txt p {font-size: 1.667rem;}

/* 두번째 섹션 - 스포츠 콜렉션 */
.section_wrap.second {width: 100%;background: #f5f5f5;margin-top: 15.333rem;}
.section_wrap.second > div{width: 1200px;margin:0 auto;padding:11.917rem 0;}
.section_wrap.second h1 {font-family: 'Gotham','Noto Sans KR', sans-serif;font-size: 4.167rem;font-weight: 400;text-align: center;margin-bottom: 7.917rem;}
.section_wrap.second .section_banner {display: inline-block;}
.section_wrap.second .section_banner:not(:last-child) {margin-right: 2.292rem;}
.section_wrap.second .section_banner .content {position: relative;display: inline-block; width: 100%;height: auto;}
.section_wrap.second .section_banner .content img {display: inline-block;}
.section_wrap.second .section_banner .content .caption {position: absolute;top: 0;bottom: 0;left: 0;right: 0;width: 100%;height: 100%;opacity: 0;transition: .5s ease;background-color: #D92F2A;}
.section_wrap.second .section_banner:hover .content .caption {opacity: 0.7;}
.section_wrap.second .section_banner .content .caption p {color:#fff;position: absolute;top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);text-align: center;font-size: 4.167rem;font-family: 'Hemi Head','Gotham', sans-serif;font-weight: 300;}
.section_wrap.second .section_banner .content_txt {margin-top: 1.563rem;}
.section_wrap.second .section_banner .content_txt > p{display: inline-flex;font-family: 'Gotham',sans-serif;font-size: 1.25rem;font-weight: 400;}
.section_wrap.second .section_banner .content_txt .more {font-family: 'Gotham',sans-serif;font-size: 1rem;font-weight: 400;color:#606060;float: right;line-height: 1;padding-right: 0.5rem;}
.section_wrap.second .section_banner .content_txt .more p {display: inline-block;vertical-align: middle;}

/* 상단 */
.list_page .top_wrap{clear:both;}
.list_page .top_wrap h3{margin-top:8px;font-size:32px;font-weight:500;color:#111;}
.list_page .top_wrap h3.tit_b{font-weight:700;}
.list_page .top_wrap h3 b{font-weight:900;color:#2e3faa;}
.list_page .top_wrap h3.search_category_tit{text-align:center;margin:30px 0;font-size:30px;color:#111;}
.list_page .top_wrap .search_category_tit2{text-align:right;margin:30px;font-size:50px;color:#111;}
.list_page .top_wrap .list_wrap .list_box{margin:15px 0 65px;}
.top_wrap .default_top_div{position:relative; text-align:left;width:100%;font-size:30px;color:#111;overflow:hidden;}

.top_wrap .bn_wrap{width:100%;margin:38px auto;overflow:hidden;}
.top_wrap .visual_bn{width:1200px;margin:0 auto;overflow:hidden;}
.top_wrap .bn_wrap img{width:100%;}
.top_wrap .bn_wrap .bn_cont.bn02{width:100%;margin:0 auto;text-align: center;}
.top_wrap .bn_wrap .bn_cont.bn02 .main_txt{width:100%;margin:0 auto;text-align: center;font-family: 'Gotham','Noto Sans KR',sans-serif;}
.top_wrap .bn_wrap .bn_cont.bn02 .main_txt p:first-child{font-size: 2.5rem;font-weight: 500;}
.top_wrap .bn_wrap .bn_cont.bn02 .main_txt p:last-child{font-size:5.833rem;font-weight: 600;}
.top_wrap .bn_wrap .bn_cont.bn02 .sub_txt{margin-top: 1.677rem;margin-bottom:2.5rem;}
.top_wrap .bn_wrap .bn_cont.bn02 .sub_txt p{font-size: 1.677rem;}
/* .top_wrap .bn_wrap .bn_cont.bn03{float:right;}
.top_wrap .bn_wrap .bn_main_m{display:none;} */

/* 하단 */
.list_page .bottom_wrap{clear:both;min-height:600px;padding-bottom:100px;/* background:#f5f5f5;*/}
.price_tab{text-align:right;margin:0 0 50px;}
.price_tab a{font-size:14px;font-weight:300;color:#333;margin-left:10px;}
.price_tab a:before{content:'·';display:inline-block;width:10px;height:10px;padding-right:10px;}
.price_tab a.active:before{content:'';width:11px;height:10px;margin:0 3px 0 0;font-weight:500;background:url("/front/img/common/icon_chk.png") no-repeat center / 11px 10px;}

/* 리스트 정렬선택 */
.m_choice{display:none;margin-bottom:50px;border-top:1px solid #d2d2d2;border-bottom:1px solid #d2d2d2;}
.m_choice .select_box{border:none;margin-left:10px;padding:7px 25px 7px 0;border-left:1px solid #d2d2d2;border-right:1px solid #d2d2d2;}
.grid_list{position:absolute;top:0;right:0;}
.grid_list button{position:relative;display:block;float:left;width:20px;height:20px;margin:0 15px;padding:7px 0;background:url('/front/img/common/icon_grid.png') no-repeat;box-sizing:content-box;outline:none;}
.grid_list button:before{content:'';position:absolute;top:0;left:-15px;display:inline-block;width:1px;height:35px;border-left:1px solid #D2D2D2;}
.grid_list .grid1{background-position:0 8px;}
.grid_list .grid1.on{background-position:0 -22px;}
.grid_list .grid2{background-position:center 8px;}
.grid_list .grid2.on{background-position:center -22px;}
.grid_list .grid3{background-position:-60px 8px;}
.grid_list .grid3.on{background-position:-60px -22px;}

.list_box ul.grid_one li{width:calc(100% - 50px);width:-webkit-calc((100% / 2) - 50px);width:-moz-calc((100% / 2) - 50px);width:calc((100% / 2) - 50px);margin:5.8% 0 0 50px;}
.list_box ul.grid_two li{width:-webkit-calc((100% / 2) - 50px);width:-moz-calc((100% / 2) - 50px);width:calc((100% / 2) - 50px);margin:5.8% 0 0 50px;}
.list_box ul.grid_three li{width:-webkit-calc((100% / 3) - 50px);width:-moz-calc((100% / 3) - 50px);width:calc((100% / 3) - 50px);margin:5.8% 0 0 50px;}


.list_box .best_sale{width:80px; z-index:999;  padding:10px 0 10; background:black ; font-size:15px; color:white;}
.list_box .best_sale img{width:80px;}


@media screen and (max-width:1200px){
	.list_wrap{width:100%;}
	
	.section_wrap {width: 100%;}
	.section_wrap.first .section_banner{width: 100%;}
	.section_wrap.first .section_banner:nth-of-type(1){margin-right: 0;margin-bottom:5.417rem;}
	.section_wrap.first .section_banner .main_link > img {width: 100%;}

	.section_wrap.second {}
	.section_wrap.second > div {width: 100%;}
	.section_wrap.second .section_banner:not(:last-child) {margin-right: 0;}
	.section_wrap.second .section_banner {width: 100%;margin-top:5.417rem;}
	.section_wrap.second .section_banner .content img {width: 100%;}
}
@media screen and (max-width:940px){
	.list_box .best_sale{position:relative;}
	.list_wrap ul{margin-left:-20px;}
	.list_wrap ul li{width:-webkit-calc((100% / 2) - 20px);width:-moz-calc((100% / 2) - 20px);width:calc((100% / 2) - 20px);margin-left:20px;}
	.list_wrap ul li .product_info dl{min-height:133px;}
}
@media screen and (max-width:740px){
	.list_box .best_sale{position:relative;}
	.list_page .bottom_wrap{padding-bottom:0;}

	.list_wrap ul{margin-left:0;}
	.list_wrap ul li{width:100%;margin-left:0;}

	.list_box ul.grid_one li{width:calc(100% - 20px);width:-webkit-calc((100% / 2) - 20px);width:-moz-calc((100% / 2) - 20px);width:calc((100% / 2) - 20px);margin:5.8% 0 0 20px;}
	.list_box ul.grid_two li{width:-webkit-calc((100% / 2) - 20px);width:-moz-calc((100% / 2) - 20px);width:calc((100% / 2) - 20px);margin:5.8% 0 0 20px;}
	.list_box ul.grid_three li{width:-webkit-calc((100% / 3) - 20px);width:-moz-calc((100% / 3) - 20px);width:calc((100% / 3) - 20px);margin:5.8% 0 0 20px;}
	.top_wrap .bn_wrap .bn_cont{float:none;width:100%;}
	.top_wrap .bn_wrap .bn_cont.bn02{margin-bottom:10px;}

}
@media screen and (max-width:640px){
	.price_tab{display:none;}
	.m_choice{display:block;}
}
@media screen and (max-width:480px){
	.list_page .top_wrap h3.search_category_tit{font-size:30px;}
}



/* order */
/* 주문관련 경로 */
.page_tit .order_load{position:absolute;bottom:0;right:0;color:#aaa;font-size:15px;font-weight:500;}
.page_tit .order_load span:before{content:'';display:inline-block;vertical-align:top;width:11px;height:22px;margin:0 19px;background:url('/front/img/common/icon_order_right.png') no-repeat center;}
.page_tit .order_load span:first-child:before,
.page_tit .order_load span.active:first-child:before{display:none;}
.page_tit .order_load span.active{color:#111;}
.page_tit .order_load span.active:before{content:'';display:inline-block;vertical-align:top;width:11px;height:30px;background:url('/front/img/common/icon_order_right_off.png') no-repeat center;}

/* 장바구니 */
.order_wrap{width:1200px;margin:0 auto;padding:68px 48px;background:#fff;overflow:hidden;}
/*.order_wrap h3{padding:15px 0 10px 7px;}*/

.cart_page .order_wrap{padding-top:0;}
.cart_menu{position:relative;padding:15px 0 15px 7px;overflow:hidden;}
.cart_menu .info{position:absolute;bottom:10px;right:0;}
.cart_menu .chk_la{float:left;}
.cart_menu .btn_del{float:left;font-size:13px;font-weight:600;}
.cart_menu .btn_del:before{content:'|';display:inline-block;width:2px;height:22px;line-height:23px;margin:0 10px;padding-right:35px;color:#bbb;background:url('/front/img/common/icon_trash.jpg') no-repeat center right / 13px;}

/*.login_wrap{position:relative;max-width:640px;height:100%;margin:0 auto;padding:10px;overflow:hidden;}*/
/*.login_wrap h1{text-align:center;margin:20% 0;}*/
/*.login_wrap h1 img{min-width:250px;max-width:50%;}*/
/*.login_wrap .logo_samsung{position:absolute;top:0;right:10px;}*/
/*.login_wrap .logo_samsung img{width:100px;}*/
/*.login_wrap .login_form{width:100%;margin:0 auto;padding-bottom:30px;overflow:hidden;border-bottom:1px solid #333;}*/
/*.login_wrap .login_form .login_box{float:left;width:100%;height:105px;overflow:hidden;}*/
/*.login_wrap .login_form .login_box input[type="text"],*/
/*.login_wrap .login_form .login_box input[type="password"]{float:left;border:1px solid #e7e7e7;background:#eee;width:100%;height:50px;padding-left:3%;margin-top:5px;}*/
/*.login_wrap .login_form .login_box input#get_login_id{margin-top:0;}*/
/*.login_wrap .login_form .login_box .hide{width:0;height:0;overflow:hidden;visibility:hidden;line-height:0;font-size:0;position:absolute;left:-999px;}*/
/*.login_wrap .login_form .login_box input[type="button"]{float:right;width:24%;margin-top:-50px;}*/
/*.login_wrap .login_form .login_box .button{float:right;text-align:center;color:#fff;border:none;background:#2ac1bc;width:100%;height:100%;font-size:20px;-webkit-appearance:none;}*//* 사파리버튼리셋 */
/*.login_wrap .login_form .save_id{float:left;position:relative;margin-right:10px;padding:20px 0 0;}*/
.btn_join{float:left;text-align:center;width:80px;height:30px;margin-top:15px;padding:7px 0;font-size:15px;background:#2ac1bc;}
.btn_join a{display:block;color:#fff;}

/*.login_wrap .login_form .save_id label{font-size:17px;color:#333;}*/
.find_wrap{margin-top:30px;color:#c3c3c3;overflow:hidden;}
.find_wrap p{color:#666;font-size:17px;margin-bottom:15px;}
.find_wrap a{display:block;float:left;color:#333;font-size:17px;text-decoration:none;}
.find_wrap .btn_id:after{content:'|';display:inline-block;vertical-align:top;color:#ddd;margin:0 10px;}
/*.login_wrap .cs_wrap{position:absolute;bottom:10px;left:10px;}*/
/*.login_wrap .cs_wrap p{font-size:17px;color:#333;margin-bottom:5px;text-decoration:none;}*/
/*.login_wrap .cs_wrap p:first-child{font-size:25px;margin-bottom:25px;}*/

.iframe_terms{width:100%;}

/* 장바구니 상품 리스트 */
.order_list{width:100%;border-top:1px solid #bbb;overflow:hidden;}
.order_list li{position:relative;border-bottom:1px solid #eee;height:140px;padding:20px 40px;overflow:hidden;}
.order_list li > div{float:left;}
.order_list li .chk_wrap{position:absolute;top:10px;left:6px;text-align:center;}
.order_list li .img_cont{text-align:center;position:absolute;top:50%;left:40px;width:136px;height:136px;margin-top:-68px;overflow:hidden;}
.order_list li .img_cont a{display:block;height:100%;}
.order_list li .img_cont img{width:auto;height:100%;vertical-align:middle;}
.order_list li .list_info{width:100%;padding:1.5vw 0 0 23%;}
.order_list li .list_info .product_name{font-size:18px;margin:0 0 15px;
display:inline-block;width:80%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;
white-space:normal;
line-height:1.2;
min-height:1.2em;
max-height:2.4em;text-align:left;word-wrap:break-word;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;
}
.order_list li .list_info .amount_cont{float:left;margin-right:10px;}
.order_list li .list_info .option{float:left;color:#777;font-size:16px;}
.order_list li .price{position:absolute;bottom:50%;right:15px;margin-bottom:-20px;text-align:right;width:100px;/* padding-top:45px;*/font-size:14px;}
.order_list li .price strike{}
.order_list li .price b{font-size:18px;line-height:21px;}
.cart_page li.cont_none{width:100%;text-align:center;padding:60px 0 !important;line-height:100%;font-size:20px;}

/* 상품총액 */
.total_wrap{position:relative;width:100%;height:80px;margin:10px 0;overflow:hidden;}
.total{position:absolute;top:0;right:0;background:#f6f7f8;width:584px;padding:16px 10px;}
.total_wrap dl{float:left;text-align:center;color:#555;}
.total_wrap dt{font-size:14px;}
.total_wrap dd{font-size:15px;}
.total_wrap dd b{font-size:20px;}
.total_wrap .product_price{width:32%;}
.total_wrap .delivery_price{width:28%;}
.total_wrap dl:before{content:'';float:left;width:68px;height:50px;background:url('/front/img/common/icon_total01.png') no-repeat 0px 8px;}
.total_wrap dl:first-child:before{content:'';display:none;}
.total_wrap .total_price{float:right;width:40%;}
.total_wrap .total_price dd{color:#1428a0;line-height:21px;}
.total_wrap .total_price:before{content:'';float:left;width:68px;height:50px;background:url('/front/img/common/icon_total02.png') no-repeat 0 19px;margin-left:20px;}

/* 주문결제 */
.order_page{}
.order_form h3{padding:15px 0 10px 7px;font-size:18px;color:#111;border-bottom:1px solid #bbb;}
.order_form h3 span{margin-left:30px;}
/*.order_form .cont{margin:20px 0;}*/
.order_form dl{padding:25px 0 0;min-height:20px;height:auto;font-size:15px;clear:both;}
/*.order_form dl:first-child{padding-top:0;}*/
.order_form .select_box{border-color:#ccc;}
.order_form dl label{height:24px;line-height:24px;}
.order_form dl.address_cont{height:auto;}
.order_form dl.request_cont{height:85px;}
.order_form dl dt{float:left;padding:2px 0 0 4.3%;font-weight:500;}
.order_form dl dd{padding-left:30%;}
.order_form dl dd input[type="text"],
.order_form dl dd input[type="password"]{height:26px;border:1px solid #ccc;}
.order_form dl dd span{color:#999;}
.order_form dl .btn_select{width:93px;height:26px;border-color:#ccc;}
.order_form dl b.mg{margin:0 10px;color:#aaa;}
.order_page .amount_cont{border:none;color:#777;font-size:16px;}

/* 주문페이지 총금액 */
.total_wrap.order_part .total{width:auto;padding:0;}
.total_wrap.order_part .order_price{padding:15px 0 15px 20px;overflow:hidden;}
.total_wrap.order_part .order_price li{float:left;margin-right:20px;}
.total_wrap.order_part .order_price p{display:inline-block;}
.total_wrap.order_part .order_price span{display:inline-block;margin-top:3px;font-size:16px;font-weight:400;}
.total_wrap.order_part .order_price strong{text-align:right;font-size:20px;font-weight:700;margin-left:40px;}

/* 주문자,배송지정보 */
.order_form dl.mail_cont dd input{width:115px;}
.order_form dl.mail_cont .select_box{width:93px;}
.order_form dl input[type="button"]{width:83px;height:26px;font-size:13px;font-weight:700;border:1px solid #415369;color:#415369;margin-left:5px;}
.order_form dl.phone_cont dd input{width:80px;}
.order_form dl.address_cont .mg{margin:10px 0;}
.order_form dl.request_cont .select_box{width:283px;}
.order_form dl.request_cont label{margin:0;}
.order_form dl.request_cont .wid_l{margin-top:10px;}

/* 결제수단 */
.order_form .cont.pay_box{margin:0;border-bottom:1px solid #bbb;}
.order_form .pay_cont{position:relative;overflow:hidden;}
/*.order_form .pay_cont:before{content:'';width:1px;height:100%;background:#bbb;position:absolute;top:0;left:50%;}*/
.order_form .pay_cont li{position:relative;float:left;width:calc(100% / 2);padding:20px 0;padding:30px 30px 30px 40px;}
.order_form .pay_cont li:first-child{border:none;margin:0;padding:54px 0 54px 40px;}
.order_form .pay_cont li:first-child strong{font-size:15px;font-weight:600;}
.order_form .pay_cont li:first-child input[type="text"]{text-align:right;width:100px;color:#555;}
.order_form .pay_cont li:first-child .warn{position:absolute;top:10px;left:40px;font-size:18px;color:#c84242;}

.order_form .pay_cont li:last-child dt,.order_form .pay_cont li:last-child dd{font-size:16px;}
.order_form .pay_cont li:last-child strong{font-size:20px;font-weight:600;}
.order_form .pay_cont li:last-child dd{float:right;}

.order_form .pay_cont dl.price_all{border-top:1px solid #000;}
.order_form .pay_cont dl.price_all dt{font-size:18px;}
.order_form .pay_cont dt{width:130px;}
.order_form .pay_cont dd{width:auto;}

.order_form .pay_cont .btn_card{display:inline;height: 30px;padding: 6px 10px;background: #1428a0;color: #fff;}
.order_form .pay_cont .sbr{display:none;}

.order_form .choice_cont{display:none;position:absolute;bottom:10px;right:10px;font-size:13px;}
.order_form .choice_cont.on{display:block;}
.order_form label.radio{font-size:13px;margin-right:20px;}
.order_form .order_term_wrap{margin:0;}
.order_form .order_term_wrap dl{overflow:hidden;background:#f8f8f8;margin:10px 0;padding:10px 40px 40px 40px;}
.order_form .order_term_wrap .tit{font-size:16px;color:#111;width:100%;padding:0;}
.order_form .order_term_wrap .cont{width:100%;height:228px;margin-top:5px;padding-left:0;font-size:14px;background:#fff;border:1px solid #eee;overflow:auto;-webkit-overflow-scrolling:touch;}
.order_form .order_term_wrap label{width:auto;margin-left:40px;font-size:17px;}
.order_form .order_term_wrap .chk_box+label:before{float:left;margin:2px 10px 0 0;}


/* 주문완료 */
.order_end{width:1200px;margin:0 auto;padding:50px 265px 30px;background:#fff;}
.order_end p{text-align:center;}
.order_end .tit{font-size:36px;font-weight:500;color:#111;}
.order_end .sub_tit{font-size:13px;font-weight:300;margin:40px 0 60px;}
.order_end .tit{font-size:36px;font-weight:500;color:#111;}
.order_end .sub_tit{font-size:13px;font-weight:300;margin:40px 0 60px;}
.order_end .sub_tit span{font-size:#6c7580;color:#1428a0;}
.order_end .order_info{font-size:14px;color:#111;border-top:1px solid #acacac;border-bottom:1px solid #eee;}
.order_end .order_info01 th{background:#f6f6f6;border-bottom:1px solid #d4d4d4;height:43px;}
.order_end .order_info01 td{text-align:center;background:#fff;width:50%;height:148px;}
.order_end .order_info01 td.point_red{font-size:22px;}
.order_end .order_info01 td.point_red b{font-size:26px;}
.order_end .order_info02{border-top:1px solid #d4d4d4;}
.order_end .order_info02 th{text-align:left;width:30%;background:#f6f6f6;padding:0 5%;color:#555;font-weight:400;}
.order_end .order_info02 td{border-top:1px solid #eee;padding:0 5%;height:50px;}
.order_end .order_info02 td b,.order_end .order_info02 td.point_red{font-weight:500;}
.order_end .order_info02 td.first{border-top:none;}

@media screen and (max-width:1200px){
	.location_wrap{width:98%;}

	.page_tit{width:100%;padding:0 10px;}
	.page_tit .order_load{right:10px;}

	.order_wrap{width:100%;padding:30px 10px;}
	.order_wrap h3{padding:15px 0 7px;}
	.order_end{width:100%;padding:50px 5% 30px;}
}

@media screen and (max-width:900px){
	.sub_bg{padding:30px 0;}
	.page_tit h2{font-size:20px;}
	.page_tit .order_load{font-size:12px;position:static;}
	.page_tit .order_load span.active:before,
	.page_tit .order_load span:before{vertical-align:middle;background-size:8px;margin:0 5px;}
	.order_list li .chk_wrap{top:3px;left:6.5px;}
	.order_list li .list_info{width:100%;padding:0 0 0 125px;}
	.order_list li .img_cont{left:0;width:114px;height:82px;margin-top:-41px;}
	.order_list li .price{bottom:10px;margin:0;padding:8px 0 0;}

	.order_form dl dt{padding-left:0;}
	.order_form .order_term_wrap dl{padding:10px;}
	.order_form .order_term_wrap label{margin-left:10px;}
	.order_form .pay_cont input[name="input_radio"]{width:auto;}
}
@media screen and (max-width:640px){
	.order_page .order_list li{height:141px;}
	.order_list li{padding:10px 0;}
	.order_list li .list_info .product_name{font-size:13px;margin-bottom:5px;}
	.order_list li .list_info .amount_cont{display:inline-block;float:none;margin:0;}
	.order_list li .list_info .amount_wrap .sbr{display:block;}
	.order_list li .list_info .option{width:100%;font-size:13px;}
	.order_page .amount_cont{font-size:13px;}

	.total{width:100%;padding:10px 0;}
	.total_wrap dt{font-size:12px;}
	.total_wrap dd b{font-size:15px;}
	.total_wrap dl:before,.total_wrap .total_price:before{width:22px;background-size:20px;height:38px;}
	.total_wrap .total_price:before{margin-left:0;background-position:0 14px;}

	.total_wrap.order_part{height:100px;}
	.total_wrap.order_part .total{width:100%;}
	.total_wrap.order_part .order_price{}
	.total_wrap.order_part .order_price li{float:none;overflow:hidden;}
	.total_wrap.order_part .order_price p{float:left;margin:0;}
	.total_wrap.order_part .order_price strong{float:right;margin:0;}

	/* 결제수단 */
	.order_form .cont.pay_box{border:none;}
	.order_form .pay_cont:before{display:none;}
	.order_form .pay_cont li{float:none;width:100%;padding:10px 0;}
	.order_form .pay_cont li:first-child{padding:30px 0 10px;border-bottom:1px solid #bbb;}
	.order_form .pay_cont li strong{line-height:100%;}
	.order_form .pay_cont li:first-child input[type="text"]{width:100px;}
	.order_form .pay_cont li:first-child .warn{left:0;}

	.order_form .pay_cont li:last-child dt,
	.order_form .pay_cont li:last-child dd{font-size:16px;}

	.order_form .pay_cont dl.price_all dt{font-size:15px;}
	.order_form .pay_cont dl{min-height:auto;overflow:hidden;}
	.order_form .pay_cont dt{width:90px;}

	.order_form dl dd input{width:100%;}
	.order_form .choice_cont{position:static;bottom:0;display:block;margin:10px;}
	.order_form dl.mail_cont dd input{width:78px;}
	.order_form dl.phone_cont dd input{width:85px;}
/*	.order_form dl.mail_cont dd .select_box{display:none;}*/
	.order_form dl b.mg{margin:0 0 0 3px;}
	.order_form dl.address_cont .post{width:100px;}
	.order_form .request_cont dt,.order_form .request_cont dd{float:none;width:100%;}

	.order_form .order_term_wrap .tit{font-size:13px;}
	.order_form .order_term_wrap label{font-size:13px;}
	.order_form .order_term_wrap .cont{height:150px;}
	.order_form .pw_check{margin-top:-6px;padding:0;}
	#ip_id{width:128px;}

	.cart_menu{padding-bottom:9px;}
	.cart_menu .btn_del{font-size:12px;}
	.cart_menu .btn_del:before{background-size:50%;margin:3px 7px;padding-right:27px;}

	.cart_page li.cont_none{font-size:15px;}
}
@media screen and (max-width:480px){
	.page_tit .order_load{position:static;}
	.page_tit .order_load span:before{vertical-align:middle;height:20px;margin:0 6px;}
	.order_form dl dt{float:none;margin:0 0 5px;}
	.order_form dl dd{padding-left:0;}
	.order_form dl.request_cont{height:auto;}
}
@media screen and (max-width:360px){
	.order_end{width:100%;padding:50px 2% 30px;}
	.order_end .sbr{display:block;}
}


/* 마이페이지 */
/* 배송조회 */
.delivery_page{}
.delivery_page .top_wrap .list_wrap{text-align:center;}

.delivery_page .sch_wrap{display:inline-block;*display:inline;zoom:1;}
.delivery_page .select_box{float:left;border:none;border-bottom:1px solid #e6e5e5;width:135px;height:40px;font-size:18px;}
.delivery_page .select_box label{padding-top:0.4vw;}
.delivery_page .sch_cont{float:left;}
.delivery_page #ip_sch{border:none;border-bottom:1px solid #e6e5e5;width:400px;height:40px;margin:0 20px;}
.delivery_page .ip_btn_wrap{float:left;}
.delivery_page .ip_btn{width:125px;height:40px;background:#4d4d4d;color:#fff;font-size:16px;}

.delivery_page .sch_info{display:inline-block;*display:inline;zoom:1;margin:20px 0;}
.delivery_page .sch_info p{float:left;font-size:12px;color:#777;margin-left:5px;}
.delivery_page .sch_info p:nth-child(1){margin:0;}

/* 리스트 테이블 시작 */
.delivery_page .delivery_list{width:885px;margin:50px auto 0;}
.delivery_page .non_search{text-align:center;line-height:150px;font-size:15px;}
.delivery_page .delivery_table{display:table;width:100%;}
.delivery_page .delivery_table li,
.delivery_page .delivery_table > div{display:table-cell;vertical-align:middle;}

/* 간격 */
.delivery_page .delivery_table .date{width:157px;}
.delivery_page .delivery_table .goods{width:380px;}
.delivery_page .delivery_table .state{width:102px;}
/*.delivery_page .delivery_table .detail{width:246px;}*/

/* 타이틀부분 */
.delivery_page .tit li{text-align:center;height:40px;line-height:40px;background:#1428a0;color:#fff;}
.delivery_page .tit .date{line-height:15px;}

/* 리스트부분 */
.delivery_page .list .delivery_table{background:#fff;height:150px;margin-top:10px;overflow:hidden;}
.delivery_page .list .delivery_table:first-child{margin:0;}
.delivery_page .list .delivery_table div{text-align:center;border-left:1px solid #eee;line-height:100%;font-size:16px;}
.delivery_page .list .delivery_table div span{display:block;padding:5px 0;}

.delivery_page .list .delivery_table .date{border-left:none;font-size:14px;color:#222;}
.delivery_page .list .delivery_table .date span:last-child{font-size:12px;color:#777;}
.delivery_page .list .delivery_table .goods{text-align:left;padding:0 20px;}
.delivery_page .list .delivery_table .goods .name{font-size:18px;display:inline-block;width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.delivery_page .list .delivery_table .goods .etc{font-size:12px;font-weight:300;color:#777;}
.delivery_page .list .delivery_table .state{font-weight:500;color:#1428a0;}
/*.delivery_page .list .detail a{display:inline-block;width:155px;height:40px;font-size:16px;font-weight:500;color:#1428a0;border:1px solid #1428a0;border-radius:30px;padding-top:6px;}*/


/* 배송조회 상세 */
.delivery_detail_wrap{width:1200px;margin:0 auto;padding:68px 48px;background:#fff;overflow:hidden;}
.delivery_detail_wrap .date{font-size:18px;margin:0 0 10px;color:#1428a0;}
.delivery_detail_wrap .date span:first-child{color:#111;}
.delivery_detail_wrap .date span:first-child:after{content:'';display:inline-block;width:2px;height:17px;background:#bbb;margin:-2px 10px -2px 12px;}

/*.delivery_detail_wrap .order_form h3:first-child{margin-top:50px;}*/
.delivery_detail_wrap .order_form .cont{margin:20px 0;}
.delivery_detail_wrap .order_form dl{border-bottom:1px solid #eee;margin:0;padding:0;}
.delivery_detail_wrap .order_form dl:first-child{border-top:1px solid #eee;}
.delivery_detail_wrap .order_form dl dt{width:130px;margin:0;background:#f6f6f6;}
.delivery_detail_wrap .order_form dl dt,
.delivery_detail_wrap .order_form dl dd{padding:13px 0 13px 40px;font-size:14px;}



@media screen and (max-width:1200px){
	.delivery_detail_wrap{width:100%;padding:50px 10px;}
}
@media screen and (max-width:900px){
	.list_box .best_sale{position:relative;}
	/*.delivery_page .sch_wrap{width:100%;}*/
	.delivery_page .select_box{/* width:25%;*/height:30px;line-height:27px;font-size:12px;}
	.delivery_page #ip_sch{/* width:70%;*/height:30px;/* margin:0 0 0 20px;*/}
	.delivery_page .ip_btn{/* display:block;margin:30px 0 0;*/width:96px;height:30px;font-size:12px;}

	.delivery_page .delivery_list{width:100%;}
	.delivery_page .tit{display:none;}
	.delivery_page .list .delivery_table{position:relative;display:block;height:100px;}
	.delivery_page .list .delivery_table{height:120px;margin-bottom:10px;}
	.delivery_page .list .delivery_table div{display:block;text-align:left;width:100%;border-left:none;padding:10px 20px;font-size:font-size:12px;;}
	.delivery_page .list .delivery_table .date{width:100%;height:20px;padding:0 10px;background:#1428a0;color:#fff;font-size:11px;overflow:hidden;}
	.delivery_page .list .delivery_table .date span{float:left;}
	.delivery_page .list .delivery_table .date span:last-child{float:right;color:#fff;}
	.delivery_page .list .delivery_table .state{position:absolute;top:20px;left:20px;padding:5px 0;font-size:12px;}
	.delivery_page .list .delivery_table .goods{padding:30px 20px 0;}
	.delivery_page .list .delivery_table .goods span{padding:0;}
	.delivery_page .list .delivery_table .goods .name,
	.delivery_page .list .delivery_table .goods .price{font-size:12px;}
	.delivery_page .list .delivery_table .goods .etc{font-size:11px;margin-top:5px;}
	/*.delivery_page .list .delivery_table .detail{display:none;}*/

	.delivery_detail_wrap .order_form dl dt,
	.delivery_detail_wrap .order_form dl dd{padding:13px 10px;}
}
@media screen and (max-width:740px){
	.list_box .best_sale{position:relative;}
	/*.delivery_page .sch_wrap{width:100%;}*/
	.delivery_page .select_box{width:88px;}
	.delivery_page #ip_sch{width:200px;margin:0 0 0 10px;}
	.delivery_page .ip_btn_wrap{float:none;text-align:center;padding-top:50px;}
	/*.delivery_page .sch_info p{float:none;text-align:left;}*/
	.delivery_detail_wrap .order_form dl dt{width:82px;}
}
@media screen and (max-width:420px){
	.list_box .best_sale{position:relative;}
	.delivery_detail_wrap .order_form dl dd{width:calc(100% - 82px);}
}

.without{text-align:center;font-size:20px;/*height:300px;*/line-height:400px;}

/* sc_page */
.sc_page{background:#fff;min-height:300px;margin:40px 0;padding:30px 20px;}
.sc_page .sch_box{text-align:right;}
.sc_page .sch_box label{width:50px;padding-top:5px;}
.sc_page .select02{height:30px;}
.sc_page #ip_sch{height:30px;margin:0 5px;border:none;border-bottom:1px solid #e6e5e5;}
.sc_page #btn_sch{width:70px;height:30px;font-size:16px;color:#fff;background:#4d4d4d;}
.sc_page .sc_table{}
.sc_page .sc_table .end{color:#1428a0;}
.sc_page .sc_table .ing{color:#555;}

.sc_page .sch_box .branch_text_div{float:center; width:100%; margin:10px;font-size:15px; font-weight:500;}
.sc_page .sch_box .branch_text_div .div_sub{position:relative; margin:10px; margin-right:5px;}


.qa_write{background:#f9f9f9;border-top:1px solid #1428a0;}
.qa_write dl{padding:0 25px;overflow:hidden;}
.qa_write .tit_cont01{float:left;}
.qa_write .tit_cont02{float:right;}
.qa_write dl label{width:80px;font-size:15px;font-weight:500;}
.qa_write dl input{margin:5px 0;}
.qa_write .tit_cont01 dt input{width:567px;}
.qa_write .tit_cont02 dd input{width:230px;}
.qa_write .write_cont{clear:both;border-top:1px solid #d5d5d5;padding:30px 20px;overflow:hidden;}
.qa_write .write_cont textarea{width:100%;min-height:300px;height:100%;font-size:15px;}

.qa_view .view_cont{}
.qa_view .view_cont.question{}
.qa_view .view_cont.answer{}

/* point */
.my_point{width:300px;;line-height:42px;margin:0 auto;padding:0 20px;font-weight:700;border-bottom:1px solid #555;overflow:hidden}
.my_point dt{float:left;font-size:18px;}
.my_point dd{float:right;font-size:25px;}

/* 매장찾기 */
.branch_page{}
.branch_page .sch_box{text-align:center;}
.branch_page .sc_table{}
.branch_page .sc_table .local{width:15%;}
.branch_page .sc_table .name{width:20%;}
.branch_page .sc_table .addr{width:auto;}
.branch_page .sc_table .num{width:20%;}
.branch_page .sc_table .shop{width:100px;}

.branch_page .m_table{display:none;margin-top:50px;border-top:2px solid #1428a0;}
.branch_page .m_table ul{margin:0;padding:0;}
.branch_page .m_table ul li{width:100%;border-bottom:1px solid #ddd;margin:0;padding:15px 0;font-size:13px;font-weight:500;}
.branch_page .m_table .first{overflow:hidden;font-size:14px;}
.branch_page .m_table .first .place{float:left;}
.branch_page .m_table .first .shop{float:right;color:#1428A0;}
.branch_page .m_table .first .shop a{display:inline-block;width:30px;}
.branch_page .m_table .addr{margin:5px 0;}
.branch_page .m_table .tel{text-align:right;}
.branch_page .m_table .result_none{padding:0;height:100px !important;line-height:100px !important;}


@media screen and (max-width:1200px){
	.qa_write .tit_cont01{width:60%;}
	.qa_write .tit_cont02{width:40%;}
	.qa_write dl input{width:calc(100% - 83px) !important;}
}

@media screen and (max-width:740px){
	.qa_list td.tit a{width:127px;}

	.sc_page{padding:30px 10px;}
	.sc_page .sc_table .hide_s{display:none;font-size:0;}

	.qa_write dl{width:100% !important;padding:0 10px;}
	.qa_write dl label,.qa_write dl input{float:none;width:100% !important;}
	.qa_write .write_cont{padding:30px 10px;}
}
@media screen and (max-width:640px){
	.sc_page .sch_box{text-align:left;}
	.sc_page .sch_box .sch_txt{width:56vw;}

	.branch_page .w_table{display:none;}
	.branch_page .m_table{display:block;}

}
@media screen and (max-width:480px){
	.list_box .best_sale{position:relative;}
	.sc_page .sch_box .sch_txt{width:50vw;}
	.sc_page #btn_sch{width:50px;}
	.sc_page #ip_sch{width:46%;}
}

/* pagination */
.page-index {margin-top:20px;}
.page-index {width:100%;text-align:center;}
.page-teal .page-link {background-color:#e9ecef;color:#333;border-color:none;}
.page-teal .page-link:hover {background-color:#ced4da;color:#343a40;}
.page-teal .active .page-link {background-color:#17a2b8;color:#fff;}
.page-teal .active .page-link:hover {background-color:#17a2b8;color:#fff;}
.page-teal .page-link.disabled {color:#adb5bd;}

