/*.sel_box {background-image: url('../../../front_include/imgs/component/select_arrow_default.png');}
.sel_box.sel_black {background-image: url('../../../front_include/imgs/component/select_arrow_white.png');}
.sel_box.sel_white {background-image: url('../../../front_include/imgs/component/select_arrow_black.png');}
.sel_box.sel_blue {background-image: url('../../../front_include/imgs/component/select_arrow_blue.png');}
.sel_box.sel_pink {background-image: url('../../../front_include/imgs/component/select_arrow_pink.png');}*/