@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 400;
  src: url('../../../front_include/fonts/NanumGothic/NanumGothic-Regular.eot');
  src: url('../../../front_include/fonts/NanumGothic/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../../front_include/fonts/NanumGothic/NanumGothic-Regular.woff2') format('woff2'),
    url('../../../front_include/fonts/NanumGothic/NanumGothic-Regular.woff') format('woff'),
    url('../../../front_include/fonts/NanumGothic/NanumGothic-Regular.ttf') format('truetype');
  src: local(※), url('../../../front_include/fonts/NanumGothic/NanumGothic-Regular.woff') format('woff');
}
@font-face {
  font-family: 'NanumGothicB';
  font-style: normal;
  font-weight: 700;
  src: url('../../../front_include/fonts/NanumGothic/NanumGothic-Bold.eot');
  src: url('../../../front_include/fonts/NanumGothic/NanumGothic-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../../front_include/fonts/NanumGothic/NanumGothic-Bold.woff2') format('woff2'),
    url('../../../front_include/fonts/NanumGothic/NanumGothic-Bold.woff') format('woff'),
    url('../../../front_include/fonts/NanumGothic/NanumGothic-Bold.ttf') format('truetype');
  src: local(※), url('../../../front_include/fonts/NanumGothic/NanumGothic-Bold.woff') format('woff');
}
@font-face {
  font-family: 'NanumGothicEB';
  font-style: normal;
  font-weight: 800;
  src: url('../../../front_include/fonts/NanumGothic/NanumGothic-ExtraBold.eot');
  src: url('../../../front_include/fonts/NanumGothic/NanumGothic-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../../../front_include/fonts/NanumGothic/NanumGothic-ExtraBold.woff2') format('woff2'),
    url('../../../front_include/fonts/NanumGothic/NanumGothic-ExtraBold.woff') format('woff'),
    url('../../../front_include/fonts/NanumGothic/NanumGothic-ExtraBold.ttf') format('truetype');
  src: local(※), url('../../../front_include/fonts/NanumGothic/NanumGothic-ExtraBold.woff') format('woff');
}
@font-face {
  font-family: 'NotoKR';
  font-style: normal;
  font-weight: 400;
  src: url('../../../front_include/fonts/NotoSans/NotoKR-Regular/notokr-regular.eot');
  src: url('../../../front_include/fonts/NotoSans/NotoKR-Regular/notokr-regular.eot?#iefix') format('embedded-opentype'),
    url('../../../front_include/fonts/NotoSans/NotoKR-Regular/notokr-regular.woff2') format('woff2'),
    url('../../../front_include/fonts/NotoSans/NotoKR-Regular/notokr-regular.woff') format('woff'),
    url('../../../front_include/fonts/NotoSans/NotoKR-Regular/notokr-regular.ttf') format('truetype'),
    url('../../../front_include/fonts/NotoSans/NotoKR-Regular/notokr-regular.svg#NotoKR-Regular') format('svg');
  src: local(※), url('../../../front_include/fonts/NotoSans/NotoKR-Regular/notokr-regular.woff') format('woff');
}
@font-face {
  font-family: 'NotoKR-dl';
  font-style: normal;
  font-weight: 400;
  src: url('../../../front_include/fonts/NotoSans/NotoKR-DemiLight/notokr-demilight.eot');
  src: url('../../../front_include/fonts/NotoSans/NotoKR-DemiLight/notokr-demilight.eot?#iefix') format('embedded-opentype'),
    url('../../../front_include/fonts/NotoSans/NotoKR-DemiLight/notokr-demilight.woff2') format('woff2'),
    url('../../../front_include/fonts/NotoSans/NotoKR-DemiLight/notokr-demilight.woff') format('woff'),
    url('../../../front_include/fonts/NotoSans/NotoKR-DemiLight/notokr-demilight.ttf') format('truetype'),
    url('../../../front_include/fonts/NotoSans/NotoKR-DemiLight/notokr-demilight.svg#NotoKR-DemiLight') format('svg');
  src: local(※), url('../../../front_include/fonts/NotoSans/NotoKR-DemiLight/notokr-demilight.woff') format('woff');
}
@font-face {
  font-family: 'NotoKR-md';
  font-style: normal;
  font-weight: 400;
  src: url('../../../front_include/fonts/NotoSans/NotoKR-Medium/notokr-medium.eot');
  src: url('../../../front_include/fonts/NotoSans/NotoKR-Medium/notokr-medium.eot?#iefix') format('embedded-opentype'),
    url('../../../front_include/fonts/NotoSans/NotoKR-Medium/notokr-medium.woff2') format('woff2'),
    url('../../../front_include/fonts/NotoSans/NotoKR-Medium/notokr-medium.woff') format('woff'),
    url('../../../front_include/fonts/NotoSans/NotoKR-Medium/notokr-medium.ttf') format('truetype'),
    url('../../../front_include/fonts/NotoSans/NotoKR-Medium/notokr-medium.svg#NotoKR-Medium') format('svg');
  src: local(※), url('../../../front_include/fonts/NotoSans/NotoKR-Medium/notokr-medium.woff') format('woff');
}
@font-face {
  font-family: 'NotoKR-bd';
  font-style: normal;
  font-weight: 400;
  src: url('../../../front_include/fonts/NotoSans/NotoKR-Bold/notokr-bold.eot');
  src: url('../../../front_include/fonts/NotoSans/NotoKR-Bold/notokr-bold.eot?#iefix') format('embedded-opentype'),
    url('../../../front_include/fonts/NotoSans/NotoKR-Bold/notokr-bold.woff2') format('woff2'),
    url('../../../front_include/fonts/NotoSans/NotoKR-Bold/notokr-bold.woff') format('woff'),
    url('../../../front_include/fonts/NotoSans/NotoKR-Bold/notokr-bold.ttf') format('truetype'),
    url('../../../front_include/fonts/NotoSans/NotoKR-Bold/notokr-bold.svg#NotoKR-Bold') format('svg');
  src: local(※), url('../../../front_include/fonts/NotoSans/NotoKR-Bold/notokr-bold.woff') format('woff');
}
@font-face {
  font-family: 'NotoKR-bk';
  font-style: normal;
  font-weight: 400;
  src: url('../../../front_include/fonts/NotoSans/NotoKR-Black/notokr-black.eot');
  src: url('../../../front_include/fonts/NotoSans/NotoKR-Black/notokr-black.eot?#iefix') format('embedded-opentype'),
    url('../../../front_include/fonts/NotoSans/NotoKR-Black/notokr-black.woff2') format('woff2'),
    url('../../../front_include/fonts/NotoSans/NotoKR-Black/notokr-black.woff') format('woff'),
    url('../../../front_include/fonts/NotoSans/NotoKR-Black/notokr-black.ttf') format('truetype'),
    url('../../../front_include/fonts/NotoSans/NotoKR-Black/notokr-black.svg#NotoKR-Black') format('svg');
  src: local(※), url('../../../front_include/fonts/NotoSans/NotoKR-Black/notokr-black.woff') format('woff');
}

body {font: 16px/150% 'NotoKR', 'MalgunGothic', 'dotum', 'gulim', 'arial', sans-serif; letter-spacing: -0.0125em; box-sizing: border-box; -webkit-box-sizing: border-box;}