.component {margin-bottom: 60px;}
.component .title-box {padding-bottom: 10px;margin-bottom: 30px;}
.component .comp-title {font-size: 24px;color: #343a40;margin-bottom: 5px;}
.component .comp-exp {position: relative;display: inline-block;font-size: 16px;color: #868ba1;}
.component .comp-exp:after {content: '';position: absolute;bottom: -11px;left: 0;width: 100%;height: 2px;background-color: #E43737;}
.component .comp-part {padding-top: 20px;}

.btn-list li {margin-bottom: 10px;}
.btn-list li:last-child {margin-bottom: 0;}

.component .row {margin-bottom: 40px;}

.component .sub-title-box {margin-bottom: 20px;padding-left: 20px;padding-right: 20px;}
.component .sub-title-box h4 {font-size: 14px;font-family: "NotoKR-bd";color: #343a40;margin-top: 20px;}
.component .sub-title-box p {font-size: 13px;color: #868ba1;}